[2018-07-01 18:32] stayallive opened #2 "60 second timeout is a bit to strict for our codebase"
I know this is not a finished product but wanted to bring this under your attention. A 60 second timeout is a bit too strict for our application it looks like.

[code]

[2018-07-01 19:47] stayallive opened #3 "Environments without TTY (CI)"
Currently unable to run in CI (Drone, not tested in other systems) due to TTY being enabled.

[code]

[2018-07-01 20:38] nunomaduro commented on #2
@stayallive Thanks for bring that into my attention. Like you said, a release of this package is not even close.

But I will take that in consideration! Thanks!

[2018-07-01 23:37] nunomaduro commented on #2
@stayallive By info: This package will probably have a Laravel configuration file. Those options will be configurable.

[2018-07-01 23:48] #3 closed

[2018-07-02 02:33] redrain-wang opened #6 "Could not find a version of package nunomaduro/laravel-code-analyse matching your minimum-stability"
Could not find a version of package nunomaduro/laravel-code-analyse matching your minimum-stability (stable). Require it with an explicit version constraint allowing its desired stability.

[2018-07-02 05:48] JulianMar commented on #6
I have the same Issue but after adding laravel-code-analyse to my composer.json I get this Error.

[code]

[2018-07-02 06:49] DaanGeurts commented on #6
It's because your composer project has a minimum-stability much higher than dev, probably stable and this package is still a dev release.
[Check the Composer documentation for more information](https://getcomposer.org/doc/04-schema.md#minimum-stability).

[2018-07-02 07:21] nunomaduro commented on #6
@redrain-wang @JulianMar This package is under development and you shouldn't be using it.

Please follow me on [twitter](https://twitter.com/enunomaduro) or watch this repository. The beta release will be out real soon.

[2018-07-02 07:21] #6 closed

[2018-07-02 08:29] jameslkingsley opened #7 "Does not work on Windows"
[code]

Looks like it's to do with `Console\CodeAnalyseCommand` line 42.

[2018-07-02 11:11] ondrejmirtes commented on #2
I don't think there should be a timeout at all 😊 The analysis can take a long time on case of large codebases.

[2018-07-03 13:59] raphaelstolt opened #10 "Fix phpstan analyse error failing builds"
Currently the builds are failing due to a phpstan [error](https://travis-ci.org/nunomaduro/laravel-code-analyse/jobs/399588587#L659).

[2018-07-03 16:28] nunomaduro commented on #10
@raphaelstolt Just update the level of analyse to `2`. I will take a look in detail about phpstan detected errors before a public release. Thanks!

[2018-07-03 16:28] #10 closed

[2018-07-04 07:57] jameslkingsley commented on #7
I did that, and it solved the issue. However I am now getting this printed out in the console:
[code]

[2018-07-04 09:35] nunomaduro commented on #7
@jameslkingsley Ok. I need to take a deeper look on this. Thanks.

[2018-07-04 11:33] ChristopheB commented on #7
Removing `php` from `php phpstan` [here](https://github.com/nunomaduro/laravel-code-analyse/blob/6b81ad2a79035065a54df134665a70308458dfa1/src/Console/CodeAnalyseCommand.php#L45) does the trick for me (so the line would be just `'phpstan',`).

Not sure how it would impact other platforms though.

[2018-07-05 00:02] nunomaduro commented on #7
@ChristopheB @jameslkingsley Can you test now? Just used the solution that exists on laravel.

[2018-07-05 07:42] jameslkingsley commented on #7
Same error as before:
[code]

[2018-07-05 07:46] nunomaduro commented on #7
@jameslkingsley Have you made `composer update nunomaduro/laravel-code-analyse`?

[2018-07-05 13:29] ChristopheB commented on #7
I confirm that it does not work using the full path from `Artisan::phpBinary()`.

Please note that there are some special .bat files for Windows in vendor/bin, which can be used directly, so maybe there is no need to prefix the command with `php` at all.

[2018-07-05 16:18] jameslkingsley commented on #7
I did @nunomaduro

[2018-07-05 21:43] nunomaduro commented on #7
@jameslkingsley @ChristopheB How about now? Just made the solution you both proposed.

[2018-07-06 11:10] crissi opened #13 "If you need inspiration"
If you need inspiration, there is  another repo here that started with making phpstan laravel compatible, but does not seem to be much progress lately.

https://github.com/Weebly/phpstan-laravel

[2018-07-06 11:28] nunomaduro commented on #13
I am already doing that: https://github.com/nunomaduro/larastan#credits

[2018-07-06 11:28] #13 closed

[2018-07-07 02:01] ChristopheB commented on #7
It works thanks! :ok_hand:

[2018-07-07 11:45] #7 closed

[2018-07-09 07:53] jameslkingsley commented on #7
Works for me too!

[2018-07-09 14:34] sixlive opened #14 "Redis Facade publish, hmget, expire"
[code]

[2018-07-09 14:35] sixlive opened #15 "Resource Response make() method"
[code]

[2018-07-16 23:34] ForzaSFerrari opened #19 "php artisan code:analyse --level=max"
When I want to run this command, I get as result
Path D:\xxx\D:\xxx\app does not exist

When `php artisan code:analyse --paths="app"` or `php artisan code:analyse --paths="app" --level=max` runs then Larastan knows, where the app folder is.

[2018-07-17 12:48] ghost opened #20 "Weird style"
The commands running always to the end, but afterwards the style of the list/table is a bit weird. It runs in full screen. But sometimes it does happen that you have the 100% at the end of the list/table and the content of errors is between the penultimate line and the third penultimate line with the amount of tasks. Sometimes I also had it that the last line was between the second and third part

[2018-07-17 15:20] carusogabriel opened #21 "Extract extension rules to a separated package"
Hi @nunomaduro

Can I suggest you extract all the extension rules to a separated package? I'd love to use PHPStan + Laravel, but without a command, only the simple `vendor/bin/phpstan analyze` :smile:

Regards

[2018-07-17 15:49] nunomaduro commented on #21
Hey @carusogabriel 👋

You can do it already.

1. Add to your phpstan.neon file:

[code]

2. Run:

[code]

[2018-07-17 15:52] carusogabriel commented on #21
Oh, thank you :tada:

[2018-07-17 15:52] #21 closed

[2018-07-18 05:09] richardkeep opened #22 "Using Eloquent whereParam()"
Throws an error `Call to an undefined static method *whereParamId*` when you do `App\Model::whereParamId($id)->get()`. It wants you to do `App\Model::where('param_id', $id)->get()`.

[2018-07-18 05:13] richardkeep opened #23 "[False Positive] Encapsed string cannot be cast to string"
In my commands, I often pass a variable like this `$this->info("Performing task for {$name}...");`. The name being a string, I get the error `Part $name (array|string) of encapsed string cannot be cast to string.`. Why?

[2018-07-18 05:38] ondrejmirtes commented on #23
Because an array cannot be cast to string.

On Wed, 18 Jul 2018 at 07:13, Richard Keep <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-07-18 05:49] richardkeep commented on #23
But the `$name` is a string, not an array. A variable am fetching here `$name = $this->argument('name');`

[2018-07-18 05:58] ondrejmirtes commented on #23
Obviously it can also be an array from the “argument” method return
typehint. Is there any way to know it can only be a string?

On Wed, 18 Jul 2018 at 07:49, Richard Keep <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-07-18 05:58] richardkeep commented on #23
Ok. I have fixed it by casting it to string `$name = (string) $this->argument('name');`

[2018-07-18 06:05] ondrejmirtes commented on #23
That will be reported to you on level 6, so it isn’t really a fix for your
problem.

On Wed, 18 Jul 2018 at 07:58, Richard Keep <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-07-18 06:08] richardkeep commented on #23
lol. what's the solution then

[2018-07-18 06:13] ondrejmirtes commented on #23
As I said - how are you sure the name is a string and not an array? Is it
configured somewhere?

On Wed, 18 Jul 2018 at 08:08, Richard Keep <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-07-18 06:43] richardkeep commented on #23
If you look at the (https://laravel.com/docs/5.6/artisan#command-io)[Laravel Documentation], you can only get an array if you don't pass any arguments in the `arguments` method. Otherwise, the value will be either an integer or a string

[2018-07-18 06:50] ondrejmirtes commented on #23
OK, so a dynamic return type extension should be written for that.

[2018-07-18 06:59] richardkeep commented on #23
Ah, it can also [return an array](https://github.com/laravel/framework/blob/5.6/src/Illuminate/Console/Command.php#L249). My bad.

[2018-07-18 06:59] #23 closed

[2018-07-18 07:54] phh opened #24 "Segmentation fault (core dumped)"
Getting a **Segmentation fault (core dumped)** error when running the `code:analyse`. Just running `phpstan analyse app` seems to work fine.

With `php artisan code:analyse`:

[code]

With `phpstan analyse app`:

[code]

[2018-07-18 08:02] phh commented on #24
Seems like limiting the number of files works:

Works:
[code]

Breaks:
[code]

[2018-07-18 08:30] ondrejmirtes commented on #24
Run PHPStan with `--debug` to find out which file causes it.

[2018-07-18 08:44] phh commented on #24
extension.neon:
`bootstrap: %rootDir%/../../nunomaduro/larastan/bootstrap.php`

bootstrap.php:
`$app->make(\Illuminate\Contracts\Console\Kernel::class)->bootstrap();`

Makes it fail.

[2018-07-18 08:59] nunomaduro commented on #24
@phh That's strange. Besides "Segmentation fault (core dumped)". You don't have any other feedback?

[2018-07-18 10:07] phh commented on #24
Sorry, not really getting that much:

[code]

Just really a scan on the files and then a `Segmentation fault` in the end.

[2018-07-18 11:04] lukecurtis93 opened #25 "Memory limit issue reached"
Hey guys, super excited to try out the package.

Looks like I'm getting a memory exhausted error when running the following:
[code]

I also tried upping the memory limit to the same error, the same thing happens when I specify the path too. Is there anything that flags up as something else I can try?

Cheers,

[2018-07-18 11:24] nunomaduro commented on #25
Thanks for reporting that issue. 👍

Please do: `php artisan code:analyse --paths="app/Providers/RouteServiceProvider.php"`. If it breaks, show me the code present in: "app/Providers/RouteServiceProvider.php".

[2018-07-18 12:09] ForzaSFerrari commented on #20
It's Windows 10 and I'm using both Xampp and Homestead.

[2018-07-18 12:12] nunomaduro opened #26 "Support for Lumen framework"
Would be good add support to Lumen.

https://medium.com/@rafaelcanical/although-i-agree-with-jan-alfred-richter-this-is-cool-can-this-be-used-with-lumen-projects-also-259b64c3d10c

[2018-07-18 13:16] brendt opened #27 "JsonResource::make() expects Illuminate\Http\Resources\Json\dynamic"
[code]

[2018-07-18 13:20] brendt opened #28 "Call to an undefined scope"
Not sure if this is fixable.

The error is this

[code]

The calling code is this

[code]

The `::query()` part returns `Illuminate\Database\Eloquent\Builder` per its doc blocks, but actually returns the concrete model.

[2018-07-18 13:22] brendt opened #29 "Internal error with return value of ModelStaticReturnTypeExtension::getTypeFromStaticMethodCall()"
[code]

[2018-07-18 13:23] brendt opened #30 "TrustProxies::$headers (string) does not accept default value of type int"
[code]

[2018-07-18 13:25] brendt opened #31 "Undefined property Application::$request."
[code]

This is the calling code, in a service provider.

[code]

[2018-07-18 13:27] brendt opened #32 "Parameter #1 of function response expects array|string, null given."
[code]

The calling code:

[code]

This is an edge case, but valid in Laravel, it turns out.

[2018-07-18 13:42] mpociot opened #33 "Memory limit reached when trying to count Eloquent models."
When trying to count an Eloquent model using the query builder, I receive a memory limit error:

[code]

[2018-07-18 13:45] walkertrack5 opened #34 "Support for 5.4"
This package looks really awesome!!

Will there ever be support for Laravel 5.4 or 5.5?

[2018-07-18 14:58] shirshak786 commented on #34
As this package requires php 7.1 I don't think we should support old version of laravel

[2018-07-18 15:32] nunomaduro commented on #34
Thanks!

I am sorry @walkertrack5. Support old versions of Laravel is not on my plan.

[2018-07-18 15:32] #34 closed

[2018-07-18 15:33] walkertrack5 commented on #34
No worries! I will def use this in all my 5.6 apps!

[2018-07-18 15:35] nunomaduro commented on #34
@walkertrack5 Thanks! Don't forget that your feedback is important. If you find false positives report them on our issue tracker. 👍

[2018-07-18 15:36] walkertrack5 commented on #34
Ok will do! Gonna try to get this set up over the weekend on a few projects.

[2018-07-18 16:27] Braunson opened #35 "Doesn't run on Laravel Homestead (on Windows)"
When running the command `php artisan code:analyse` in Putty (SSH'ed into Laravel Homestead) I'm returned with this..

[code]

Seems related to #7 however I just installed larastan fresh.

[2018-07-18 17:10] MaxwellHutt commented on #35
Having the same issue as @Braunson
Running `php artisan code:analyse` gives the same output as above.
Fresh Larastan install into an existing Laravel project.
On Windows 10, in Homestead using VirtualBox. SSH'ed via the command line.

[2018-07-18 17:11] deleugpn commented on #35
I think I can send a PR for this one tonight as I've fixed this exact same error before on Laravel Dusk.

[2018-07-18 17:52] nunomaduro commented on #33
Hey @mpociot 👋

Thanks for reporting this false positive.

Your `App\User::class` is normal Laravel Fresh User Model? Or it haves something else? Annotations, etc?

Do you mind of sharing the code present in your user model?

[2018-07-18 17:55] nunomaduro commented on #33
I was able to reproduce your problem after installing Barryvdh\LaravelIdeHelper. I imagine that you have that package installed.

[2018-07-18 19:31] nunomaduro commented on #33
Hey @mpociot 👋

The issue was already addressed on the version 0.1.1. Do you mind of performing a `composer update nunomaduro/larastan` and check if everything is fine now? ☺️

[2018-07-18 19:41] nunomaduro commented on #32
Issue is correctly being addressed on the Laravel Framework itself: https://github.com/laravel/framework/pull/24888

[2018-07-18 21:50] fpena opened #37 "Error while installing"
I'm getting this error after running:
`composer require --dev nunomaduro/larastan`

![screen shot 2018-07-18 at 2 49 45 pm](https://user-images.githubusercontent.com/440097/42909708-eb0af7ea-8a99-11e8-8d16-55045509f5e4.png)

My require section in composer.json is:

[code]

Any ideas how to fix this?

[2018-07-18 21:52] nunomaduro commented on #37
Hey @fpena 👋

Please try this: `composer require nunomaduro/larastan --dev --update-with-all-dependencies`.

[2018-07-18 21:57] fpena commented on #37
Can't seem to find `--update-with-all-dependencies`. Are you referring to:
`composer require nunomaduro/larastan --dev --update-with-dependencies` ?

Still run that and got the same result.

[2018-07-18 22:51] ondrejmirtes commented on #37
What is locking the older version of PHP-Parser? Can you remove
composer.lock and try to require larastan again? Can you post your
“require” section from Composer?

On Wed, 18 Jul 2018 at 23:57, Felipe Peña <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-07-18 23:09] fpena commented on #37
@ondrejmirtes I updated the issue with my require section.

Although, after removing `composer.lock` and doing `composer install` again, the issue is fixed.

Thanks!

[2018-07-18 23:21] #37 closed

[2018-07-19 01:09] lukecurtis93 commented on #25
Thanks man looks like the error has gone - not sure why, I just pulled latest version so I guess something was fixed in the meantime 👍

[2018-07-19 01:09] #25 closed

[2018-07-19 05:16] sumityadav opened #38 "Eloquent Relationship issue with hasOne"
[code]

Gives the following error:
[code]

[2018-07-19 06:20] phh commented on #24
Sorry, I didnt list all the classes. But it just keeps going going through a few classes and then it breaks:

[code]

If I for instance remove the last file that failed `ExportIngredientsToExcel` it just goes to the next file and fails there.

[2018-07-19 06:37] brendt commented on #30
Awesome, thanks!

[2018-07-19 06:37] #30 closed

[2018-07-19 06:40] phh commented on #24
Okay I've reset my dependencies and it seems to work. I will spend some time to see if I can find the cause of this.

[2018-07-19 06:57] phh commented on #24
Seems like version `0.1.1` fixes this.

Thanks!

[2018-07-19 06:57] #24 closed

[2018-07-19 07:36] nunomaduro commented on #24
@phh Great news! Thanks for your help! 💪

[2018-07-19 07:36] nunomaduro commented on #25
@lukecurtis93  Great news! Thanks for your help! 💪

[2018-07-19 07:48] nunomaduro commented on #29
Hey @brendt 👋

Thanks for reporting this false positive!

Do you mind of running a `composer update nunomaduro/larastan` and then run: `php artisan code:analyse --debug`.

The `--debug` option will allow us to understand the issue.

[2018-07-19 07:53] brendt commented on #29
Hi Nuno, this is the error:

[code]

`-v(vv)`  doesn't add any more info though.

[2018-07-19 08:19] ondrejmirtes commented on #29
It’s not a false positive, it’s a bug in ModelStaticReturnTypeExtension.

On Thu, 19 Jul 2018 at 09:53, Brent Roose <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-07-19 09:00] nunomaduro commented on #29
@ondrejmirtes Yeah. I will take a look at it tonight. 👍

[2018-07-19 13:06] ChristopheB commented on #7
Just to say, I use Laragon (I dropped Homestead and VMs).

[2018-07-19 13:58] antonkomarev opened #40 "Call to an undefined method `withTrashed` - SoftDeletes"
[code]

Produce:

[2018-07-19 14:08] szepeviktor opened #41 "Larastan in action"
@nunomaduro May I contribute a Travis test that runs Larastan on the latest laravel/laravel package?

[2018-07-19 15:20] ijpatricio opened #42 "Macros: $this variable is a instance of the macroable class or bound closures"
When registering a macro, the property is not on the file's class, but it resolves an error like it's supposed to be.

The error:
[code]

The file:
[code]

[2018-07-19 15:56] nunomaduro commented on #41
That would be great.

My idea is not write unit tests for this package. But write acceptation tests instead.

Write specific code on a Laravel package and check if those errors are detected by Larastan. I am open for suggestions.

[2018-07-19 16:07] goodevilgenius commented on #26
I noticed that it states that it depends on `laravel/framework`. This is probably overkill, and likely the biggest hurdle to Lumen compatibility.

I imagine changing that to `illuminate/console` (and perhaps a few other needed illuminate packages) would be sufficient, and would allow compatibility with both Laravel and Lumen.

[2018-07-19 16:08] nunomaduro commented on #26
@goodevilgenius I agree with you. Do you mind of prepare a pull request for that? Please take in consideration all the components/classes of Laravel that are already used on the package.

[2018-07-19 16:15] goodevilgenius commented on #26
I don't have the time to go through the `larastan` code and find which `illuminate` packages are specifically needed, sadly.

[2018-07-19 16:18] ijpatricio opened #43 "[Proposal] larastan-gui"
As part of this package, or a as a opt-in separate one,

A graphic report executer and log viewer.

- Route endpoint:  /larastan

    + all routes registered in provider if environment !== 'production' or environment === 'local'

- Assets don't need to be published to public folder
    + route endpoint  /_larastan/asset/{asset} and the file will be streamed directly from the vendor folder

- Layou

[2018-07-19 16:20] nunomaduro commented on #26
**How to resolve this issue:**

1. Identity the components illuminate used on the package.
2. Include Laravel components on the composer.json instead of the full framework.
3. Test with Lumen locally.

Example before:

[code]

Example after:

[code]

[2018-07-19 16:35] ghost opened #44 "Call to an undefined method user()"
[code]

No error on
[code]

I think the code above is also often used in many different projects.

[2018-07-19 16:39] nunomaduro commented on #43
Hey @ijpatricio 🙌

That's is a great idea. You can create a `larastan-gui` or a `larastan-dashboard`. What do you prefer?

[2018-07-19 16:41] nunomaduro commented on #38
@sumityadav You don't have on your code any reference to "Illuminate\Database\Eloquent\Relations\hasOne" with **hasOne** instead of **HasOne** ?

[2018-07-19 16:55] ondrejmirtes commented on #43
This looks like a huge project and honestly, it shouldn’t be specific to
the Laravel wrapper, but PHPStan would benefit from it as well.

I can imagine that the tool should take a machine-readable output (for
example from a JsonFormatter) and use that.

On Thu, 19 Jul 2018 at 18:18, ijpatricio <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-07-19 18:02] ijpatricio commented on #43
Hey @nunomaduro , @ondrejmirtes

Thanks for the feedback!

@nunomaduro
Sure, larastan-gui seems good! Could you start the repo? I'm already starting initial steps.

@ondrejmirtes
For sure! Totally agree.
One thing to consider is that to handle files, streaming, routes, console, container services, and so on, I guess there will be always some kind of coupling...

Maybe we could start with Laravel,

[2018-07-19 18:12] ondrejmirtes commented on #43
I think it should be vice versa - build a basic version for PHPStan,
provide hooks for more reports and implement those hooks for Laravel.

But make sure you finish the current feature scope of this extension first
😊

On Thu, 19 Jul 2018 at 20:02, ijpatricio <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-07-19 19:53] sumityadav commented on #38
@nunomaduro I did not reference "Illuminate\Database\Eloquent\Relations\hasOne" instead I am just defining the Eloquent relationship in User model (same as the code snippet)

[2018-07-19 23:16] szepeviktor opened #47 "Absolute paths to configuration etc. files"
Please notify users that files must have absolute path.

E.g. `-c, --configuration=CONFIGURATION  Path to project configuration file` could be `-c, --configuration=CONFIGURATION  Absolute path to project configuration file`

Also for autoload-file.

[2018-07-19 23:19] szepeviktor commented on #41
Ignoring one error brings up two others in vanilla Laravel: `composer create-project --quiet --prefer-dist "laravel/laravel" laravel`

[code]

and with

[code]

[code]

@nunomaduro Please advise.

[2018-07-19 23:20] szepeviktor commented on #41
BTW the above error's fix got a big 👎
See https://github.com/laravel/framework/pull/23825

[2018-07-19 23:30] nunomaduro commented on #44
Do you mind of doing: `composer update nunomaduro/larastan`? That problem was already fixed on previous versions.

Please make sure you use the following composer configuration:
[code]

[2018-07-19 23:53] nunomaduro commented on #47
Hey @szepeviktor 👋

Those options aren't documented yet. Shouldn't we ignore/remove them from the command CodeAnalyseCommand forcing people to use PHPStan like normal on those cases?

I need some time to think about this.

Thanks for creating this issue! ☺️

[2018-07-19 23:59] #41 closed

[2018-07-19 23:59] ForzaSFerrari commented on #44
My composer.json says
[code]
and my composer.lock
[code]

I also tried your statement, but nothing has been changed.

[2018-07-20 00:07] szepeviktor commented on #47
Hello 👋

Setting a configuration file pulls the plug on Larastan as `extension.neon` will be ignored.

[2018-07-20 07:39] szepeviktor opened #50 "ReturnTypes\ModelExtension::getTypeFromStaticMethodCall() returns a boolean"
[code]

After debugging it turned out in [line 110](https://github.com/nunomaduro/larastan/blob/master/src/ReturnTypes/ModelExtension.php#L110) `$types` is **empty** array.

[2018-07-20 07:42] szepeviktor commented on #50
First `$types` is

[code]
then `replaceStaticType()` makes it an empty array.

[2018-07-20 08:50] nunomaduro commented on #50
@szepeviktor Do you know the exactly src code/or the exact file in your project that fires that issue?

[2018-07-20 09:13] szepeviktor commented on #50
Yes, it is a private project, in your Gmail inbox now.

[2018-07-20 10:32] szepeviktor commented on #50
@nunomaduro Maybe Gmail does not deliver .php files.

[2018-07-20 10:33] nunomaduro commented on #50
@szepeviktor can you sent it like raw text?

[2018-07-20 13:04] bitfactory-justin-kouwenhoven commented on #34
Any reason why 5.5 is not supported? Since 5.5 is an lts version most people will use.

[2018-07-20 13:11] shirshak786 commented on #34
It may be compatibility issues. And I think people mostly use latest version of laravel although 5.5 is LTS

[2018-07-20 17:33] nunomaduro commented on #35
Fixed by @deleugpn on the PR https://github.com/nunomaduro/larastan/pull/55. And @ForzaSFerrari have confirmed that is working now using Laravel Homestead (on Windows).

[2018-07-20 17:33] #35 closed

[2018-07-20 17:34] nunomaduro commented on #35
Thanks @deleugpn ! Great work! 👏

[2018-07-20 17:45] ForzaSFerrari opened #56 "Xampp on Windows"
With the latest update, Larastan finally works in Homestead. Unfortunately, it doesn't work anymore with Xampp on Windows. The result, what I get is.

[code]

[2018-07-20 18:03] ForzaSFerrari opened #57 "Access to an undefined property object::$property_name"
Example
[code]

Result
[code]

The same problem is still open in phpstan. ([Access to an undefined property object::$property_name](https://github.com/phpstan/phpstan/issues/928))

[2018-07-20 18:15] ondrejmirtes commented on #57
What kind of object is `$user` in runtime?

[2018-07-20 18:19] nunomaduro commented on #57
@ondrejmirtes On the `first` method, the return type wrote on the PHPDocs is `object` instead of an instance of `Model::class`. I will write a PR to the core of Laravel to fix this.

[2018-07-20 18:29] ghost opened #58 "Call to an undefined method with()"
[code]

Produce:

[code]

[2018-07-20 18:47] ForzaSFerrari opened #59 "Call to an undefined method forever()."
[code]
Produce:

[2018-07-20 18:49] ondrejmirtes commented on #57
@nunomaduro What return typehint `where` method has? If you want to return the same object as it's called on, you should use both `@return static` in phpDoc and `self` native return typehint at the same time.

[2018-07-20 18:49] ondrejmirtes commented on #57
Or you can fix this with dynamic return type extension 😊

[2018-07-20 18:56] nunomaduro commented on #58
@ForzaSFerrari I am not sure if you are using the latest version of Larastan.

Just tested that code, and there is no errors.

[code]

[2018-07-20 18:57] nunomaduro commented on #59
@ForzaSFerrari Can you show me how the variable $response was build ?

[2018-07-20 19:04] ForzaSFerrari commented on #59
Sent you a screenshot on Twitter

[2018-07-21 23:53] nunomaduro commented on #29
@brendt Thanks again for reporting this false positive. 👍

This issue **got fixed** on the version `v0.1.4`. Do you mind of performing a `composer update nunomaduro/larastan` and test it again?

[2018-07-21 23:53] nunomaduro commented on #50
@szepeviktor Thanks again for reporting this false positive. 👍

This issue **got fixed** on the version `v0.1.4`. Do you mind of performing a `composer update nunomaduro/larastan` and test it again?

[2018-07-22 00:37] nunomaduro commented on #33
This issue should be fixed by now. Thanks!

[2018-07-22 00:37] #33 closed

[2018-07-22 01:35] nunomaduro commented on #57
@ForzaSFerrari Thanks again for reporting this false positive. 👍

This issue **got fixed** on the version `v0.1.7`. Do you mind of performing a `composer update nunomaduro/larastan` and test it again?

[2018-07-22 06:39] ForzaSFerrari commented on #57
Looks like it's been fixed. @nunomaduro

[2018-07-22 06:39] #57 closed

[2018-07-22 06:43] szepeviktor commented on #50
Thank you, it is solved.

[2018-07-22 06:43] #50 closed

[2018-07-22 09:21] canvural opened #67 "Call to an undefined method Illuminate\Contracts\Routing\ResponseFactory|Symfony\Component\HttpFoundation\Response::json()"
Using larastan 0.1.8

This code:
[code]

gives

[code]

on 8th level.

[2018-07-22 09:34] ForzaSFerrari opened #68 "Call to an undefined method route()/back()."
[code]
Produce:

--------
[code]
Produce:

[2018-07-22 17:41] szepeviktor opened #70 "Call to an undefined method json()"
Hello!

Has it been reported already?

*Call to an undefined method Illuminate\Contracts\View\Factory|Illuminate\View\View::json().*

[code]

[2018-07-22 17:43] nunomaduro commented on #70
What `--level` did you use?

[2018-07-22 17:44] szepeviktor opened #71 "Call to an undefined method withHeaders()"
Is it another false positive for Laravel magic (`__call()`)?

[code]

*Call to an undefined method Illuminate\Contracts\Routing\ResponseFactory|Symfony\Component\HttpFoundation\Response::withHeaders().*

[2018-07-22 17:47] szepeviktor commented on #70
`--level=2`

[2018-07-22 17:54] JJCLane opened #72 "False positive on decrement/increment functions"
They are protected so they can be called statically (see [relevant issue](https://github.com/laravel/framework/issues/6006)), but Larastan reports an error:

[2018-07-22 18:01] szepeviktor commented on #28
@nunomaduro While running v0.1.8 with `--level=2` I've got this:

[code]

*Call to an undefined method Illuminate\Database\Eloquent\Builder::onlyTrashed().*

`$this->builder` is a `\Illuminate\Database\Eloquent\Builder`.

[2018-07-22 18:52] szepeviktor opened #73 "Internal error with maatwebsite/excel:2.1.28"
Newest larastan on level 2.

[code]

Debug reveals

[code]

[2018-07-22 18:53] szepeviktor commented on #73
It may or may not be a Maatwebsite\Excel problem!

[2018-07-22 19:40] deleugpn commented on #56
I'm going to try to pick this up next week.

[2018-07-22 20:24] szepeviktor opened #75 "PHPStan findings in Larastan"
@nunomaduro What do you say to https://travis-ci.org/nunomaduro/larastan/jobs/406762084#L687 ?

[2018-07-22 20:44] ForzaSFerrari opened #77 "Internal error: Class x does not exist"
just want to make sure. if i get such a message, then something is not laravel compliant, right?
![capture](https://user-images.githubusercontent.com/16107131/43049936-a6076650-8e00-11e8-8e56-4a1ca6e05552.PNG)
that message is completely new.

[2018-07-22 20:55] #75 closed

[2018-07-22 20:57] nunomaduro commented on #77
@ForzaSFerrari Hey! That is a internal issue of Larastan or an internal issue of Phpstan.

Please provide my info, context, code, etc.

[2018-07-22 21:17] ForzaSFerrari commented on #77
I'm not sure, if this would be the right command for phpstan.
vendor/bin/phpstan analyse --level 0 --debug or vendor/bin/phpstan analyse --level 0 --debug .\path\file.php

WIth path, I got this result
[OK] No errors

Without path, I got this one
[code]

[2018-07-22 21:50] nunomaduro commented on #26
@richardkeep  The version `v0.2.0` should support Lumen and Laravel Zero. Do you mind of running some tests? I don't use Lumen that much.

[2018-07-23 07:46] brendt commented on #28
@nunomaduro , it seems fixed! I had to mark `0.2.0@dev` though, only `0.1.5` and below were seen by composer as "stable".

[2018-07-23 07:46] #28 closed

[2018-07-23 07:47] brendt commented on #29
I can confirm tis is fixed.

[2018-07-23 07:47] #29 closed

[2018-07-23 07:48] brendt commented on #31
Hi Nuno, this issue still seems to be there in 0.2.0:

[code]

[2018-07-23 07:49] brendt opened #79 "TrustProxies::$headers does not accept default value of type int."
This happens in 0.2.0

[code]

[2018-07-23 07:52] brendt opened #80 "Wrong "always false" checks"
I've got a simple class, this is a snippet from it:

[code]

Calling this in another function, in that same class, results in an error:

[code]

[code]

Another error occurs, which seems to have to same cause:

[code]

[code]

[2018-07-23 07:53] brendt commented on #80
And for reference, this class *is* called with a user from time to time:

[code]

It also happens for other models, not just the User.

[2018-07-23 07:55] brendt opened #81 "Static method Builder::dynamicWhere() invoked with 0 parameters, 1 required."
I've got this piece of code

[code]

`whereRoot` is a custom scope on `Module`:

[code]

The error I get is

[code]

[2018-07-23 07:58] canvural commented on #77
I have the same issue with Larastan 0.2 and PHPStan 0.10.2

In my case it seems to be an issue with Laravel validation.

If I have a code like this:

[code]

It gives an error like `Internal error: Class user_id does not exist`

Also same thing happens when I use a from request class. Then try to access the validated data,

[code]

This also gives `Internal error: Class user_id does not exist`

[2018-07-23 08:05] brendt opened #82 "Container errors in controllers with validation rules."
Almost all my controllers generate errors, saying they try to resolve an undefined class:

[code]

[code]

[code]

etc.

Running with `--debug` shows this:

[code]

I'm not 100% sure where this error comes from. It seems to have something to do with request validation:

[code]

All these fields seem to be the first entry in the validation rules, probably it has something to do with the `->validate

[2018-07-23 08:16] canvural commented on #82
I guess this is the same as #77

[2018-07-23 08:30] brendt commented on #79
I haven't changed the file, no. And it seems to be back in this 0.2.0. Maybe should have re-opened to old issue?

[2018-07-23 11:53] boomhq commented on #56
Hi,  i've found 2 solutions but i dont know what is the best way.
The bug is a regression from :  [COMMIT](https://github.com/nunomaduro/larastan/commit/08dcba3740bc24e5f1e8ac8e530170717c49478c#diff-fd1a7c19da3313d9dcfb80ffadb016bb
)
1st solution: Back to "vendor/bin" and work on LINUX/Windows

2nd solution: on CodeAnalyseCommand.php  on

 replace with :

`   private function command(): string

[2018-07-23 12:15] ForzaSFerrari commented on #56
@boomhq The first solution would not work with Laravel's Homestead. Look at #35

Your second solution does not seem to work for me on Windows. Larastan does not do anything.

[2018-07-23 12:34] boomhq commented on #56
@ForzaSFerrari it's strange for me in classique laravel app (no homestead, valet ...)  on linux and windows with         `$process = new Process($this->cmd(), $this->laravel->basePath('vendor/phpstan/phpstan/bin'));`

And after replace` function command()` it's work fine.

Test on Windows10 PHP 7.1.7 and Debian 9 with PHP 7.1.18

[2018-07-23 12:37] mkarnicki opened #83 "Cannot cast Ramsey\Uuid\UuidInterface to string."
Got a message saying

for this line:

`$instance->uuid = (string) Str::uuid();`

This works just fine, also see [Laravel docs](https://laravel.com/docs/5.6/helpers#method-str-uuid).

Thanks!

[2018-07-23 12:40] ondrejmirtes commented on #83
The method should return Ramsey\Uuid\Uuid, not the interface.

On Mon, 23 Jul 2018 at 14:37, Michał Karnicki <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2018-07-23 12:53] staf commented on #56
Not only related to XAMPP, seems to be a general Windows thing as this also happens running with apache and php installed "manually". Using Windows 10 and php 7.2.

It seems to try to run phpstan globally and not the binary from the vendor folder. I tried to install phpstan globally but that ended up with larastan "doubling" the path name.

Fresh Laravel app installed in ` C:\Code\larastan` result

[2018-07-23 13:02] mkarnicki commented on #83
Well, the method may return Uuid instance, one that confirms to UuidInterface, but if it declared Uuid as return type, Ramsey could never change the underlying class without breaking other's code.

If he now decided to change the underlying class, yet conforming to the UuidInterface, the Laravel's Str::uuid() wouldn't break. Whereas if Ramsey decided to return some new 'UuidValue' class instance,

[2018-07-23 13:06] boomhq commented on #56
@staf  you can start larastan with `php artisan code:analyse --path=app`

[2018-07-23 13:09] ondrejmirtes commented on #83
PHPStan can (through a dynamic return type extension) say that the method always returns `Uuid`, without changing code of the library.

[2018-07-23 13:23] mkarnicki commented on #83
Thanks for replying Ondrej. I'm not sure we understand each other.

What I'm saying is:

- [Uuid](https://github.com/ramsey/uuid/blob/master/src/Uuid.php) implements [UuidInterface](https://github.com/ramsey/uuid/blob/master/src/UuidInterface.php)
- [UuidInterface](https://github.com/ramsey/uuid/blob/master/src/UuidInterface.php) has a `toString` method with a `string` return type hint.
- Laravel'

[2018-07-23 13:48] bhulsman commented on #79
Also getting this one with the 0.2.0 release.

[2018-07-23 14:01] ondrejmirtes commented on #83
It’s a difference between having toString and __toString (which isn’t on
the interface).

On Mon, 23 Jul 2018 at 15:23, Michał Karnicki <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2018-07-23 14:06] mkarnicki commented on #83
You're right. In that case, I'd say that's a bug in Ramsey\Uuid package then, not larastan, just a different king of bug than what you initially suggested. I'll leave it up to Nuno to close this or keep around.

[2018-07-23 14:10] staf commented on #56
That does work, but you shouldn't have to specify what path to run though. This library is supposed to know the Laravel structure anyway 😄

[2018-07-23 14:30] ondrejmirtes commented on #83
I don't think it's a bug in Uuid library itself - you just can't cast to string `UuidInterface`, it doesn't promise you that.

It's just a wrong assumption that everything that get's returned from `Str::uuid` can be cast to string which isn't right but isn't anybody's fault, really.

[2018-07-23 14:37] mkarnicki commented on #83
You're right. The interface has a `toString` (non-magic) method that should be used instead. Thanks for teaching me something today.

[2018-07-23 14:37] #83 closed

[2018-07-23 15:31] usamaejaz commented on #19
I also get the same error. Adding --paths="app" fixed. There are also no spaces in the path.

[2018-07-23 16:08] nunomaduro commented on #79
@brendt @bhulsman That was already fixed on the framework itself: https://github.com/laravel/laravel/commit/2683de70828e6c4dcf8613a60fc7304ff90e6acc.

I think I gonna just ignore this error *for now* on the larastan configuration itself.

Thanks @brendt for reporting! ☺️

[2018-07-23 16:09] nunomaduro commented on #73
@szepeviktor The bug still exists on the version `v0.2.0` ?

[2018-07-23 16:15] szepeviktor commented on #73
No!!
Thanks.

[2018-07-23 16:15] #73 closed

[2018-07-23 16:16] szepeviktor commented on #73
`v0.2.0` stared to throw

[code]

so array elements (`by`) are recognized as classes.

[2018-07-23 16:22] szepeviktor commented on #82
Yes, array elements/keys are recognized as classes.

[2018-07-23 19:16] ForzaSFerrari commented on #77
Got another result with another debug command
[code]

[2018-07-23 20:02] szepeviktor commented on #77
Solved in https://github.com/nunomaduro/larastan/commit/84cd60fd17f191a631580ba20f2e76b76c0b3cb7

[2018-07-23 20:03] szepeviktor commented on #82
Solved in https://github.com/nunomaduro/larastan/commit/84cd60fd17f191a631580ba20f2e76b76c0b3cb7

[2018-07-23 20:03] szepeviktor commented on #79
That is my commit :)

[2018-07-23 20:06] nunomaduro commented on #77
@szepeviktor Not yet. Something is still wrong. Wait a couple of mins.

[2018-07-23 20:24] hskrasek commented on #26
@nunomaduro We use Lumen at work, I can give it a try this evening and see how it works out.

[2018-07-23 20:24] nunomaduro commented on #82
@brendt @canvural @szepeviktor Thanks for reporting this issue.

Is now fixed on the version `v0.2.2`. Do you mind of performing a quick test?

[2018-07-23 20:39] nunomaduro commented on #77
@ForzaSFerrari Thanks for reporting this issue.

Is now fixed on the version `v0.2.2`. Do you mind of performing a quick test?

[2018-07-23 20:41] nunomaduro commented on #79
@brendt @bhulsman Thanks for reporting this issue.

Is now fixed on the version v0.2.3. Do you mind of performing a quick test?

[2018-07-23 20:47] nunomaduro commented on #22
Because this issue seems to be inactive for quite some time now, I will close it. This problem should be fixed by now.

Thank! ☺️

[2018-07-23 20:47] #22 closed

[2018-07-23 20:48] ForzaSFerrari commented on #77
Seems to be fixed @nunomaduro

[2018-07-23 20:48] #77 closed

[2018-07-23 20:50] nunomaduro commented on #31
@brendt Hummmmmmm.

Do you mind of performing a `composer update nunomaduro/larastan` and double check it?

If the problem is still there: When `docs.navigation` is registered on the container? Seems to me that service is bound into the container outside to bootstrap `life-cycle` of laravel.

[2018-07-23 20:53] nunomaduro commented on #58
@ForzaSFerrari What is the level you are using?

[2018-07-23 20:54] nunomaduro commented on #59
What is the level you are using?

[2018-07-23 20:54] nunomaduro commented on #68
What is the level you are using?

[2018-07-23 20:57] ForzaSFerrari commented on #58
Always the maximum level.

[2018-07-23 20:57] ForzaSFerrari commented on #59
Always the maximum level.

[2018-07-23 20:57] ForzaSFerrari commented on #68
Always the maximum level.

[2018-07-23 21:03] nunomaduro commented on #19
@ForzaSFerrari Do you confirm that @usamaejaz's solution fixes the issue?

[2018-07-23 21:03] nunomaduro commented on #38
Because this issue seems to be inactive for quite some time now, I will close it. This problem should be fixed by now.

Thanks! ☺️

[2018-07-23 21:03] #38 closed

[2018-07-23 21:08] ForzaSFerrari commented on #19
Work all the time with --paths="app" at Xampp. @nunomaduro

[2018-07-23 21:10] nunomaduro commented on #19
And without that option, doesn't work right ?

[2018-07-23 21:11] ForzaSFerrari commented on #19
yes

[2018-07-23 21:19] nunomaduro commented on #19
@ForzaSFerrari Weird....

[2018-07-23 22:01] nunomaduro commented on #20
@ForzaSFerrari You can give it a try.

[2018-07-23 22:02] ForzaSFerrari commented on #20
Wouldn't know, where I have to start. 😅

[2018-07-23 22:19] mikeerickson opened #85 "Error installing into an existing project"
Hey @nunomaduro

I am receiving the following errors when attempting to install into an existing 5.6 project.  I can get it installed with a new fresh 5.6 app

[code]

[2018-07-23 22:21] mikeerickson opened #86 "Recommend making this pretty :-)"
Not sure if this progress bar is your doing, or the core extension, but thinking it could be improved with some color and perhaps a different step pattern

![image](https://user-images.githubusercontent.com/183153/43106081-039a70ec-8e8c-11e8-9544-2538920c2388.png)

[2018-07-23 22:51] nunomaduro commented on #85
@mikeerickson That is the normal composer behaviour. Try: `composer require nunomaduro/larastan --update-with-all-dependencies`.

[2018-07-24 00:18] mikeerickson commented on #85
@nunomaduro I had tried that as well (see below)

[code]

[2018-07-24 05:28] richardkeep opened #87 "Ignore Laravel's core DocBlock 'errors'"
Just like [this error](https://github.com/laravel/laravel/pull/4210) and others which Taylor has no intentions of fixing them, Larastan should automatically ignore them as false positive when analyzing the codebase.

[2018-07-24 05:37] richardkeep commented on #22
The issue has been fixed. Sorry for not reverting soon. Thanks :)

[2018-07-24 05:38] ondrejmirtes commented on #87
Larastan can use a dynamic return type extension to tell the method returns
the correct type.

On Tue, 24 Jul 2018 at 07:28, Richard Keep <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-07-24 05:57] richardkeep opened #88 "Array key handled as a class"
I have this code in my Eloquent Model

[code]

When I run `php artisan code:analyze`, I get an error  **Class file_id does not exist**.

I am not sure why it is so.

[2018-07-24 05:59] richardkeep commented on #87
If it can, then it should.

[2018-07-24 06:02] nunomaduro commented on #88
Are you using you latest version?

[2018-07-24 06:04] nunomaduro commented on #87
You are not using the latest version. Please update and tell me if the problem persist.

[2018-07-24 06:36] richardkeep commented on #87
Ah, I was running an older version. I have updated to ^0.2 and the issue has been solved.

[2018-07-24 06:36] #87 closed

[2018-07-24 06:37] richardkeep commented on #88
I have updated to ^0.2 and the issue has been solved. You are doing a wonderful job.

[2018-07-24 06:37] #88 closed

[2018-07-24 07:04] brendt commented on #79
Thanks, it works!

[2018-07-24 07:04] #79 closed

[2018-07-24 07:06] brendt commented on #80
Oh ok, thanks. It was the error that confused me. It works now.

[2018-07-24 07:06] #80 closed

[2018-07-24 07:07] brendt commented on #82
It works! 👌

[2018-07-24 07:07] #82 closed

[2018-07-24 07:09] brendt commented on #31
It's gone now, I'm on 0.2.3. FYI, the parameter was read from `$this->app` in the `boot` method of a service provider. Seems to work, so great! 🌟

[2018-07-24 07:09] #31 closed

[2018-07-24 07:10] brendt commented on #28
@nunomaduro Do you, by any chance; have an idea if this is also fixable in PHPStorm? It works with PHPStan now, but PHPStorm also shows the error. I know this is not related to this package, but maybe you have an idea?

[2018-07-24 07:18] brendt opened #89 "Return values of scopes with `whereDate`"
I've got this method in a model

[code]

And get this error

[code]

I believe this has to do with `whereDate` having this return type `@return \Illuminate\Database\Query\Builder|static`. ?

[2018-07-24 07:23] brendt opened #90 "Call to undefined scope when using `whereDate`"
I've got this snippet:

[code]

This is the `inFuture` scope definition on the model:

[code]

I'm getting this error:

[code]

It seems like #28 fixed some scoped issues, and I can't help but feel this one is related to #89, as the error only occurs for scopes using `whereDate`.

[2018-07-24 07:49] bhulsman commented on #79
Works indeed, thanks! ^^

[2018-07-24 07:51] brendt opened #91 "`$app->environment` with parameter"
`Illuminate\Contracts\Foundation\Application` defines the `environment` function as follows

[code]

The concrete `Application` implementation in `Illuminate\Foundation\Application` implements it like so:

[code]

Meaning you're able to pass arguments to the function, though it's never documented 🙄

Not sure whether a docblock or optional paramter must be added in the core, or if you want to fix i

[2018-07-24 07:59] brendt opened #92 "Calling `array_flatten` on Collection"
Not sure what the right solution is here.

[code]

The value of `$this->app['docs.navigation']` is a `Collection`, and `array_flatten` works with it, I suppose because `Collection` is an `Iterable`. This is marked as an error though:

[code]

I know I can call `flatten` on the `Collection`, though I'm not a 100% sure the config will always return a `Collection`..

Like I said, this might not be so

[2018-07-24 08:01] sumityadav commented on #38
Just verified with fresh installation of Laravel 5.6 and it worked without issues.
Thanks

[2018-07-24 08:05] pekral opened #93 "Merge of phpstan.neon file?"
Hi, is possible can merge file phpstan.neon with my own?

[2018-07-24 08:08] ondrejmirtes commented on #93
You should have your own phpstan.neon and include this repository’s
extension.neon in it. Then you can run PHPStan as usual.

On Tue, 24 Jul 2018 at 10:05, Petr Král <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-07-24 08:40] szepeviktor commented on #91
@brendt Submit a Laravel PR!

[2018-07-24 11:33] brendt commented on #91
A PR addressing this issue has already been rejected: https://github.com/laravel/framework/pull/23533

[2018-07-24 11:45] hartman commented on #26
Working pretty nicely, but I have errors on Mixins.php line 71

Which is probably related to some of the laravel ide-helper magic...

[2018-07-24 13:17] szepeviktor commented on #91
@nunomaduro Could it be that it'll be the next `ignoreErrors:`?

[2018-07-24 13:39] nunomaduro commented on #91
@szepeviktor @brendt I will write an extension for this.

[2018-07-24 14:42] bhulsman commented on #28
@nunomaduro Something might still be causing an issue here:

[code]

Yields the following error: "Call to an undefined method Illuminate\Database\Eloquent\Model::contacts()."

Changing `firstOrFail` to `first` solves the error.

[2018-07-24 20:11] ondrejmirtes commented on #86
Next major version of PHPStan (0.11) will have a progress bar similar to PHPUnit's one. See: https://github.com/phpstan/phpstan/pull/1238 It will also be possible to implement a custom one, which right now isn't so @nunomaduro cannot fullful this request in any way.

[2018-07-24 20:13] ondrejmirtes commented on #85
@mikeerickson You need to remove your `composer.lock` and then `composer require nunomaduro/larastan`.

[2018-07-24 20:54] nunomaduro commented on #26
@hartman Ok! I will update the readme.

@hskrasek You got news?

[2018-07-24 22:12] nunomaduro commented on #15
The issue is the type `dynamic` that doesn't exist on phpstan.

[code]

[2018-07-24 22:13] nunomaduro commented on #15
The issue is the type `dynamic` that doesn't exist on phpstan.

[code]
@ondrejmirtes Any plans supporting this? Otherwise I can try do something on Larastan.

[2018-07-24 22:14] nunomaduro commented on #27
Duplicate of #15.

[2018-07-24 22:14] #27 closed

[2018-07-24 22:31] nunomaduro commented on #40
@antonkomarev Thanks for reporting this issue.

I need to think in a solution for this. Since those methods `withTrashed`, etc are local instance macros instead of global macros.

Give me some time to think.

[2018-07-24 22:46] nunomaduro commented on #92
Hey @brendt! I think the problem is not the Collection. The problem is that you **may** resolve `null` from `$this->app['docs.navigation']`.

Do you mind of updating your code to:

[code]

And tell me the result. ☺️

[2018-07-25 06:41] brendt commented on #15
What does `dynamic` mean? Guessing from the code "a mixed type, but all arguments may be the same" ?

[2018-07-25 06:44] brendt commented on #92
[code]

Actually fixes the issue! It's a rather smart thing, PHPStan. 👌@ondrejmirtes

[2018-07-25 06:44] #92 closed

[2018-07-25 08:22] nunomaduro commented on #15
@brendt Yeah. Anyway, I will try to take a look at that ☺️

[2018-07-25 08:58] brendt commented on #92
I thought so too 😅

Here you go https://github.com/illuminate/support/blob/master/Arr.php#L207

[2018-07-25 09:06] ondrejmirtes commented on #92
You actually haven't fixed the problem, just postponed it to level 6. (Because before, the answer was always wrong - you have Collection and trying to pass it to array.) Right now, you have `Collection|array` which is partly right and that gets reported on level 6.

The correct fix ofcourse is to add `Collection` to the phpDoc in the function source code (send a PR to  `illuminate/support`).

[2018-07-25 09:07] wujunze opened #95 "Would you consider supporting Laravel 5.5?"
Hello
    Would you consider supporting Laravel 5.5? It is, after all, an LTS version

Thanks

[2018-07-25 09:44] nakovdev commented on #85
I did as suggested, removed the `composer.lock` file, but still no luck, this is what I get:

[code]

[2018-07-25 09:48] ondrejmirtes commented on #85
You should figure out who requires `nikic/php-parser v3.1.5`.

[2018-07-25 09:54] ForzaSFerrari commented on #85
@nakovdev Have you tried to remove Larastan manually from the vendor folder? Had a similar issue on another Laravel installation (something was canceled) and afterwards everything was fixed.

[2018-07-25 10:11] nakovdev commented on #85
Thanks @ondrejmirtes! I updated each dependency that is required by larastan but was used by other packages as well manually, now it works.

[2018-07-25 12:51] hskrasek commented on #26
@nunomaduro Yesterday turned into a meeting and weird production bug day so I haven’t had a chance to play with it. I’m hoping to today

[2018-07-25 14:22] ConorWright opened #96 "Entry not found exception with laravel validator"
- Larastan Version: 0.2.4
- `--level` used: 0

### Description:

Internal error:
         Run PHPStan with --debug option and post the stack trace to:
         https://github.com/phpstan/phpstan/issues/new

### Laravel code where the issue was found:

Offending line of code in a custom register method in the laravel `app/Http/Controllers/Auth/RegisterController.php`:

`$this->validator($data)->val

[2018-07-25 14:31] nunomaduro commented on #96
@ConorWright Are you sure that you are using the version `v0.2.4`? That issue got fixed exactly on that version..

[2018-07-25 15:00] ConorWright commented on #96
Just installed this today, this is what's in my `composer.json` after using the `composer require` line from the home page.

`"nunomaduro/larastan": "^0.2.4",`

[2018-07-25 16:22] ghost opened #97 "[Proposal] Configurable list?"
Just an idea for Larastan, if this would be possible at all. The list might not be the best, if you have a long list. In the case, you would not fix the list immediately and add some new code. Would it be possible to mark what errors were added from one search run to another?

Another idea would be, to collect what errors do you have and to list under the error, in what line and what file it is.

[2018-07-25 16:30] ondrejmirtes commented on #97
Hi, this isn’t something that should be specific to Larastan but rather to
PHPStan.

On Wed, 25 Jul 2018 at 18:22, ForzaSFerrari <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2018-07-25 16:34] ForzaSFerrari commented on #97
@ondrejmirtes Somewhere you should start with an idea and look how it ends. 😉

[2018-07-25 17:36] ondrejmirtes commented on #97
It doesn't make much sense to me to try to tackle this as part of Larastan, because:

1) There's nothing specific about Laravel in this proposal.
2) It would unnecessarily limit the usefulness just to Laravel audience.
3) It might require some work on PHPStan part to provide specific extension points.

If you want some "quickwin" solution, what people usually do, is that they version their PHPStan

[2018-07-25 20:46] hskrasek commented on #26
So our project has some.. unique constraints due to legacy code dependencies. Because of this I can’t get s good test without doing some overriding of how phpstan handles composer autoloading.

If I can hack around that I’ll be able to give you a better test. And probably a feature request lol

[2018-07-26 00:37] goodevilgenius commented on #26
My project is a pretty standard Lumen project. I'll give it a try tomorrow when I get in to work.

[2018-07-26 12:59] hartman commented on #26
@goodevilgenius that sounds like #40

I'm still looking for hints as to why it crashes on my usage of the Eloquent facade, if anyone has any ideas, i'd love to hear them.

[2018-07-27 10:30] luispabon commented on #26
absolutely latest as installed 5 minutes ago

[2018-07-27 10:30] luispabon commented on #26
v0.2.4

[2018-07-27 10:32] luispabon commented on #26
The interface is implemented by several models, same as the other one that doesn't make it crash.

[2018-07-27 10:39] ntzm commented on #81
If it's helps I also get this on

[code]

[2018-07-27 10:43] ntzm opened #100 "Eloquent: firstOrFail has unspecific return type"
- Larastan Version: 0.2.4
- `--level` used: 5

### Description:

`Model::where('foo', 'bar')->firstOrFail()` has a return type of `Illuminate\Database\Eloquent\Model` instead of the correct model like `first` does

### Laravel code where the issue was found:

`Model::where('foo', 'bar')->firstOrFail()`

[2018-07-27 12:20] luispabon opened #101 "Call to an undefined method Illuminate\Log\LogManager::pushHandler (and pushProcessor)()"
- Larastan Version: 0.2.4
- `--level` used: 2

### Description:

[code]

### Laravel code where the issue was found:
[code]

These two are magic methods via `__call` deferred to the Monolog driver (`Monolog\Logger`), where they do indeed exist.

[2018-07-28 12:23] ghost opened #103 "Example as in the Laravel documentation, if I want to update something"
- Larastan Version: 0.2.4
- `--level` used: max

### Description:
For that test I oriented at the documentation of Laravel, if I want to update data.
### Laravel code where the issue was found:
[code]
**Messages**
[code]

If I would use this one, there is no message by Larastan.
[code]

[2018-07-29 14:36] deleugpn commented on #103
Good to know that the `update` method has no issue as it's my preferred syntax 😁

[2018-07-30 07:43] canvural commented on #103
Does your model has docblock for `$name` property?

[2018-07-30 07:50] staf commented on #19
Getting this too when running on windows. No spaces in the name and did not matter if I used it in a fresh Laravel installation or an old project. Unless I specify the path option it doubles the base path.

[2018-07-30 09:09] ForzaSFerrari commented on #103
@canvural If you mean something like this, it makes no difference whether you have it or not.

[code]

[2018-07-30 09:21] ondrejmirtes commented on #103
The problem is that you're using the maximum level and the object can be `null`. If you used lower level or if you made first sure that it cannot be null, this wouldn't be reported.

[2018-07-30 09:34] ForzaSFerrari commented on #103
The reason why I use the maximum level is because I want to fix everything I can, if I have any mistakes and in my case a name, for example, can never be null, because when requests, he will be always required.

[2018-07-30 09:39] ondrejmirtes commented on #103
How can you be so sure? In `$user = Users::find($id);`, the `$id` can be nonexistent.

[2018-07-30 09:47] ForzaSFerrari commented on #103
Because it's my way to work with hidden fields at ids

[2018-07-30 09:49] ondrejmirtes commented on #103
What if someone's rewrite the ID in your hidden field and submits the form?

[2018-07-30 10:03] ForzaSFerrari commented on #103
Ok there I would have no solution immediately at hand

[2018-07-30 10:09] ondrejmirtes commented on #103
That’s why the error reported by PHPStan is correct.

On Mon, 30 Jul 2018 at 12:03, ForzaSFerrari <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2018-07-30 10:21] ForzaSFerrari commented on #103
I would never doubt that the error would be wrong. As I said I just want to fix everything I can. On the same side I want to understand with such tools, where my own errors are and would like to improve myself for the future.

[2018-07-30 12:44] svenluijten commented on #103
I think @canvural meant something like this:

[code]

Could you check if that fixes it? If so, you can use [`barryvdh/laravel-ide-helper`](https://github.com/barryvdh/laravel-ide-helper) to add those annotations automagically 🙂

[2018-07-30 13:36] ondrejmirtes commented on #103
That's because the problem isn't the `$name` part, but the `null` part... You can verify that by running level 6, not 7.

[2018-07-30 13:58] svenluijten commented on #103
@ondrejmirtes one of the errors @ForzaSFerrari is getting is this, and it looks like this certainly has something to do with the `$name` property...

[code]

[2018-07-30 14:01] ForzaSFerrari commented on #103
So on level 6 I get this result `Access to private property $name of parent class Illuminate\Database\Eloquent\Model.`

Actually, it would be interesting now, what will be checked on the different levels.

[2018-07-30 14:08] ondrejmirtes commented on #103
@svenluijten Trust me, I'm developing PHPStan ;)
@ForzaSFerrari You can check the configs (https://github.com/phpstan/phpstan/tree/master/conf) and also levels integration tests (https://github.com/phpstan/phpstan/tree/master/tests/PHPStan/Levels).

[2018-07-30 14:35] ForzaSFerrari commented on #103
If I understand it correctly, it's better to check various levels and fix level 6 before level 7 for example.

@ondrejmirtes I also got another idea for phpstan in that case. Because I thought if you let run the maximum level you would get all errors from the levels below.

[2018-07-30 14:38] ondrejmirtes commented on #103
You wouldn't bump into this problem if you followed how the tool is supposed to be used. Check this out:
<img width="535" alt="screen shot 2018-07-18 at 18 34 04" src="https://user-images.githubusercontent.com/104888/43404059-df6f2c72-9416-11e8-8695-32bb720d5057.png">

(from Reddit: https://www.reddit.com/r/laravel/comments/8zp759/introducing_larastan_alpha_version/e2m0aqq/)

I acknowledge it's a

[2018-07-30 15:05] ForzaSFerrari commented on #103
As I learned you have to fix things first, who are easy. Things, who are difficult and you don't know, how they happen or you never heard before, need to be researched, especially if you hit on a following error.

Likewise, I do not follow everything and everywhere.

[2018-07-31 08:00] Krato opened #104 "Relations count & sync fail"
- Larastan Version: 0.2.4
- `--level` used: default

### Description:

Relation count and sync are failing.

### Laravel code where the issue was found:

[code]

Error:
    `Call to an undefined method (Illuminate\Database\Eloquent\Collection&iterable<App\Blog\Models\Tag>)|Illuminate\Database\Eloquent\Model::posts()`.

[code]

Error:
    `Call to an undefined method (Illuminate\Database\Eloquent\C

[2018-07-31 09:16] Krato commented on #104
Ok. I detected that only happens with model Injected in the constructor.

That fails:

[code]

But this works:

[code]

Why? Thanks for this amazing package! :)

[2018-07-31 09:26] Krato commented on #40
Some news? Thanks

[2018-07-31 09:35] nunomaduro commented on #40
I am in holidays. I will be back on the 27 August.
On Tue 31 Jul 2018 at 10:26, Eric Lagarda <notifications@github.com> wrote:

[2018-07-31 09:38] Krato commented on #40
@nunomaduro Hahaha enjoy then 👌🏽

[2018-07-31 12:09] lasselehtinen commented on #67
Same thing happens with all other response helper methods like make, json, jsonp, view, header etc.

[code]

[2018-08-01 11:01] ForzaSFerrari commented on #44
Have to add `id()` as well.

[code]

[2018-08-01 13:56] terryShifft opened #105 "EntryNotFoundException"
- Larastan Version: 0.2.4
- `--level` used:0

### Description:
Summary of a problem or a feature request
While running code:analyse on level 0 I got an error, the stacktrace as found in the log is:
[2018-08-01 15:27:53] local.ERROR: {"exception":"[object] (Illuminate\Container\EntryNotFoundException(code: 0): at /home/html/hezelaer/smart/application/dev_terry/vendor/laravel/framework/src/Illuminat

[2018-08-02 06:28] phh opened #106 "Does not support dynamic type"
- Larastan Version: v0.2.4
- `--level` used: default

### Description:

[code]

I have this helper function:

[code]

### Laravel code where the issue was found:

[code]

[2018-08-02 07:45] ondrejmirtes commented on #106
BTW: This will be possible to solve in a clean way in PHPStan 0.10.3 with `PHPStan\PhpDoc\TypeNodeResolverExtension`.

[2018-08-02 08:39] phh opened #107 "Internal error: Model->paginate->map"
- Larastan Version: v0.2.4
- `--level` used: 0

### Description:

Getting this error:
[code]

With debug:

[code]

### Laravel code where the issue was found:

[code]

(this is a simplified version of the actual method I'm using, but this is generation the error)

[2018-08-02 08:45] phh opened #108 "Internal error: Storage->getDriver->getAdapter"
- Larastan Version: v0.2.4
- `--level` used: 0

### Description:

Getting this error:

[code]

With debug:

[code]

### Laravel code where the issue was found:

`$tmpPath = Storage::disk('tmp')->getDriver()->getAdapter();`

[2018-08-02 08:56] ForzaSFerrari opened #109 "preg_match expects string, int given"
- Larastan Version: 0.2.4
- `--level` used:5

### Description:
[code]
### Laravel code where the issue was found:
[code]

[2018-08-02 09:19] ondrejmirtes commented on #109
The behaviour seems correct.

On Thu, 2 Aug 2018 at 10:56, ForzaSFerrari <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-08-02 09:51] ForzaSFerrari commented on #109
I think so too, because if I would add an (int) within the preg_match for $gap. I would get the following result. `Casting to int something that's already int` and in phpstand himself there is no error at this point.

[2018-08-02 09:52] ondrejmirtes commented on #109
The argument is supposed to be string, not int, so PHPStan is right here.

On Thu, 2 Aug 2018 at 11:51, ForzaSFerrari <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-08-02 10:10] ghost opened #111 "Parameter #1 $query of method Illuminate\Database\Query\Builder::union() expects ..."
- Larastan Version: 0.2.4
- `--level` used:5

### Description:
[code]
### Laravel code where the issue was found:
[code]

If you would use this and afterwards for example `$profile->created_at->timezone("Europe/Rome")`.
[code]
You would get `message: "Call to a member function timezone() on string` in the browser.
[code]

[2018-08-02 17:57] ForzaSFerrari opened #112 "Parameter #1 $title of function str_slug expects string, array|string|null given."
- Larastan Version: 0.2.4
- `--level` used:6

### Description:
From my personal logic, if you have a form with various input fields, you prefer to use `$request->input()`. On the other side, if you would use `$request->get()`, you don't get any messages.
[code]
### Laravel code where the issue was found:
[code]

[2018-08-02 18:27] szepeviktor commented on #71
Hello @nunomaduro !
Could you help me in this issue?

[2018-08-03 10:07] canvural commented on #71
@szepeviktor He is in holidays now.

[2018-08-03 10:13] szepeviktor commented on #71
Oh! I see.

[2018-08-04 01:40] carusogabriel commented on #106
Laravel is the ONLY PHP basecode that uses `dynamic` instead of `mixed`. IMHO that must be fixed there, not supporting it.

[2018-08-05 15:43] szepeviktor commented on #105
[code]

[2018-08-05 18:48] deleugpn commented on #15
I think I fixed this one: https://github.com/laravel/framework/pull/25078

[2018-08-06 07:01] emielmolenaar commented on #107
Same issue here, using level 5. Has something to do with the LengthAwarePaginator. Using Larastan v0.2.4. Is it trying to resolve the contract (interface) from the container instead of the actual implementation?

[2018-08-06 07:16] terryShifft commented on #105
I've added the backticks

[2018-08-06 08:14] szepeviktor commented on #105
Thanks.

[2018-08-06 08:18] szepeviktor commented on #105
Could be a duplicate of #107

[2018-08-06 21:50] mathieutu opened #114 "Call to an undefined method Illuminate\Database\Query\Builder::firstOr()"
- Larastan Version: 0.2.4
- `--level` used: default

### Description:

  Line   app/Models/Model.php
 ------ ---------------------------------------------------------------------------
  25     Call to an undefined method Illuminate\Database\Query\Builder::firstOr().
 ------ ---------------------------------------------------------------------------

### Laravel code where the issue was found:
[co

[2018-08-07 11:36] Necko1996 commented on #56
Any progress with this bug?

[2018-08-07 13:55] francislavoie commented on #107
Same here, with Ratchet (websockets lib)

[code]

[2018-08-07 13:59] francislavoie commented on #81
I get this on queries like this:

[code]

[code]

[2018-08-07 14:07] hartman commented on #114
Is that really the code where it was found ? Because the function signature is:
`public function firstOr($columns = ['*'], Closure $callback = null)`

so....

[2018-08-07 14:08] francislavoie commented on #71
I have a very similar one, but instead I'm calling `header()`.

[code]

[code]

`response()` returns an `Illuminate\Http\Response` which has the `ResponseTrait` which has the `header()` and `withHeaders()` functions.

[2018-08-07 18:00] szepeviktor commented on #71
Thanks!

[2018-08-07 18:26] ondrejmirtes commented on #112
Sounds like the correct solution is a dynamic return type extension for
$request->input()

On Tue, 7 Aug 2018 at 20:23, Julio J. Foulquie <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2018-08-07 18:54] ForzaSFerrari commented on #112
@j3j5 if you do that, you will get that. `Cannot cast array|string|null to string.`

My typical way to check if something is empty, is the validation of Laravel.

[2018-08-07 20:41] ondrejmirtes commented on #112
I'm not familiar with Laravel - if the input data are not sanitized in any way, then the original error report is correct because the value can really be `array|string|null` at any time and the code should handle these types.

[2018-08-07 20:56] j3j5 commented on #112
Oh, I think the original error is correct.
As @ForzaSFerrari mentioned, you can rely on Laravel's validation to make sure the input you are checking for is correct, but I'm not sure how you could pass that into phpstan, maybe @nunomaduro has an idea for this. Anyway, looking only into the provided snippet, I think the error is correct.

[2018-08-08 07:15] DenzoNL commented on #96
Exact same issue here as @ConorWright. Same version, same error.

[2018-08-09 07:59] hartman commented on #114
Ah duh. Anyway, does explain why the analyser fails on it. Will probably have to be added to the whitelist

[2018-08-09 08:07] nunomaduro commented on #114
Because this package don't have a stable version yet. And this is probably
a false positive. I will check it more carefully after my holidays.

On Thu 9 Aug 2018 at 08:59, Derk-Jan Hartman <notifications@github.com>
wrote:

[2018-08-09 11:13] keryja opened #116 "abort_if not treated like if statements by type checker"
- Larastan Version: 0.2.4
- `--level` used: max

### Description:
Currently `abort_if` does not seem to get treated similarly to if, anything designated as nullable is still considered nullable after `abort_if`

This results in an error when querying relations on the object:
[code]

### Workaround/example:
Current workaround for this is to use an if statement with a regular `abort`:

[code]

[2018-08-09 11:26] ondrejmirtes commented on #116
Well, first, this is a very weird error message that shouldn't happen: `Cannot call method theRelation() on mixed.`. I'm not sure how that can happen, because MixedType should pass this.

But to the original issue, Larastan should contain these two things:

* `abort_if` should have a very similar type-specifying extension to `assert` that is in the core
* `abort` should be an `earlyTerminatingFunc

[2018-08-09 14:05] keryja commented on #116
On `--level=max` calling methods on mixed do trigger errors so that's probably why it occurs.

I've whipped up a repository that reproduces the error, before reading your reply fully, anyway if it's ever needed [keryja/larastan-error-examples#reproduce-abort-if](https://github.com/keryja/larastan-error-examples/commit/ec155630fd72951eb3bde59951ff4cb29940967e).

[code]

[2018-08-09 14:28] ondrejmirtes commented on #116
They don't. The type there must be something else, not MixedType.

[2018-08-11 13:31] deleugpn commented on #112
I was about to open a new topic regarding this issue. Here's a simple snippet that illustrate it:
https://phpstan.org/r/708f863bb376f24259086d30ee8be72e

I can see that if we PR Laravel to change `string|array|null` to `mixed`, the error goes away. However, Laravel's signature is somewhat correct because the `input` method can only return these 3 types. From the Request lifecycle, we can be sure t

[2018-08-11 13:45] ondrejmirtes commented on #112
We certainly don’t need to change the docblock. At worst, we can rewrite
the typehint using dynamic return type extension.

How does a code snippet including the validation looks like?

On Sat, 11 Aug 2018 at 15:31, Marco Aurélio Deleu <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2018-08-11 14:11] deleugpn commented on #112
I just opened #118 to try and target this issue. There's a few concerns described in the PR, but I hope it helps us get closer to closing this issue.

[2018-08-11 18:43] szepeviktor commented on #70
Oh! This is a bug in our code.

It should be `response()->json($model);`

[2018-08-11 18:43] #70 closed

[2018-08-13 08:05] catalinux opened #119 "The comand it fails from start"
- Larastan Version: last
- `--level` used: default

### Description:
It fails when I run `php artisan code:analyze`
### Laravel code where the issue was found:

[code]
When downgrading to phpstan 0.10.2: it works

[code]

[2018-08-13 08:07] ondrejmirtes commented on #119
This is a weird error because in PHPStan itself, there's backwards compatibility to make the old option work:

[code]

[2018-08-13 08:51] ForzaSFerrari opened #120 "phpstan forces larastan to use --errorFormat"
- Larastan Version: 0.2.4
- `--level` used: not important in this case

### Description:
phpstan forces larastan now, if you want to check something this whole command `php artisan code:analyse --level=max --error-format json` as example

### Laravel code where the issue was found:
[code]

if you want to use `php artisan code:analyse --level=max --error-format json`, then the result is the followi

[2018-08-13 09:01] ondrejmirtes commented on #120
Duplicate of #119.

[2018-08-13 09:04] catalinux commented on #119
in PHPStan they have a wierd check
[code]

The problem is that `$oldErrorFormat`  is empty string.

[2018-08-13 09:04] ForzaSFerrari commented on #120
Not complete 😉

[2018-08-13 09:05] ondrejmirtes commented on #119
It's not weird - you either pass `--error-format` or `--errorFormat`. I don't know why someone would pass `-errorFormat ''`.

[2018-08-13 09:09] ondrejmirtes commented on #119
I got it: This line in OptionsResolver is potentially dangerous:

[code]

Because it clones deprecated options as well.

[2018-08-13 09:09] catalinux commented on #119
I don't.

I pass

[code]

The problem is that the oldErrorFormat  gets emptyString and not `null`

[2018-08-13 09:31] ondrejmirtes commented on #119
I'm hopefully fixing this in #121.

[2018-08-13 09:35] ondrejmirtes commented on #120
Fixing this in #121.

[2018-08-13 09:38] ForzaSFerrari commented on #120
Not everything. Please read correct.

[2018-08-13 09:39] ondrejmirtes commented on #120
I believe that everything is fixed. Can you install Larastan using this and verify it?

[code]

[2018-08-13 09:45] ForzaSFerrari commented on #120
No, I still have a different behavior, if I use `--errorFormat json` as when I use checkstyle, raw, table or prettyJson.

[2018-08-13 09:49] ondrejmirtes commented on #120
Yes, that makes sense, because it's deprecated, but it should still work. But you should switch to `--error-format`.

[2018-08-13 09:49] ondrejmirtes commented on #120
Can you please elaborate what you're running exactly and what's the output then?

[2018-08-13 09:54] ForzaSFerrari commented on #120
If I use `--error-format json`, I get stuck in the line of the result. At the other parameters I get to a new line automaticly.

[2018-08-13 10:08] ondrejmirtes commented on #120
Can you show me a screenshot? Or copy paste the text from the terminal.

On Mon, 13 Aug 2018 at 11:54, ForzaSFerrari <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2018-08-13 10:14] ForzaSFerrari commented on #120
[code]

[2018-08-13 10:18] ondrejmirtes commented on #120
So what’s the problem? It clearly works.

On Mon, 13 Aug 2018 at 12:14, ForzaSFerrari <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2018-08-13 10:19] ondrejmirtes commented on #120
If it does something unexpected, please post the full command you’re
running and the full output of the command.

On Mon, 13 Aug 2018 at 12:18, Ondřej Mirtes <ondrej@mirtes.cz> wrote:

--

Ondřej Mirtes

[2018-08-13 10:26] ondrejmirtes commented on #120
Oh, I thought you’re still stuck with something around the
errorFormat/error-format.

That’s a feature. JSON is not a human readable format, there’s no reason to
add the newline. If anything, the newline should be removed from other
machine-readable formatters.

On Mon, 13 Aug 2018 at 12:23, ForzaSFerrari <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2018-08-14 12:21] progalaa opened #123 "How to enable and disable a Rule in laraStan !!"
- Larastan Version: #.#.#
- `--level` used:

### Description:

### Laravel code where the issue was found:

[2018-08-14 12:26] progalaa opened #124 "How to enable and disable a Rule in laraStan !!"
- Larastan Version: latest
- `--level` used: any

**i need to enable and disable rules in larastan**
example
i got errors in dynamicWhere
#ex >> Transaction::whereStatus(1);
and also get error in If condition is always true
#ex >> if($cond) echo "success";

**but they disappears and appears upon the level so i need to know the limitation and cases for each level**
from 0 to 7

[2018-08-14 12:28] #123 closed

[2018-08-14 13:34] ondrejmirtes commented on #124
Please see this: https://www.reddit.com/r/laravel/comments/8zp759/introducing_larastan_alpha_version/e2m0aqq/

[2018-08-14 15:16] progalaa commented on #124
@ondrejmirtes  Thanks I'll Check

[2018-08-14 15:16] #124 closed

[2018-08-15 07:26] ondrejmirtes commented on #119
Lock PHPStan to 0.10.2 or wait until the PR is merged 😊

[2018-08-15 14:45] progalaa commented on #119
does anyone have idea about when the PR will be Merged ? @ondrejmirtes

[2018-08-15 14:54] ondrejmirtes commented on #119
Nuno (the maintainer) is on vacation whole August, so probably after that. Use PHPStan 0.10.2 until then.

[2018-08-16 03:34] wujunze commented on #120
Hello :

me too
![image](https://user-images.githubusercontent.com/12997869/44185795-414bbd00-a148-11e8-9d03-afaca35af9b6.png)

How to fix it ?

Thanks

[2018-08-17 20:01] #119 closed

[2018-08-17 20:12] ijpatricio commented on #119
@progalaa @catalinux @ondrejmirtes @coding-sunshine this issue has been fixed on the version v0.2.5, props to @ondrejmirtes

[2018-08-17 20:14] ijpatricio commented on #120
@wujunze @ForzaSFerrari this issue has been fixed on the version v0.2.5, props to @ondrejmirtes

[2018-08-17 20:14] #120 closed

[2018-08-18 08:45] ghost opened #125 "larastan slower after phpstan's latest update?"
- Larastan Version: 0.2.5
- `--level` used:not important

### Description:
Am I the only one who has the feeling that larastan works slower after the latest update of phpstan, or does anyone have a different feeling?

[2018-08-18 09:02] ondrejmirtes commented on #125
Can you run it with --debug and notice which files it hangs on? It’s
usually one or few special files that cause problems, because they contain
huge arrays or something like that.

Pinning it to a specific version or even commit would also help (try
running it on an older version and then a newer one and compare times).

On Sat, 18 Aug 2018 at 10:46, ForzaSFerrari <notifications@github.com>
wrote:

[2018-08-18 09:03] ondrejmirtes commented on #125
Of course I’m talking about PHPStan versions, not Larastan, it has probably
nothing to do with it.

On Sat, 18 Aug 2018 at 11:02, Ondřej Mirtes <ondrej@mirtes.cz> wrote:

--

Ondřej Mirtes

[2018-08-18 09:41] ForzaSFerrari commented on #125
running this command `vendor/bin/phpstan analyse --level 0 --debug` and getting this output

[code]

[2018-08-18 10:07] ondrejmirtes commented on #125
You can lock different version of phpstan/phpstan in Composer and run
Larastan as you’re used to.

On Sat, 18 Aug 2018 at 11:41, ForzaSFerrari <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2018-08-18 10:53] ForzaSFerrari commented on #125
Seems to be you already have this issue since few versions, but now it's getting bigger.
Checked with larastan 0.1.5 and phpstan 0.10.1

[2018-08-18 22:26] mnelson7982 opened #126 "At a loss on how-to clear out these remaining `errors`"
- Larastan Version: 0.2.5
- `--level` used: 5

### Description:

No matter how i attempt to clear these, Im unable to find a sensible way forward:
[code]

### Laravel code where the issue was found:

- As you can see the majority of the issues remaining are `withTrashed()`  coming from the `SoftDeletes` trait

- The few that are :`Call to an undefined method Illuminate\Database\Eloquent\Relations\

[2018-08-19 06:49] ondrejmirtes commented on #126
The switch should be switch (true), not switch ($exception).

On Sun, 19 Aug 2018 at 00:26 Matthew Nelson <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2018-08-20 03:15] wujunze commented on #120
Thanks

[2018-08-22 12:58] szepeviktor opened #129 "Check routes"
Would it be possible to check route classes and methods?
See https://github.com/slevomat/coding-standard/issues/412

[2018-08-27 16:53] nunomaduro commented on #129
@szepeviktor Sure! Thanks for the proposal. Great idea!

[2018-08-27 18:42] szepeviktor commented on #126
AS of `withTrashed()` see #40

[2018-08-27 20:03] #56 closed

[2018-08-27 22:00] nunomaduro commented on #19
This issue has been fixed.

[2018-08-27 22:00] #19 closed

[2018-08-28 11:11] Necko1996 opened #130 "Spaces in the path to the configuration"
- Larastan Version: `v0.2.7`
- `--level` used: `default`

### Description:
It does not recognize spaces in the directory name on command:
php artisan code:analyse

### Laravel code where the issue was found:
Image of error:
https://prnt.sc/knru9m

[2018-08-28 11:56] ondrejmirtes commented on #130
That's a feature of bash, you need to quote the path - `php artisan code:analyse '/d/E/Web - Projects/xxx'`.

[2018-08-28 14:45] Necko1996 commented on #130
@ondrejmirtes often it works with quotes.
I tried `''`, `""` and with `\` on `php artisan code:analyse -c`.
Still have same problem.

[2018-08-28 15:45] ondrejmirtes commented on #130
Oh, I get it, Larastan does not escape the parameter that it passes to PHPStan.

[2018-09-01 19:34] nunomaduro commented on #130
@ondrejmirtes You mean http://php.net/manual/en/function.escapeshellarg.php?

[2018-09-01 19:53] nunomaduro commented on #96
This issue should be fixed, can you guys make a quick test?

[2018-09-01 19:53] nunomaduro commented on #107
This issue should be fixed, can you guys make a quick test?

[2018-09-01 19:53] nunomaduro commented on #108
This issue should be fixed, can you guys make a quick test?

[2018-09-01 19:53] nunomaduro commented on #105
This issue should be fixed, can you guys make a quick test?

[2018-09-01 20:05] ondrejmirtes commented on #130
Yes, all arguments should be escaped with this.

On Sat, 1 Sep 2018 at 21:34, Nuno Maduro <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-09-01 20:36] nunomaduro commented on #130
@Necko1996 @ondrejmirtes This issue has been fixed.

[2018-09-01 20:36] #130 closed

[2018-09-01 20:39] nunomaduro commented on #86
@mikeerickson No plans for this at the moment. Thanks for your proposal @mikeerickson.

[2018-09-01 20:39] #86 closed

[2018-09-01 21:31] nunomaduro commented on #109
@ForzaSFerrari PHPStan is right here.

[2018-09-01 21:34] nunomaduro commented on #126
Hey @mnelson7982,

Thanks for reporting those issues.

Most of them are already reported by users of Larastan, do you mind of creating one issue with the problem below and close this one?

[code]

[2018-09-01 22:13] mikeerickson commented on #86
@ondrejmirtes assuming you are talking about internally so @nunomaduro does need to implement. I will be happy to make it pretty if you’d all like (seeing as I have a little experience in that avenue)

[2018-09-02 16:34] psafarcik commented on #96
Hello @nunomaduro,

Ive just tested it with `"nunomaduro/larastan": "^0.2.7"` and still got the same result:

[code]

[2018-09-02 16:45] nunomaduro commented on #96
@psafarcik Please update your Larastan version, and re-run your test.

[2018-09-02 18:53] nunomaduro commented on #109
@ForzaSFerrari

[2018-09-02 18:54] nunomaduro commented on #109
@ForzaSFerrari Please try:

[code]

[2018-09-02 19:02] nunomaduro commented on #125
@ForzaSFerrari Please run this and tell me if you still have the same problem: `php ./vendor/bin/phpstan analyse app --level=5 --configuration="vendor/nunomaduro/larastan/extension.neon"`.

[2018-09-02 19:12] ForzaSFerrari commented on #109
Thanks, for this example. It's been fixed.

[2018-09-02 19:12] #109 closed

[2018-09-02 19:26] ForzaSFerrari commented on #125
That's much faster. `php ./vendor/bin/phpstan analyse app --level=5 --configuration="vendor/nunomaduro/larastan/extension.neon"`

[2018-09-02 19:56] psafarcik commented on #96
Hello @nunomaduro,

its working now with version `"nunomaduro/larastan": "^0.2.7"`:
`php artisan code:analyse -l 0
 131/131 [▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓] 100%
 [OK] No errors`

thanks for fix :-)

[2018-09-02 21:35] nunomaduro commented on #125
@ForzaSFerrari Thanks. I will mark this issue as "bug", to be fixed later.

[2018-09-02 21:38] nunomaduro commented on #96
No problem, enjoy!

[2018-09-02 21:38] #96 closed

[2018-09-02 21:39] #107 closed

[2018-09-02 21:39] #108 closed

[2018-09-02 21:39] #105 closed

[2018-09-02 21:42] nunomaduro commented on #103
@ForzaSFerrari Hey buddy, to fix this issue:

[code]

[2018-09-02 21:51] szepeviktor commented on #40
@nunomaduro Could you investigate this one?

[2018-09-03 04:06] ForzaSFerrari commented on #125
no problem @nunomaduro

[2018-09-03 04:28] ForzaSFerrari commented on #103
It only fixes `Cannot call method save() on (Illuminate\Database\Eloquent\Collection&iterable<static(App\Users)>)|static(App\Users)|null.` but ` Cannot access property $name on (Illuminate\Database\Eloquent\Collection&iterable<static(App\Users)>)|static(App\Users)|null.` stays on the last level.

On level 6, you have to fix `Access to private property $name of parent class Illuminate\Database\Eloq

[2018-09-03 06:02] phh commented on #107
I can confirm that I don't get this error anymore.

[2018-09-03 06:09] phh commented on #108
Much better! Thanks!

[2018-09-03 12:08] spaceemotion opened #131 "Query Builder join methods getting False Positives"
- Larastan Version: 2.0.9
- `--level` used: default (aka 5)

### Description:
This is just so the issue can be tracked, as I am getting the following false positives:

[code]

### Laravel code where the issue was found:

[code]

[2018-09-03 13:11] canvural opened #132 "Parameter #1 $code of function abort expects int|Symfony\Component\HttpFoundation\Response, JsonResource given."
- Larastan Version: 0.2.7
- `--level` used: 5

### Description:

`abort` helper function in Laravel has a docblock like `\Symfony\Component\HttpFoundation\Response|int` for the `$code` parameter.
But in the code, `$code` parameter is being checked for `Responsable` interface. So anything that implements `Responsable` is valid here.

Maybe this is Laravel's fault rather than larastan/phpstan.

###

[2018-09-03 15:42] hartman commented on #26
So this is the Eloquent mixin phpdoc annotation that is added by @barryvdh/laravel-ide-helper

It cannot resolve the mixin, because basically it doesn't know it exists. I'm not even entirely sure if this error is now within ide-helper, or within the class lookup of larastan actually. It doesn't seem like this is easily ignorable, but i added a try catch to getMixinsForClass to ignore the reflectio

[2018-09-03 16:45] repat commented on #40
+1, we're also constantly running into this one

[2018-09-04 06:49] hartman commented on #105
I had this problem too, and it seems to be fixed for me. Great work !

[2018-09-04 11:43] Sanguigui commented on #96
Everything's working thanks !

[2018-09-04 21:16] Nizari opened #133 "Internal Error - In Mixins.php line 71:"
- Larastan Version: v0.2.9
- `--level` used: 0,1,2

### Description:
[code]
### Laravel code where the issue was found:

[2018-09-04 21:30] Nizari commented on #133
Apparently it breaks here
[code]

[2018-09-05 14:10] szepeviktor commented on #132
@canvural Try sending a PR to @laravel with adding `Responsable` to PHPDoc.

[2018-09-05 16:56] ghost opened #134 "Configuration file for users"
I would like to make a suggestion about a generated larastan configuration file. Even if it's just an idea, the configuration file could contain the following:

- your preferred error format,
- the paths that should be tested,
- the rule level that the user prefers,
- possibly the memory limit set by the user,
- if he likes the progress bar or just want to see the results,

My thought behind this

[2018-09-05 17:51] ondrejmirtes commented on #134
If you exclude the memory limit (you can set that globally in PHP) and the progress bar, the reset can be set in phpstan.neon file (that is autodiscovered if it's in the same directory).

[2018-09-05 17:53] nunomaduro commented on #134
I think it’s good a idea. Was already in my plans actually.
On Wed 5 Sep 2018 at 19:51, Ondřej Mirtes <notifications@github.com> wrote:

[2018-09-05 17:55] ondrejmirtes commented on #134
I worry it'd be confusing to let people use both phpstan.neon and "larastan configuration". Since these settings are all general PHPStan-specific (and not anything related to Laravel), I don't think it would bring much value here.

[2018-09-05 17:56] nunomaduro commented on #134
I will be busy this month ( again ), I will get back to you before
implementing this!
On Wed 5 Sep 2018 at 19:55, Ondřej Mirtes <notifications@github.com> wrote:

[2018-09-05 17:56] ondrejmirtes commented on #134
👍 😊

[2018-09-05 18:12] sebastiaanluca opened #135 "Recursive mixins causes - allowed memory size exhausted"
- Larastan Version: 0.2.9
- `--level` used: default, 5, or max

### References

https://github.com/nunomaduro/larastan/issues/25

### Description

Running `php artisan code:analyse` quits early with a fatal error exception.

[code]

Increasing the memory limit (to 4G) does not resolve the issue.

### Laravel code where the issue was found

When removing the following code, Larastan continues as ex

[2018-09-07 10:04] lasselehtinen opened #136 "Call to an undefined method Illuminate\Contracts\Routing\ResponseFactory|Illuminate\Http\Response::json()"
- Larastan Version: 0.2.9
- `--level` used: max

### Description:
This at least on Laravel 5.7.1. False positive I assume.

### Laravel code where the issue was found:
`return response()->json(['message' => 'foobar']);`

[2018-09-07 12:51] hartman commented on #133
I have something similar which i described here https://github.com/nunomaduro/larastan/issues/26#issuecomment-418148474

It's caused by @mixin or @see annotations added in the phpdoc of your classes, which the reflection cannot resolve.

See code starting: https://github.com/nunomaduro/larastan/blob/master/src/Methods/Pipes/Mixins.php#L60
failing at:
https://github.com/nunomaduro/larastan/blob/mas

[2018-09-11 20:49] nunomaduro commented on #135
@sebastiaanluca Thanks for reporting this issue.

Can I see the code of `Omnipay::class`?

[2018-09-11 20:52] nunomaduro commented on #133
@hartman What do you mean? Can you share the code that fails?

[2018-09-11 21:54] sebastiaanluca commented on #135
That would be [this one](https://github.com/thephpleague/omnipay-common/blob/master/src/Omnipay.php) from the `thephpleague/omnipay-common` package.

[2018-09-12 08:43] hartman commented on #133
@nunomaduro OK, this is an example model that has this problem. I've stripped it of some details:
The class is annotated by `php artisan ide-helper:models` and it breaks on the `@mixin \Eloquent`

Installed as specified in
`https://github.com/barryvdh/laravel-ide-helper#lumen-install`

It is possibly related to: https://github.com/barryvdh/laravel-ide-helper/issues/611

[code]

I tinkered about wi

[2018-09-12 08:55] nunomaduro commented on #133
Please perform a Pull Request, returning false on catch cases. 🙂

[2018-09-12 11:41] nunomaduro commented on #133
Thanks issue has being fixed on the version `v0.2.10`. Thanks to @hartman!

[2018-09-12 11:41] #133 closed

[2018-09-13 22:35] szepeviktor opened #138 "Model::replicate() returns dynamic type"
https://github.com/laravel/framework/blob/b3f583cd5efbc9e1b9482b00a7c22b00324e936e/src/Illuminate/Database/Eloquent/Model.php#L1143-L1166

I think `new static()` returns an instance of the current class but its PHPDoc says `@return \Illuminate\Database\Eloquent\Model`

Could Larastan calculate the actual type?

It produces something like

on level 2.

[2018-09-14 06:12] nunomaduro commented on #138
Yes it’s possible. This is a false positive.
On Fri 14 Sep 2018 at 00:35, Viktor Szépe <notifications@github.com> wrote:

[2018-09-14 07:01] nunomaduro commented on #138
May sound stupid (it's morning in Paris), but shouldn't that function `@return static`?

[2018-09-14 07:02] nunomaduro commented on #135
Ok. There is recursive `@see` annotations. We need to check the code of `mixins.php` in order to avoid this bug.

[2018-09-14 07:04] nunomaduro commented on #126
@mnelson7982 Do you mind of checking my last comment?

[2018-09-14 07:46] szepeviktor commented on #138
It makes Larastan happy.
Let's see how about Laravel developers: https://github.com/laravel/framework/pull/25617

[2018-09-14 13:28] szepeviktor commented on #138
@nunomaduro What to do with this? Wait for the next 5.7 minor release?

[2018-09-14 13:29] #138 closed

[2018-09-14 13:30] skyrpex opened #139 "VSCode extension for larastan?"
Is something working on a VSCode extension for larastan? There's one for [phpstan](https://github.com/calvinbaart/vscode-phpstan), so creating a new one for this project could be fairly easy.

If no one is working on it, maybe I could give it a try in a near future.

[2018-09-14 13:33] ondrejmirtes commented on #139
You can use the one for PHPStan and just include larastan's extension.neon into your configuration.

[2018-09-14 13:41] skyrpex commented on #139
Didn't know about that! That's awesome, thanks.

For those interested, you just need to create a `phpstan.neon` file in your project root with this content:

[code]

[2018-09-14 13:41] #139 closed

[2018-09-14 13:45] nunomaduro commented on #138
Yeah. The next minor release should fix it.

[2018-09-14 14:48] skyrpex opened #140 "Artisan::command false positive"
- Larastan Version: 0.2.10
- `--level` used: max

### Description:

The `$this` context inside an Artisan callable is expected to be a Command, but larastan reports the following:

[code]

### Laravel code where the issue was found:

`routes/console.php`:

[code]

[2018-09-14 14:59] ForzaSFerrari commented on #140
It will not only be reported by larastan. I get this message on Scrutinizer CI as well.

[2018-09-15 11:46] mfn opened #141 "Cannot redeclare Mockery_3_Mockery_1_PHPStan_Type_ObjectType_PHPStan_Type_ObjectType_Mockery_1_PHPStan_Type_ObjectType_PHPStan_Type_ObjectType::mockery_init()"
- Larastan Version: 5.7.3
- `--level` used: default

### Description
- Installed phpstan 0.13.0
- Installed larastan 0.2.10
- ran `php artisan code:analyse`

Got this:
[code]

### Laravel code where the issue was found:

I don't know where this comes from, the larastan docs say by default it's run for `app` only where I don't use mockery.

Note: I've an existing phpstan only setup which does not e

[2018-09-19 11:18] corbosman opened #142 "extra newlines in jenkins"
- Larastan Version: 0.2.10
- `--level` used: any

### Description:

I run larastan as part of my CI flow in Jenkins. There is an annoying issue with larastan compared to running phpstan manually.  Im including a link to a screenshot that shows the issue, first run is larastan, second run is phpstan.  In larastan extra newlines get introduced.

http://shot.ter.net/img/201809191315-6e572f53592cbb396

[2018-09-21 20:05] nunomaduro commented on #141
@mfn This issue got addressed on the version `v0.2.11`. Can you test it?

[2018-09-21 20:05] nunomaduro commented on #136
@mfn This issue got addressed on the version `v0.2.11`. Can you test it?

[2018-09-21 20:06] nunomaduro commented on #136
@lasselehtinen This issue got addressed on the version `v0.2.11`. Can you test it?

[2018-09-21 20:06] nunomaduro commented on #135
@sebastiaanluca This issue got addressed on the version `v0.2.11`. Can you test it?

[2018-09-21 20:07] nunomaduro commented on #114
@mathieutu This issue got addressed on the version `v0.2.11`. Can you test it?

[2018-09-21 20:08] nunomaduro commented on #90
@brendt This issue got addressed on the version `v0.2.11`. Can you test it?

[2018-09-21 20:08] nunomaduro commented on #89
@brendt This issue got addressed on the version `v0.2.11`. Can you test it?

[2018-09-21 20:09] nunomaduro commented on #67
@canvural  This issue got addressed on the version `v0.2.11`. Can you test it?

[2018-09-21 20:38] canvural commented on #67
@nunomaduro Yep, its fixed. Thank you!

[2018-09-21 20:38] #67 closed

[2018-09-22 08:00] mfn commented on #141
@nunomaduro awesome, works!

[2018-09-22 08:00] #141 closed

[2018-09-22 10:53] mfn commented on #93
In fact when you use `./artisan code:analyse --configuration=/path/to/your/file.neon` it is _merged_ with yours.

[2018-09-22 11:01] mfn commented on #47
It's documented now, at least via the Command; but it doesn't state the requirement about absolute paths:
[code]
I stumbled across this too.

In my case:
- I'm already using phpstan
- I already have a `phpstan.neon` in the root of the project

I would have expected either of the two things:
- `./artisan code:analyse` would pick up the mine automatically
  or
- `./artisan code:analyse --configurati

[2018-09-22 11:04] szepeviktor commented on #93
@mfn I am not sure about merging: #47

[2018-09-22 11:09] szepeviktor commented on #47
I usually use `./artisan code:analyse --configuration=$(pwd)/phpstan.neon`

[2018-09-22 11:41] sebastiaanluca commented on #135
Monday first thing, thanks!

[2018-09-22 12:01] mfn commented on #47
Yeah, I know, it's totally fixable. But in the hopes of unsurprising DX I wrote this ;-)

[2018-09-22 12:05] mfn commented on #93
🤔

I only know what I did:
- provided my own
- when I ran it, I was suspicious I didn't see "ignore errors reported"
- edited the built-in from the package to show ignored errors
- and it worked

That was my conclusion a merge happened. Also, all those errors reported looked different to me than from vanilla phpstan.

But maybe I miss-looked.

[2018-09-24 07:04] brendt commented on #90
@nunomaduro Seems to be fixed, thanks!

[2018-09-24 07:04] #90 closed

[2018-09-24 07:05] brendt commented on #89
It's fixed, thanks!

[2018-09-24 07:05] #89 closed

[2018-09-24 07:40] szepeviktor commented on #140
I think the only way is to teach Larastan to handle

`require base_path('routes/console.php');` in app/Console/Kernel.php

[2018-09-24 07:47] nunomaduro commented on #140
@szepeviktor Nah. I think there is a way of instruct PHPStan that $this corresponds to the class where the callback will be executed.

[2018-09-24 08:01] ondrejmirtes commented on #140
This area is hard, I don’t think there’s currently a way to fix this,
methods have no way of telling “this passed closure will be bound to class
X”.

On Mon, 24 Sep 2018 at 09:47, Nuno Maduro <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-09-24 08:03] nunomaduro commented on #140
@ondrejmirtes Any plans of adding this to PHPStan? And can create a Feature Request on phpstan repository if you want.

[2018-09-24 08:13] ondrejmirtes commented on #140
I’m accepting suggestions because I don’t know how to do it, there’s
certainly no expression in phpDoc that would enable this.

The only thing I could do would be to turn off all errors about $this in
closures but that’s not always neccesary.

On Mon, 24 Sep 2018 at 10:03, Nuno Maduro <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-09-24 10:13] skyrpex commented on #140
Maybe this kind of feature is too much of black magic. I don't think IDE's would ever autocomplete methods based on `$this` inside a callable... It'd be easier for everyone if every part of Laravel was IDE friendly (remove facades in favor of helper methods, the `$this` context change, etc).

[2018-09-24 13:05] hartman commented on #140
FYI, I have the same problem with Laravel macros.

[2018-09-24 13:13] ondrejmirtes commented on #140
I’ll try to improve this and reduce false positives for a future version of
PHPStan

On Mon, 24 Sep 2018 at 15:05, Derk-Jan Hartman <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2018-09-24 14:16] hartman commented on #136
This improved usage of response significantly for me, but I then ran into a problem with the phpdoc of Lumen's ResponseFactory being incorrect.
I have submitted https://github.com/laravel/lumen-framework/pull/811

[2018-09-24 17:40] #136 closed

[2018-09-24 17:55] nunomaduro commented on #131
A Pull Request on the Laravel Framework addresses this same issue: https://github.com/laravel/framework/pull/25761.

[2018-09-24 17:56] nunomaduro commented on #116
@keryja This issue still exists on the latest version?

[2018-09-24 17:57] nunomaduro commented on #114
This should be fixed.

[2018-09-24 17:57] #114 closed

[2018-09-24 17:57] nunomaduro commented on #112
@ForzaSFerrari This issue still exists on the latest version?

[2018-09-24 17:59] nunomaduro commented on #104
@Krato I think I know why, give me a couple days.

[2018-09-24 18:28] ForzaSFerrari commented on #112
It's been fixed.

[2018-09-24 18:28] #112 closed

[2018-09-24 19:31] canvural commented on #132
This is fixed in Laravel.

[2018-09-24 19:31] #132 closed

[2018-09-24 20:06] hartman commented on #136
For future reference the commit was https://github.com/nunomaduro/larastan/commit/a434de96df8d15fea85f8e2240265d2c191bcd90

[2018-09-25 14:45] nunomaduro commented on #131
@spaceemotion Pull Request got merged. Please test it on a `dev-master` version of Laravel.

[2018-09-25 18:17] danielcosta opened #144 "Larastan is not working with database factories"
- Larastan Version: 0.2.11
- `--level` used: 0

### Description:
The magic side of larastan is not working with database factories and the error below is shown when analysing this kind of file:
[code]

### Laravel code where the issue was found:
[code]

Is there any way to analyse or simply ignore these files temporarily?

[2018-09-25 19:18] danielcosta commented on #144
Great! While this analysis is not provided by phpstan itself, it's working with this snippet of configuration:

[code]

And the command to use the custom conf file is:

[code]

Thank you very much!

[2018-09-25 19:18] #144 closed

[2018-09-25 20:54] szepeviktor opened #146 "Increase test coverage"
Larastan's test coverage is currently under 10%
https://travis-ci.org/nunomaduro/larastan/jobs/431661574#L631

We encourage everyone to write more tests.
PR-s are welcome!

[2018-09-25 21:02] nunomaduro commented on #146
@szepeviktor Any ideas for this? I would love some kind of integration testing suite with a laravel application specific code that should be detected by larastan.

[2018-09-25 21:08] szepeviktor commented on #146
We already run with a vanilla laravel.
Actually only unit tests increase coverage.

[2018-09-25 21:10] szepeviktor commented on #146
@ondrejmirtes Do you have any idea on unit-testing extensions?

[2018-09-26 02:40] ForzaSFerrari commented on #146
@szepeviktor there is not only travis ci. 😎 https://scrutinizer-ci.com/g/nunomaduro/larastan/code-structure/master/code-coverage

[2018-09-26 03:48] ondrejmirtes commented on #146
You can use LevelsTestCase from PHPStan, check out
https://github.com/phpstan/phpstan-strict-rules/tree/master/tests/Levels

You can set up the .php files (with topic names) and it will generate the
current situation on the first run. It also updates the files and passes
only if they don’t need to be updated. Although it’s an integration test,
it spawns another process and I’m not sure whether it

[2018-09-26 13:06] canvural commented on #125
I also had this. But after 0.2.11 its fast again for me.

[2018-09-26 13:29] phannaly commented on #146
Has anyone worked on it? I'm happy to involve here.

[2018-09-26 13:32] nunomaduro commented on #146
@phannaly Fell free to propose a first test, you may want to inspire yourself on the @ondrejmirtes's comment.

[2018-09-26 13:36] phannaly commented on #146
Ahh, thank you @nunomaduro let see if I could.

[2018-09-26 15:01] phannaly commented on #146
Hi @nunomaduro @ondrejmirtes I want to make some PR on this but I really new to this tool and need to play around a bit. It would be great if you can make a PR then I can follow you all.

[2018-09-27 08:57] ForzaSFerrari commented on #125
@canvural What do you use when you say it's fast again? On my homestead, it's now much slower than in the previous versions.

[2018-09-27 09:07] canvural commented on #125
@ForzaSFerrari I'm running it in a docker container.

[2018-09-27 10:14] hartman commented on #134
If any Larastan specific config is needed, I think it would be best if it could be added to the phpstan.neon file as some sort of plugin specific annotation. Similar to how [laravel adds laravel specific stuff in composer.json.](https://laravel.com/docs/5.7/packages#package-discovery)

[2018-09-27 10:41] nunomaduro commented on #125
@ForzaSFerrari @canvural Executing Larastan inside homestead or inside a docker container could be the reason of this issue.

Please execute it in your machine to the see the results.

[2018-09-27 12:45] hartman opened #149 "Call to an undefined method Illuminate\Database\Query\Builder::doesntHave()"
- Larastan Version: e7b1dd5
- `--level` used: 2 and up

### Description:
I get these errors for all methods of the QueriesRelationships Trait

### Laravel code where the issue was found:
[code]

switching this around to:
[code]
makes it work. This seems to be because the [phpdoc](https://github.com/laravel/framework/blob/9f313ce9bb5ad49a06ae78d33fbdd1c92a0e21f6/src/Illuminate/Database/Eloquent/Con

[2018-09-27 12:48] szepeviktor commented on #149
@hartman Thank you for reporting this issue!
Could you find a [similar issue](https://github.com/nunomaduro/larastan/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc)?

[2018-09-27 13:11] szepeviktor commented on #149
@ondrejmirtes Could you help us why fully qualified class names generate an error?

[2018-09-27 13:38] hartman opened #150 "Ternary operator condition is always true"
- Larastan Version: e7b1dd5
- `--level` used: 4 and up

### Description:
I get the following error: Ternary operator condition is always true.

### Laravel code where the issue was found:
[code]
Where first returns: "\Illuminate\Database\Eloquent\Model|object|static|null"

The error is reported on the following fragment:
[code]
and the error disappears when I change it to
[code]

[2018-09-27 13:49] szepeviktor commented on #150
As per me: I do not see a *truthy* evaluation worthy to use. `$owner !== null` is something I agree.

[2018-09-27 14:05] szepeviktor commented on #150
@hartman Please open an upstream issue.
Thanks.

[2018-09-27 14:05] #150 closed

[2018-09-27 14:34] ondrejmirtes commented on #149
I don’t understand the error, what’s the problem? What should the phpDoc be
interpreted as? Can you reproduce the behaviour without any
Laravel-specific stuff at phpstan.org?

On Thu, 27 Sep 2018 at 15:11, Viktor Szépe <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-09-27 17:33] nunomaduro commented on #125
@ForzaSFerrari Can you confirm that outside the container is fast?

[2018-09-27 19:14] szepeviktor opened #151 "Eloquent ORM"
I'm up to use/copy/modify only the Eloquent ORM-related part of Larastan for a framework-less project using `illuminate/database`.

Which part should I pick to solve this?

[code]

`::find()` and `::where()`

...after some progress I'm stuck at mixins as they can't start without Laravel

[2018-09-29 18:40] austinkregel opened #152 ""Configuration" option doesn't work when the file partition has a space in it"
- Larastan Version: 0.2.12
- `--level` used: `max`

### Description:
The `configuration` input option doesn't seem to work when there is a space in the file path. I discovered this when just trying to run larastan on a volume with a space in the name.

When I `dd` the process I get the following output.

[code]
 It looks like the configuration option just needs to be put in quotes, but I didn't qu

[2018-09-29 18:46] ondrejmirtes commented on #152
Yes, escapeshellarg() should be used around all the arguments.

On Sat, 29 Sep 2018 at 20:41, Austin Kregel <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2018-10-02 13:46] nie7321 opened #153 "code:analyse not outputting to stdout/stderr"
- Larastan Version: v0.2.12
- `--level` used: Default (5)

### Description:
The `code:analyse` command is outputting to a tty instead of stdout/stderr.

This renders me unable to capture it for use by my CI system. As a workaround, I'm running the phpstan command with the right config/etc instead.

### Laravel code where the issue was found:
I am running the following:

`php artisan code:analyse -

[2018-10-02 18:54] szepeviktor commented on #153
@nie7321 Try `php artisan code:analyse >/tmp/phpstan-checkstyle.xml 2>&1`

[2018-10-02 20:52] nie7321 commented on #153
Same problem -- outputs to my terminal, but my file is empty.

Does that work in your environment? I'm seeing the behaviour both in Homestead & inside a Docker image extended from the official php:7.1-apache docker image.

[2018-10-04 19:49] szepeviktor commented on #40
@nunomaduro Do you have a theoretical plan for this?

[2018-10-04 21:16] Korri opened #155 "orchestra/testbench ^3.7 requires laravel 5.7"
- Larastan Version: 0.3.0
- `--level` used:

### Description:
Trying to install Larastan on a 5.6 app, and he requirement for testbench 3.7 makes it impossible.

[2018-10-04 21:19] szepeviktor commented on #155
Yes, they do
https://github.com/orchestral/testbench/blob/3.7/composer.json#L21
trying to resolve it...

[2018-10-04 21:20] szepeviktor commented on #155
It was just 2 hours ago!!
https://github.com/nunomaduro/larastan/commit/a85cb4aabe8dfb8bc019ecaf9341fa4077f72248#diff-b5d0ee8c97c7abd7e3fa29b9a27d1780R16

[2018-10-04 21:30] nunomaduro commented on #155
@szepeviktor Thanks for the help. @Korri the issue has been fixed in the version `v0.3.1`. Can you run a quick test?

FYI: The version `v0.3` allow people to use Larastan while creating packages for Laravel: https://twitter.com/enunomaduro/status/1047948748272422920.

[2018-10-05 06:48] #155 closed

[2018-10-05 13:09] Korri commented on #155
Yes it works now thanks!

Haha yes, quite the timing, I just finised upgrading to 5.6 and was excited to finally be able to install Larastan

[2018-10-05 13:14] nunomaduro commented on #155
Enjoy!

[2018-10-05 16:45] #68 closed

[2018-10-05 16:46] szepeviktor commented on #68
Could all of you test @Korri 's solution?

[2018-10-05 19:54] Korri commented on #26
@nunomaduro Looks like #155 also has the secondary effect of installing laravel/framework on Lumen projects.

[2018-10-05 19:57] nunomaduro commented on #26
@Korri There is a problem on that? This is a dev dependency.

[2018-10-05 20:31] Korri commented on #26
@nunomaduro The only issue here is `orchestra/testbench` if there is a way to not make it an hard dependency (only require in when testing a package), that would solve the issue.

[2018-10-05 20:34] nunomaduro commented on #26
@Korri I may have an idea, tomorrow I will code it 👍

[2018-10-06 03:34] tranba opened #158 "Call to protected static method in Storage facade"
- Larastan Version: 0.3.1
- `--level` used: 0

### Description:
I try to analyse my project and get error:
`Call to protected static method get() of class Illuminate\Filesystem\FilesystemManager`
### Laravel code where the issue was found:

[code]

[2018-10-06 14:33] #59 closed

[2018-10-06 14:39] nunomaduro commented on #151
You should require Larastan as dev dependency. Or I am missing something?

[2018-10-06 17:53] szepeviktor commented on #151
Okay!

[2018-10-06 17:53] #151 closed

[2018-10-06 20:15] nunomaduro commented on #26
No solution so far.

[2018-10-07 19:11] spaceemotion commented on #131
@nunomaduro hey, thanks for the fix. i wanted to check this, but was too busy before my vacation. will do as soon as i got the time :)

[2018-10-09 00:14] gpressutto5 commented on #40
Any workaround?

[2018-10-09 14:16] Korri commented on #26
Looks like the only hard requirement is the `Orchestra\Testbench\Concerns\CreatesApplication` trait, is there a way to replace it with something that is compatible with Lumen and Laravel?

[2018-10-09 20:14] nunomaduro commented on #40
Just added support to soft deletes `v0.3.3`. Can you folks run some tests?

[2018-10-09 20:31] gpressutto5 commented on #153
That's a real bug. When using with [grumphp](https://github.com/phpro/grumphp), larastan breaks the "layout".

[2018-10-09 20:33] szepeviktor commented on #40
Same here

[code]

line#33

`return \App\Models\Artwork::withTrashed()->findOrFail($id);`

[2018-10-09 20:34] nunomaduro commented on #40
@szepeviktor @gpressutto5 Please perform a `composer update nunomaduro/larastan` and test again.

[2018-10-09 20:35] szepeviktor commented on #40
Yes.
`  - Updating nunomaduro/larastan (v0.2.12 => v0.3.3): Loading from cache`

[2018-10-09 20:37] nunomaduro commented on #40
@szepeviktor Perform a `composer clear` and re-run `composer update`.

[2018-10-09 20:37] nunomaduro commented on #40
You should test with the version `v0.3.4`.

[2018-10-09 20:38] szepeviktor commented on #40
:) Gone!

Only `onlyTrashed()` remained "undefined".

[2018-10-09 20:40] nunomaduro commented on #40
@szepeviktor I don't understood your feedback about `Only onlyTrashed() remained "undefined".`.

[2018-10-09 20:40] szepeviktor commented on #40
[code]

[2018-10-09 20:41] szepeviktor commented on #40
[code]

[2018-10-09 20:43] nunomaduro commented on #40
@szepeviktor That's another issue. Should be the code that you have on the app/Http/Filters/OwnerFilter.php near the line 53.

[2018-10-09 20:44] gpressutto5 commented on #40
The static call errors are gone. But I can't use `withTrashed()` on a Builder yet. Any workaround?
[code]

[2018-10-09 20:44] szepeviktor commented on #146
@nunomaduro OK, we need a theory first.

[2018-10-09 20:44] nunomaduro commented on #40
@gpressutto5 That's another issue. Should be the code that you have on the  app/Models/Lead.php near the line 148.

[2018-10-09 20:54] gpressutto5 commented on #40
@nunomaduro `whereNotNull` returns `Buider|static`. That's the code:
[code]

I've changed `$query` type to `Lead`, like this:
[code]

Now PhpStorm knows this method does exists:
![image](https://user-images.githubusercontent.com/12385501/46697929-2e0b1a00-cbec-11e8-971e-22447a6d0555.png)

But I still get that error:
[code]

[2018-10-09 20:56] szepeviktor commented on #40
[code]

[2018-10-09 21:19] szepeviktor commented on #40
@nunomaduro Very nice job. Thank you.
Larastan *knows* almost 100% of Laravel.

[2018-10-09 21:37] szepeviktor commented on #40
@nunomaduro So `$this->builder->onlyTrashed()` in the above code should return `\Illuminate\Database\Eloquent\Model` ?

[2018-10-09 21:41] szepeviktor commented on #40
@nunomaduro As far I see the problem is that onlyTrashed is called on `$this->builder` which is a `\Illuminate\Database\Eloquent\Builder` - so changing the return type seems not to have anything to do with it.
Please advise.

[2018-10-10 13:56] Jamesking56 opened #162 "No support for 5.5 LTS?"
I just wanted to ask what the barrier was for this project supporting the latest LTS version of Laravel?

[2018-10-10 14:13] ondrejmirtes commented on #162
It’s not worth it, it would be more time-consuming - time that can be spent on improving the experience for users on the latesr version. You should definitely upgrade.

[2018-10-10 14:36] ondrejmirtes commented on #162
Support policy of Laravel framework has nothing to do with support policy of Larastan, two separate entities.

Also see: https://medium.com/@jasonmccreary/laravel-lts-is-a-trap-97b1d1103961

[2018-10-10 14:41] Jamesking56 commented on #162
Whats the point of LTS if package maintainers won't support it? I find it a bit silly to offer 'Long term support' when that only applies to core fixes? Is LTS just some sort of marketing ploy?

[2018-10-10 14:44] ondrejmirtes commented on #162
Package maintainers are not obligated to do anything, they’re free to decide what they want to support.

[2018-10-10 14:45] ondrejmirtes commented on #162
If you want to make use of someone else’s work, it’s your job to have the right prerequisities, not the job of the maintainer.

[2018-10-10 14:46] Jamesking56 commented on #162
Totally agree with that, package maintainers are offering a great service for free and they should decide what they want to support. It just seems to me like Laravel is playing a big trick on people who want longer support for enterprise, as they soon figure out that nothing else _wants_ to support LTS in the Laravel ecosystem.

[2018-10-10 14:50] nunomaduro commented on #162
@Jamesking56 I don't have plans of adding support to Laravel 5.5. Consider upgrade your application.

[2018-10-10 14:50] #162 closed

[2018-10-10 15:33] ondrejmirtes commented on #162
I think that they should upgrade their app instead, would be a more mature
and forward thinking thing to do.

On Wed, 10 Oct 2018 at 17:26, Viktor Szépe <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-10-12 06:25] stephenhowells opened #163 "Nova - Cannot call method on void"
- Larastan Version: 0.3.4
- `--level` used: 5

### Description:

The Nova service provider has a route method that doesn't return anything. Yet I get errors regarding the method chain. It feels like in this instance the method chain should be ignored. Not sure how to work around this error.

[code]

### Laravel code where the issue was found:

[code]

[2018-10-12 09:53] szepeviktor commented on #163
Another missing magic!

[2018-10-12 15:15] nunomaduro commented on #163
@stephenhowells The method `Nova::routes()` should return an instance of something. Probably an issue on the method PHPDocs. @stephenhowells Can you check and make a pull request on the nova repository ?

[2018-10-12 15:28] szepeviktor commented on #163
I've just learned it is closed-source.

[2018-10-12 16:08] stephenhowells commented on #163
It seems PHPStan plans to account better for methods that don't return anything: https://github.com/phpstan/phpstan/issues/658#issuecomment-348719205

[2018-10-18 13:29] axelitus commented on #40
I'm also having issues with `withTrashed()`, I'm getting the following error:

[code]

Here's my code:

[code]

I'm using the latest Larastan v.0.3.4

[2018-10-18 13:34] szepeviktor commented on #40
This shows that `updateOrCreate()` is not saying what it returns!

[2018-10-18 18:38] victorlap opened #165 "Variable $.. might not be defined"
- Larastan Version: 0.3.4
- `--level` used: default

### Description:
When Iterating through an array, which is certain to have values, larastan does not recognize that the variable created in the foreach is still there after the foreach.

### Laravel code where the issue was found:
[code]

### Larastan message
`Variable $unit might not be defined.`

[2018-10-18 18:42] ondrejmirtes commented on #165
Hi,
this is only PHPStan-specific issue and there’s already an open issue for
that.

On Thu, 18 Oct 2018 at 20:40, Victor <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-10-18 18:52] szepeviktor commented on #165
Thanks @ondrejmirtes !
@victorlap Please see https://github.com/phpstan/phpstan/issues/336

[2018-10-18 18:52] #165 closed

[2018-10-18 19:03] victorlap commented on #165
Okay thanks!

[2018-10-19 18:49] Korri commented on #58
Had the same issue, and update to the latest version of PHPStan fixed it though

[2018-10-20 19:51] sdbruder opened #166 "False positive on Macros ($this is not what larastan think it is), there is a way to tell larastan “ignore this” ?"
- Larastan Version: 0.2.10
- `--level` used: 5

### Description:
While defining a Query Builder macro, larastan makes the wrong assumption about $this type inside the macro: it complains **the AppServiceProvider does not have a where method**. shellcheck has a standard way to put comments in the code to make it ignore certain errors, for example.

I think instead of trying to make larastan really

[2018-10-20 20:16] szepeviktor commented on #166
I hope we can fix this!

[2018-10-20 21:06] nunomaduro commented on #166
@sdbruder @szepeviktor You can already ignore errors using Phpstan/Larastan. Tomorrow I will update the readme about this.

[2018-10-22 13:55] shirshak55 opened #167 "Shows unknown packages etc??"
Default level.

I follow modular pattern so don't have app folder. So as usual i used larastan like this

[code]

But it throws some message which should not be like

[code]

Although packages etc are correctly working.

Is it my issue or this package :)

Thank it may be dumb question but i am first time using it.

[2018-10-22 15:07] tvbeek opened #168 "model, query builder functions not found"
- Larastan Version: 0.3.4
- `--level` used: 2

### Description:
I get errors for the query builder methods on models. (first, where, get, whereDoesntHave, delete, pluck ...)

### Laravel code where the issue was found:

Error: Call to an undefined method App\Http\Controllers\SomeController::first().
[code]

Errors:
Call to an undefined method App\Http\Controllers\LocationController::with().
~~Call

[2018-10-22 15:11] nunomaduro commented on #168
This is an issue in your code. Can you share the exact code where this line exists `Location::where('site_id', $siteId)->orderBy('title')->with('page')->get();`?

[2018-10-22 15:16] HDVinnie opened #169 "Fails To Install On Existing Laravel 5.6.39 Project"
### Issue Type
- [x] Bug Report

### End User Info
-- Laravel Version: 5.6.39

-- PHP Version: 7.2.10

-- Database Driver & Version: MariaDB 10.3.8

-- Web Server Driver & Version: NGINX 1.15.0

-- OS Driver and Version: Ubuntu 18.04.1

### Issue:
- Installed using `composer require --dev nunomaduro/larastan`

[code]

[2018-10-22 15:36] szepeviktor commented on #169
@HDVinnie Thank you for reporting.
Could you see https://github.com/nunomaduro/larastan/issues/155?

[2018-10-22 15:36] #169 closed

[2018-10-22 16:06] tvbeek commented on #168
I see that only the `with` error was from that line, the other errors where from more below in the code.

The code (I did remove the rest of the functions that isn't part of this)

[code]

[2018-10-22 17:20] JeffreyDavidson commented on #40
I am getting the same error.

Call to an undefined method Illuminate\Database\Eloquent\Relations\BelongsTo::withTrashed().

[code]

[2018-10-22 20:39] hailwood opened #171 "Custom scopes in with/withCount closures"
- Larastan Version: 0.3.4
- `--level` used: 5 (default)

### Description:
[code]

The issue here is that my `Product` model has `public function scopeMatchingSearch(Builder $query) {...}`
however larastan is not picking up that context inside the closure, meaning it believes I only have access to the query builder methods and not the model scopes.

### Laravel code where the issue was found:

[cod

[2018-10-22 20:46] hailwood opened #172 "Using query builder "select" method results in a weird false positive"
- Larastan Version: 0.3.4
- `--level` used: 5 (default)

### Description:
Using the query builder `select` method seems to set the execution context to the current class e.g.

If I am inside a class `class MyClass {}` and call
[code]
then I get the false positive of

Updating the code to remove the select I.e.
[code]
Does not produce the false positive (of course it's no longer doing what I want..

[2018-10-22 20:55] hailwood opened #173 "private functions and __callStatic not detected"
- Larastan Version: 0.3.4
- `--level` used: 5 (default)

### Description:
A package which has a method defined as private, but then also defines a `__callStatic` handler is being detected as a false positive.

We're using Rodenastyle/stream-parser

It defines `private function xml(String $source);` here https://github.com/Rodenastyle/stream-parser/blob/master/src/StreamParser.php#L34

It uses a Tr

[2018-10-22 21:09] hailwood commented on #106
@deleugpn is correct that this is a Laravel issue, rather than Laravel magic...
It's fine though ,it's in the process of being fixed, this was merged 4 days ago :) https://github.com/laravel/framework/pull/26164

[2018-10-22 22:21] ThomHurks commented on #168
Not sure that's an issue in his code, I have the exact same issue in various (but not all) calls on Eloquent instances:
[code]

[2018-10-23 00:34] szepeviktor commented on #106
@phh Could you try with laravel master?

[2018-10-23 07:16] ian-nisbet commented on #26
It works fine with Lumen already.

I only had to add in the Service Provider to bootstrap/app.php
`$app->register(NunoMaduro\Larastan\LarastanServiceProvider::class);`

and specify the path.storage and path.config
`$app->instance('path.storage', app()->basePath() . DIRECTORY_SEPARATOR . 'storage');`
// https://github.com/nasrulhazim/lumen-in-laravel/issues/1
`$app->instance('path.config', app()->b

[2018-10-23 11:01] phh commented on #106
Have not gotten the error since I posted this issues, so closing.

[2018-10-23 11:01] #106 closed

[2018-10-23 12:19] davidcraig commented on #171
I noticed a similar issue, I have a query which has 3 scopes chained, 1 scope works and is analyzed correctly, the second I add any more scopes it complains that that scope does not exist.

[2018-10-23 18:16] milo526 opened #174 "False positive on static use of call_user_func"
- Larastan Version: 0.3.4
- `--level` used: max

### Description:
False positive on `call_user_func`

As per the `function call_user_func ($function, ...$parameter) {}` docblock

### Laravel code where the issue was found:
    class JotihuntApi
    {

        /**
         * Request the currently available posts of a specific type.
         *
         * @param string $type  One of the const defined

[2018-10-24 03:34] sdbruder commented on #166
cool, waiting the readme update. for the time being I’ve added an empty where method on the AppServiceProvider only to satisfy phpstan.

[2018-10-24 03:45] cosmok commented on #168
I am noticing the same, and, it seems to related to chaining multiple where:
 "nunomaduro/larastan": "^0.3.4"

[code]
[code]

[2018-10-24 08:57] nunomaduro commented on #166
Basically you have to create a root file in your project with the name `phpstan.neon.dist` and the content:

1.
[code]

2. And then just use phpstan directly:

`./vendor/bin/phpstan analyse`.

Notes:

- I am considering deprecate the Artisan Command `code:analyse`. And force people to use phpstan directly. What do you folks think?

[2018-10-24 09:07] szepeviktor commented on #166
Not that Laravelly!

[2018-10-24 14:06] johanvanhelden opened #175 "[Nova] Access to model properties"
- Larastan Version: v0.3.4
- `--level` used: 5

### Description:
Larastan detects false positives in Nova resources.
For example: when I access `$this->event`, on an `Audit` resource, Nova actually accesses `event` on the `Audit` model.

### Laravel code where the issue was found:

[code]

[2018-10-24 14:41] johanvanhelden opened #176 "[API Resources] Call to an undefined method"
- Larastan Version: v0.3.4
- `--level` used: 5

### Description:
Laravel has [Eloquent Resources](https://laravel.com/docs/5.7/eloquent-resources) to make it easy to standardize model output for API usage.

In my case I've got the [Spatie Permissions](https://github.com/spatie/laravel-permission) package installed to handle roles and permissions. That package adds a `getAllPermissions()` method to

[2018-10-24 14:51] johanvanhelden commented on #163
What would be the best way to ignore this for now? I've tried:
[code]

But that does not seem to be working. I'd rather ignore the file itself, like this:

[code]

But that also does not seem to work.

[2018-10-24 14:56] szepeviktor commented on #176
See https://github.com/spatie/laravel-permission/blob/71e28f3d12b77587351c09c608fe667e477a65d8/src/Models/Role.php#L18

[2018-10-24 14:57] szepeviktor commented on #163
Maybe

[code]

[2018-10-24 14:59] nunomaduro commented on #163
Those ignore errors are `regular expressions`. You need to escape stuff such as parentheses, etc.

[2018-10-24 15:02] johanvanhelden commented on #176
I'm sorry, but is that directed to me? I am not sure what to do with that information.

[2018-10-24 15:20] devfrey opened #177 "url() helper returns UrlGenerator|string"
- Larastan Version: 0.3.4
- `--level` used: 6

### Description:
When using the `url()` helper provided by Laravel, it returns an instance of `Illuminate\Contracts\Routing\UrlGenerator` when the `$path` parameter is `null` (which it is by default). But when providing a string to the `url()` method, it always returns a `string`.

Passing the return result of the url() method to a function that requi

[2018-10-24 15:28] szepeviktor commented on #177
We are open to a PR!

[2018-10-24 15:37] szepeviktor commented on #176
Actually I don't understand that `class Role` declares `getAllPermissions()` but `$this` in the above code is of `UserResource`.

[2018-10-24 15:45] johanvanhelden commented on #176
In my code, it looks like this:

Building the resource:
[code]
The model looks like this:
[code]

And because it has the roles trait, it also has the permission trait.

[2018-10-24 15:55] szepeviktor commented on #176
Thank you.

[2018-10-24 18:16] emiliopedrollo commented on #155
Now it's not compatible with Laravel 5.7:

    orchestra/testbench v3.6.5 requires laravel/framework ~5.6.13

And ~5.6.13 does not include 5.7. The solution is to allow orchestra/testbench in either version 3.6 or 3.7 (with is compatible with laravel 5.7). There's already a pull request #180 that can resolve this issue.

[2018-10-25 05:37] johanvanhelden commented on #134
This PR should add this functionality. It allows you to simply define a custom phpstan config file and simply run `artisan code:analyse`

https://github.com/nunomaduro/larastan/pull/178/files

[2018-10-25 05:39] johanvanhelden commented on #47
This PR should more or less address this issue. The config file will show it is an absolute path.

https://github.com/nunomaduro/larastan/pull/178/files

[2018-10-25 10:09] hulkur commented on #168
I think it might be issue with methods returning `$this`. I get same error message for `->count()` missing on controller.

[2018-10-25 13:35] deleugpn commented on #166
+1 for deprecating the `artisan` one.

[2018-10-25 14:53] louisfisch opened #182 "Documentation of a function that can receive a variable number of parameters"
- Larastan Version: 0.3.4
- `--level` used: 5

### Description:
Larastan reports the following when documenting a variable number of parameters of a given type according to the [phpDocumentor Manual](http://manual.phpdoc.org/HTMLSmartyConverter/HandS/phpDocumentor/tutorial_tags.param.pkg.html). I know the parameters are passed into the given variable as an array, and that is (probably) why I get t

[2018-10-25 14:56] ondrejmirtes commented on #182
This is not Larastan-specific issue, but about PHPStan.

This is the correct phpDoc:

[code]

[2018-10-25 15:10] szepeviktor commented on #182
Thank you for the answer.

http://php.net/manual/en/migration56.new-features.php *Variadic functions via ..*

[2018-10-25 15:10] #182 closed

[2018-10-25 15:15] louisfisch commented on #182
@ondrejmirtes where did you get that information? Take a look at those:
- [Stack Overflow: « PHPDoc: Documenting a function with a variable number of arguments »](https://stackoverflow.com/questions/14513356/phpdoc-documenting-a-function-with-a-variable-number-of-arguments)
- [phpDocumentor Manual: @param - Document a function parameter](http://manual.phpdoc.org/HTMLSmartyConverter/HandS/phpDocume

[2018-10-25 16:56] ondrejmirtes commented on #182
The syntax is in no way standardized, we decided for this notation because
it’s most widespread and also mirrors the native typehint notation.

On Thu, 25 Oct 2018 at 17:26, Viktor Szépe <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-10-25 18:15] szepeviktor opened #183 "Direct contributors to the correct copyright message"
@nunomaduro Please add a line in https://github.com/nunomaduro/larastan/blob/master/CONTRIBUTING.md

From: https://github.com/nunomaduro/larastan/pull/179#issuecomment-433152116

[2018-10-25 19:34] mauricehofman opened #184 "Environment() invoked with 1 parameter, 0 required."
- Larastan Version: 0.3.4
- `--level` used: default

### Description:
` Method Illuminate\Contracts\Foundation\Application::environment() invoked with 1 parameter, 0 required.  `

### Laravel code where the issue was found:
`$this->app->environment('local')` will trigger this error because this function uses `func_num_args` and `func_get_args`

[2018-10-25 19:47] szepeviktor commented on #184
@mauricehofman You are welcome to send a PR.
It is very easy!

[2018-10-26 00:50] sdbruder commented on #166
Ok, read about phpstan.neon and I think you didnt understood what I was talking about ‘ignoring errors’.

shellcheck has that capability that Im talking about:

When you have a false positive in your code you can put a comment one line earlier in your code instructing shellcheck to ignore that particular error, so you can continue to analyse the rest of the same source file.

With the tools on php

[2018-10-26 03:13] ondrejmirtes commented on #166
Yes, PHPStan does yet support local ignoring.

On Fri, 26 Oct 2018 at 02:50, Sergio Bruder <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2018-10-26 06:43] alexey-m-ukolov commented on #168
Yes, it looks like a `$this`-related issue.
I have this code:
[code]

And I get this error:
[code]

Method `pluck` is called on `Country`, but phpstan thinks that it is called on `CountrySelect`.

[2018-10-26 06:46] alexey-m-ukolov commented on #172
I think it's the same problem as in #168

[2018-10-26 10:31] ThomHurks commented on #168
@nunomaduro Do you agree with this analysis? Or do you think it's something else?

[2018-10-27 00:18] hopeseekr commented on #85
I ran into this exact same problem. I solved it by running `composer update` first.

[2018-10-27 01:08] #85 closed

[2018-10-27 15:58] mvdnbrk opened #185 "False positive with Zttp::get"
- Larastan Version: 0.3.4
- `--level` used: default / 5

### Description:

Call to an undefined static method Zttp\Zttp::get().

### Laravel code where the issue was found:
[code]

Zttp class:

[code]

[2018-10-27 16:37] szepeviktor commented on #185
Could you please @mvdnbrk ?

[2018-10-27 16:37] #185 closed

[2018-10-27 18:56] mvdnbrk commented on #185
Sure, thanks!

[2018-10-27 19:00] mvdnbrk commented on #185
@ondrejmirtes I guess this is related to issue https://github.com/phpstan/phpstan/issues/1105

[2018-10-29 14:01] #152 closed

[2018-10-29 14:04] szepeviktor commented on #168
I think all these should be dynamic return types as they return the same type what they are given.

[2018-10-29 14:18] Korri opened #187 "Invalid return type for find and findOrFail"
- Larastan Version: 0.3.5
- `--level` used: 6

### Description:
`Model::findOrFail()` return type is wrong, when passed a single ID the return type should be `static` and when passes and array `Collection<static>`

### Laravel code where the issue was found:
[code]

Throw the following error:
[code]

Same issue with find, which should have the same behavior, but including null as a possible return

[2018-10-29 17:06] ankitjain28may opened #189 "Getting this error on using Auth Facade in Laravel."
- Larastan Version: 5.7.*
- `--level` used: 1

### Description:
[code]
Getting this error on using Auth Facade in Laravel.

[2018-10-30 12:01] nunomaduro commented on #189
**Problem found**.

Under `NunoMaduro\Larastan\ReturnTypes\AuthExtension::class`, the method `getTypeFromStaticMethodCall` should return the NullType when there is no auth provider.

[2018-10-30 22:26] #177 closed

[2018-10-31 06:16] ankitjain28may commented on #189
Great.. let me know if I can fix this one... I would love to contribute to this module.

[2018-11-01 12:29] ttomdewit commented on #135
Hi @nunomaduro and @sebastiaanluca 👋 ,

This seems to still be a problem in `0.2.12` and `0.3.7`.

The last errors I got:

[code]

[2018-11-01 12:42] nunomaduro commented on #135
You are using `0.3.7`?

[2018-11-01 13:30] ttomdewit commented on #135
Hi @nunomaduro,

I do!

[code]

[code]

[2018-11-01 14:17] nunomaduro commented on #135
@ttomdewit Can you try to debug it? Please check the Mixins method pipe.

[2018-11-01 17:03] ttomdewit commented on #135
@nunomaduro Yes, I’ll get back to you tomorrow morning. Thank you!

[2018-11-02 06:28] ttomdewit commented on #135
So when I add a `var_dump($mixins)` on line 96 of the `Mixins` class located at `nunomaduro/larastan/src/Methods/Pipes/Mixins.php` it looks like it's running into a loop. I had to kill my terminal to make it stop, so I don't have a copy of it's output (writing it to a file didn't work either).

It shows the `Omnipay\Omnipay` class at index 0 and the `Omnipay\Comming\GatewayFactory` at index 1.

I'

[2018-11-02 08:54] johanvanhelden commented on #176
I can not reproduce this anymore. So this seems to be fixed in a newer version of either PHPStan or Larastan.

[2018-11-02 19:51] johanvanhelden commented on #176
I am sorry, it still happens.

[2018-11-02 20:51] mfn commented on #135
Try Symfonys `dd` which is available in Laravel.

[2018-11-06 00:54] loic-lopez opened #198 "dynamicWhere() expects string, int|null given."
- Larastan Version: 0.3.8
- `--level` used: 1

### Description:
Throw this error:
[code]
### Laravel code where the issue was found:
[code]

[2018-11-06 08:37] nunomaduro commented on #198
@loic-lopez There is 2 issues with that code.

First: `whereId` expects a string, and you are providing an `int`.

Second: The result of `Auth::id()` may be null, you may want to add a if condition before using the `whereId` with that result.

[2018-11-06 08:37] #198 closed

[2018-11-07 01:09] loic-lopez commented on #198
Thanks for reply.

Firstly in my case Auth::id() can't be NULL because is a protected route with : `Route::group(['middleware' => 'auth:api'])`

Secondly in my case Auth::id() will return a string because i use Uuid as primary key.

[2018-11-07 08:41] nunomaduro commented on #198
@loic-lopez Thanks for the details.

Try to cast the `null`/`int` to `string`
[code]

[2018-11-07 14:08] georgeboot commented on #103
I am having a similar error:

[code]

This results in:
[code]

I can't see why this would be expected behaviour.

The only thing I can think of that causes this issue, is that Larastan has some magic exceptions for Eloquent models, but because I extend my models from `BaseModel` (which extends from `Illuminate\Database\Eloquent\Model`).

I would however not expect this error since it still extends

[2018-11-07 17:35] jkniest opened #200 "Higher Order Proxy functions"
- Larastan Version: 0.3.8
- `default level` used:

### Description:
I am using the higher order proxy methods of collections, for example "map". The error message I get is: ` Access to an undefined property Illuminate\Support\HigherOrderCollectionProxy::$id.`

### Laravel code where the issue was found:
[code]

[2018-11-08 02:00] SCIF commented on #153
Hi @gpressutto5 , @nie7321 ,
I've experienced the same issue running the package in official Docker image. As a workaround you can use `--no-tty` option. A coloured output will go but you will be able to use pipes and redirection to file.

[2018-11-08 06:33] loic-lopez commented on #198
It's an unnecessary cast.

What i do in phpstan.neon: `'#Illuminate\\Database\\Query\\Builder::dynamicWhere()#'`

[2018-11-08 11:14] georgeboot commented on #103
Relates to #187

[2018-11-08 14:32] AJenbo opened #201 "?object === mixed, mixed !== ?object"
- Larastan Version: 0.3.8
- `--level` used:max

### Description:
After adding larastan to my existing phpstan setup code like this gives an error.
[code]

### Laravel code where the issue was found:
[code]

[2018-11-08 14:36] ondrejmirtes commented on #201
It’s not possible to achieve this error in plain PHPStan:

Method App\asd::b() should return object|null but returns mixed.

I guess that Larastan creates new ObjectType(mixed) instead of new
MixedType().

On Thu, 8 Nov 2018 at 15:32, Anders Jenbo <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-11-08 14:37] AJenbo commented on #201
Ironically the following works:
<?php

namespace App;

class asd
{
	public function a()
	{
		return null;
	}

	public function b(): ?object
	{
		return $this->a();
	}
}

[2018-11-08 16:51] loic-lopez commented on #198
Thanks for reply, also i use [https://github.com/barryvdh/laravel-ide-helper](url) to generate data about Models and more.

Can generated files may help larastan?

[2018-11-08 17:19] szepeviktor commented on #198
I've been through laravel-ide-helper etc. and I can say that Larastan is the clear winner with a huge distance to the second place!

[2018-11-08 20:40] szepeviktor commented on #198
Larastan is a bunch of extension on top of PHPStan.
So we need a quick PR to resolve a false positive.

[2018-11-10 23:12] loic-lopez opened #202 "phpstan.neon paths not working"
- Larastan Version: 0.3.8
- `--level` used: max

### Description:
Modifying paths in phpstan.neon changes nothing, it always use my app directory and only.

### Laravel code where the issue was found:
Bellow my phpstan.neon

[code]

[2018-11-11 15:39] nunomaduro commented on #202
Thanks for reporting this. Are you able to debug this and propose a pull request?

[2018-11-11 15:40] nunomaduro commented on #201
This seems to be related to PHPStan. Please report this to https://github.com/phpstan/phpstan.

[2018-11-11 15:40] phroggyy commented on #158
It appears this would be an issue with phpstan not correctly parsing `@mixin`, but instead using `@see` for links. The `Storage` facade has `@see \Illuminate\Filesystem\FilesystemManager`, and that manager then has `@mixin \Illuminate\Contracts\Filesystem\Filesystem`, which it appears phpstan fails to interpret correctly (as `@mixin` is not officially a support docblock annotation). Using `@see` i

[2018-11-11 15:41] nunomaduro commented on #200
Thanks for reporting this. We don't support Higher Order Proxy functions, yet.

[2018-11-11 15:43] ondrejmirtes commented on #201
It’s not. I think it’s something related to your overloading of
Scope::getType().

PHPStan itself does not behave like this.

On Sun, 11 Nov 2018 at 16:40, Nuno Maduro <notifications@github.com> wrote:

--

Ondřej Mirtes

[2018-11-11 15:44] nunomaduro commented on #201
@ondrejmirtes Thanks. My bad.

[2018-11-13 16:34] loic-lopez commented on #202
Thanks for reply, unfortunately I would not have time to propose a pull request.

[2018-11-13 19:39] szepeviktor commented on #153
@SCIF We are open to your PR!

[2018-11-19 03:06] imansugirman commented on #167
Same Issue

[2018-11-19 13:03] georgeboot opened #203 "Facades that use a manager pattern internal, are not supported"
- Larastan Version: 0.3.8
- `--level` used: 1

### Description:
`Call to an undefined static method Vinkla\Hashids\Facades\Hashids::encode()`

The package [laravel-hashids](https://github.com/vinkla/laravel-hashids) uses a the manager pattern for their library. This means that not only the facade is a "magic method", once the facade resolves to the instance, the method in that instance is also cal

[2018-11-19 13:10] nunomaduro commented on #203
Hey @ondrejmirtes, does PHPStan supports `method` annotations?

[2018-11-19 13:29] georgeboot commented on #203
It looks like it does: https://phpstan.org/r/0cddca2a-d104-4251-8614-785f9ebc2f2a

[2018-11-19 13:32] ondrejmirtes commented on #203
Yeah, of course :)

[2018-11-19 13:43] georgeboot opened #204 "Chained eloquent calls require `query()`"
- Larastan Version: 0.3.8
- `--level` used: 2

### Description:
When eloquent methods are chained on a model, Larastan fails to understand that.

### Laravel code where the issue was found:
[code]

This produces the following error:
`Call to an undefined method App\Console\Commands\SendCancelEventMail::get().`

When I update the eloquent chain to include `query()`, the error resolves itself:
[code

[2018-11-19 13:46] johanvanhelden commented on #202
@loic-lopez

I had the same issue, but with the `excludes_analyse` option. What I ended up doing was using wildcard characters. Like so:

[code]

Maybe this would work for you. Not ideal, and diffidently an issue tho. But it works for now.

[2018-11-19 13:49] Rogierownage commented on #171
I have a similar issue. When i call a HasMany relationship method on a model instance, and then chain a scope onto that, it complains that Illuminate\Database\Eloquent\Relations\HasMany does not have that method.

[2018-11-19 14:29] georgeboot commented on #107
Hmm I am not getting that uncaught error, but instead, Larastan generates a validator error:

`Call to an undefined method Illuminate\Contracts\Pagination\LengthAwarePaginator::map().`

My code:
[code]

Larastan 0.3.8, level 2.

[2018-11-19 14:33] nunomaduro commented on #107
@georgeboot Do mind of create a new issue for this?

[2018-11-19 14:38] georgeboot opened #205 "Calling map on an eloquent paginator, results in a false positive"
- Larastan Version: 0.3.8
- `--level` used: 2

### Description:
As per @nunomaduro 's request in #107

Larastan generates a validator error when the `map()` method is called on an eloquent paginator.

`Call to an undefined method Illuminate\Contracts\Pagination\LengthAwarePaginator::map().`

### Laravel code where the issue was found:
[code]

[2018-11-21 07:33] ttomdewit commented on #135
`dd()` and `exit`-ing does not work, since it'll stop executing LaraStan and continue with the next step in my so-called build pipeline.

I am sorry, but I am unable to tell you more than what I've previously told you roughly three weeks ago.

All I can say for certain is that if I remove the `@see` annotation in the Omnipay class it's working.

[2018-11-21 12:24] allangrds opened #206 "Argument 1 passed to PHPStan\Type\ObjectType::__construct() must be of the type string"
- Larastan Version: 0.3.8
- `--level` used: default

### Description:

Argument 1 passed to PHPStan\Type\ObjectType::__construct() must be of the type string, null given, called in /var/www/app/vendor/nunomaduro/larastan/src/ReturnTypes/AuthExtension.php on line 65

[code]

### Laravel code where the issue was found:

[2018-11-22 00:31] allangrds commented on #206
I've execute that command and received same error:

[code]

[2018-11-22 07:08] nunomaduro commented on #206
Allan what version of larastan are you using ?

[2018-11-22 13:54] adminfriso opened #207 "Cannot find properties trough foreach"
- Larastan Version: 0.3.8
- `--level` used: 2

### Description:
When using a foreach on a collection the model iterated over as the class it runs in instead of the models contained in the collection

### Laravel code where the issue was found:

[code]

#### Error
Access to an undefined property App\Jobs\AnalyzeGeofences::$lat.
Access to an undefined property App\Jobs\AnalyzeGeofences::$lng.

####

[2018-11-22 14:38] allangrds commented on #206
@nunomaduro I've changed to 0.3.9.

[2018-11-22 14:41] nunomaduro commented on #206
@allangrds Not possible. On the version 0.3.9 we are not making a new ObjectType: `1   PHPStan\Type\ObjectType::__construct()
      /var/www/app/vendor/nunomaduro/larastan/src/ReturnTypes/AuthExtension.php : 65`.

[2018-11-22 18:34] allangrds commented on #206
I'm sorry @nunomaduro.

`php artisan code:analyse --level=1 --debug`

Response
[code]

[2018-11-22 18:45] nunomaduro commented on #206
Show me the code that is on ` /var/www/app/vendor/nunomaduro/larastan/src/ReturnTypes/AuthExtension.php`.

[2018-11-22 18:53] allangrds commented on #206
[code]

[2018-11-22 19:45] mfn commented on #207
Even PHPStorm doesn't know it. I usually *always* typehint these with `/** @var DatModel[]|Eloquent\Collection */`.

[2018-11-22 20:07] allangrds commented on #206
It works. Thanks!

[2018-11-22 20:07] #206 closed

[2018-11-22 20:30] nunomaduro commented on #204
@georgeboot This issue has been fixed in Larastan `v0.3.10`.

Please run a `composer update nunomaduro/larastan` and tell me the results.

[2018-11-22 20:30] nunomaduro commented on #207
@georgeboot This issue has been fixed in Larastan `v0.3.10`.

Please run a `composer update nunomaduro/larastan` and tell me the results.

[2018-11-22 20:38] nunomaduro commented on #187
Can you re-test this is the latest version?

[2018-11-22 20:39] nunomaduro commented on #172
@hailwood @alexey-m-ukolov This issue has been fixed in Larastan `v0.3.10`.

Please run a `composer update nunomaduro/larastan` and tell me the results.

[2018-11-22 20:39] nunomaduro commented on #168
@tvbeek @ThomHurks This issue has been fixed in Larastan `v0.3.10`.

Please run a `composer update nunomaduro/larastan` and tell me the results.

[2018-11-22 21:05] Korri commented on #187
Version `0.3.10` still triggers:
[code]

[2018-11-22 21:14] nunomaduro commented on #187
Thanks for the test.
On Thu 22 Nov 2018 at 22:05, Hugo Vacher <notifications@github.com> wrote:

[2018-11-22 23:54] ThomHurks commented on #168
@nunomaduro Thanks! The issue where it thinks that the Eloquent methods should be present on the current file is gone :)

[2018-11-22 23:57] #168 closed

[2018-11-23 08:54] adminfriso commented on #207
Yes with v0.3.10 this works, amazing!

[2018-11-23 08:54] #207 closed

[2018-11-23 10:54] adminfriso opened #208 "cannot find object type in create"
- Larastan Version: v0.3.10
- `--level` used: max

### Description:
Cannot find object type in create, whereas it does find the property in the same level as the create exists as shown in line 39.

### Laravel code where the issue was found:

[code]

### error

 51     Access to an undefined property object::$id.

[2018-11-23 11:01] adminfriso commented on #208
calling collar->id on line 40 also gives the error.

    $id = $collar->id;

adding id to fillable on the model still gives the error.

    protected $fillable = [
        'id',
        'type',
    ];

Am I doing something wrong?

[2018-11-23 11:22] szepeviktor commented on #208
Hello @adminfriso !

Try to make your code better by changing `if(!empty()) {...}` to `if(empty()) continue;`

[2018-11-23 11:30] szepeviktor commented on #208
Maybe PHPStan does not know that foreach puts 1 collar into `$collar`

[2018-11-23 12:41] nunomaduro commented on #208
@szepeviktor I can add feature.

[2018-11-23 12:47] adminfriso commented on #208
@szepeviktor good one, thanks

[2018-11-23 12:51] adminfriso commented on #208
@szepeviktor as shown in line 39 it can find the value of type in the object. this issue should also be adressed in V.03.10 as @nunomaduro fixed it, related to issue #207

[2018-11-23 13:05] szepeviktor commented on #208
I think `if (!empty($collar->type)) {` tells PHPStan that type exists, not the foreach loop.

[2018-11-23 13:06] szepeviktor commented on #207
@nunomaduro Could you tell me how and where it was fixes? Is it in PHPStan or Larastan?

[2018-11-23 13:39] adminfriso commented on #208
good one, would think so indeed

[2018-11-23 13:57] tvbeek commented on #168
It is indeed fixed, thanks

[2018-11-23 15:50] nunomaduro commented on #207
@szepeviktor This was the fix: https://github.com/nunomaduro/larastan/commit/382fc759cc8a1f42dfbd288d670906e76783ea29.

The `ThisType`, for someone reason pointed to the instance where the code runs, and now every `ThisType` is now converted to Model::class =>`StaticType`.

[2018-11-23 15:50] nunomaduro commented on #207
Thanks for asking, but honestly Larastan is about dark magic. 👍

[2018-11-23 16:09] szepeviktor commented on #207
Thank you.

I thought the loop variable in foreach belongs to PHPStan.

[2018-11-23 17:36] ggolda opened #209 "PHPStan stops working on Windows"
If I add `phpstan.neon` file as proposed in this [issue](https://github.com/nunomaduro/larastan/issues/139), vscode phpstan plugin stops working on Windows.

Any ideas how I can fix or at least debug this?
Without this additional `phpstan.neon` file phpstan works as expected.

[2018-11-23 17:42] szepeviktor commented on #209
Are you sure is not Larastan?

[2018-11-25 07:40] mr-feek opened #210 "Auth::user() can return null"
- Larastan Version: v0.3.10
- `--level` used:

### Description:
`php artisan code:analyse` says

However, the return type for `Auth::user()` should be nullable https://github.com/laravel/framework/blob/5.7/src/Illuminate/Support/Facades/Auth.php#L10

### Laravel code where the issue was found:
[code]

[2018-11-26 08:37] #210 closed

[2018-11-27 14:21] vojtasvoboda commented on #26
@ian-nisbet Could you please write down step-by-step tutorial how to do that with Lumen? Thank you

I'm still getting `orchestra/testbench 3.6.x-dev requires laravel/framework ~5.6.34`.

[2018-11-30 08:53] szepeviktor commented on #153
+1 for the second option

[2018-12-02 22:36] staudenmeir commented on #202
AFAICS, you can't specify `paths` in `phpstan.neon` when you run Larastan using `php artisan code:analyse`.

When you don't specify the `--paths=` option, Larastan will pass the `app` directory to PHPStan by default. PHPStan will only use the `paths` parameter from `phpstan.neon` when Larastan doesn't provide a path (so in this case: never).

The [example](https://github.com/nunomaduro/larastan#us

[2018-12-03 10:38] neoplomero commented on #57
@nunomaduro I'm on "nunomaduro/larastan": "^0.3.4", and still having this issue :(

[2018-12-03 10:42] adminfriso commented on #57
@neoplomero could you provide us with more information about your issue, is it in a foreach loop etc. Between 0.3.4 and 0.3.12 quite some false positives has been addressed related to here. Could you proform a `composer update nunomaduro/larastan` and test it again? If it still is an false positive could you address it as a new issue.

[2018-12-03 10:57] neoplomero opened #216 "Access to an undefined property object::$ (False positive)"
- Larastan Version: 0.3.12
- `--level` used: default

### Description:
Having  this error:

 ------ ------------------------------------------------------
  Line   xxx/xxxx/xxxx/xxx.php
 ------ ------------------------------------------------------
  257    Access to an undefined property object::$Dividend.
  260    Access to an undefined property object::$IdtRace.
  267    Access to an undefined

[2018-12-03 10:58] neoplomero commented on #216
I've sorted validating if !empty() each of those but I think is not the best way. What do you guys think?

[2018-12-03 10:58] neoplomero commented on #57
@adminfriso  Thanks. Issue created https://github.com/nunomaduro/larastan/issues/216

[2018-12-03 11:33] nunomaduro commented on #216
@neoplomero The problem is in your code: `@param object    $races Race xml`.

[2018-12-03 11:39] neoplomero commented on #216
@nunomaduro what is the problem?

[2018-12-03 12:11] adminfriso commented on #216
@neoplomero There is no strongtype to races to the varables as input, therefor larastan does not know  what type of object the $races varable is. And therfore it cannot relate what kind of object $race is.
Try to qualify the object in your input variable
 `public function loadRaceResults (collect(Race) $races, Track track, DateTime $date)`'

[2018-12-03 12:31] neoplomero commented on #216
:thinking:  hmm didn't work. I'll close the ticket anyways. Thanks a lot.

Note: Validating (empty()) those fields did the trick.

[2018-12-03 12:31] #216 closed

[2018-12-03 12:34] nunomaduro commented on #216
Try this

[code]

[2018-12-03 12:38] neoplomero commented on #216
@nunomaduro it is not an Eloquent model object.  It is a parsed XML object.

[2018-12-03 12:39] nunomaduro commented on #216
Sorry, my bad.

[2018-12-03 12:46] neoplomero commented on #216
Thanks again.

[2018-12-04 09:38] nunomaduro commented on #205
@georgeboot Can you test this using the latest version of Larastan? This should be fixed.

[2018-12-04 09:39] #125 closed

[2018-12-04 10:01] georgeboot commented on #205
Hi @nunomaduro thanks for the hard work!

Just tested with version `v0.3.12` and I can confirm the issue is indeed fixed.

[2018-12-04 10:01] #205 closed

[2018-12-05 17:26] Korri opened #217 "Chaining calls on Eloquent returns a false when using with multiple times"
- Larastan Version: 0.3.12
- `--level` used: 2

### Description:
When calling a lot of methods on an eloquent query, Larastan seems to thing that the controller itself is returned after a certain number of chaining.

### Laravel code where the issue was found:
[code]
[code]
Removing any condition solves the issue.

[code]
[code]
Removeing the second `with` allows for has many conditions as we want

[2018-12-05 17:29] Korri commented on #217
Yes, I did the update because I though I was experiencing #204

[2018-12-15 20:22] Sch-Tim opened #218 "False positive if return is encapsulated in conditions"
- Larastan Version: ^0.3.12
- `--level` used: default

### Description:
I'm getting some false positives if a function should return some specific types by PHPDoc and indeed returns them, but encapsulated in if conditions.

[code]

You can see that this will in any case return something, but I get an error that it would return void.

[2018-12-15 20:35] Sch-Tim commented on #218
This is indeed a better solution, but I wonder if returns inside if-conditions are investigated?

Strangely, this doesn't solve the problem. I changed the code and still get this warning. The Line hint points to the line with the abort.
Could the reason for this be that abort doesn't really return something but throws an exception?

[2018-12-16 01:50] staudenmeir commented on #218
Since `abort()` returns `void`, I would say that the error is correct.

You can change your code to this:

[code]

[2018-12-16 01:56] stelgenhof commented on #44
I am running larastan 0.3.12 and get this as well (when using `Guard::user()`)

[2018-12-16 02:00] Sch-Tim commented on #218
Well then I'll have to stop returning my aborts. Bad habit..
Thank you guys!

[2018-12-16 02:00] #218 closed

[2018-12-18 13:32] blackfyre commented on #202
@staudenmeir Can confirm this behavior!

[2018-12-18 13:45] nunomaduro commented on #202
@staudenmeir @blackfyre Thanks for the input on this folks, fell free to improve this feature adding proposing a Pull Request.

[2018-12-26 20:46] newlinkcapital commented on #176
+1, any workarounds?

[2018-12-28 16:35] newlinkcapital commented on #187
+1
Thanks for this great software.

[2018-12-31 17:39] Turtle1363 commented on #40
I am seeing this error using larastan v0.3.13

[2018-12-31 17:51] nunomaduro commented on #40
@JeffreyDavidson @Turtle1363 Can you open a new issue with your snippets of code?

[2018-12-31 18:08] Turtle1363 opened #225 "False positive: Call to an undefined method Illuminate\Database\Eloquent\Relations\BelongsTo::withTrashed()"
- Larastan Version: 0.3.13
- `--level` used: 5

### Description

I'm getting what I believe are false positives

Call to an undefined method Illuminate\Database\Eloquent\Relations\BelongsTo::withTrashed()

### Laravel code where the issue was found:

here is the trait I'm using

[code]

I get an error like this:

[code]

`App\Model\System\SoftwarePackage` is extended (eventually) from a `Illuminat

[2019-01-02 21:18] nunomaduro commented on #225
@Turtle1363 @szepeviktor Wanna take this one?

[2019-01-02 21:21] Turtle1363 commented on #225
@nunomaduro, I wouldn't be able to fix.  I'm a n00b.  I am literally in awe of this package for laravel, it is truly amazing how many errors in my code it found.

[2019-01-02 21:30] Turtle1363 commented on #225
@szepeviktor , it is related.  @nunomaduro asked that I make a separate issue with relevant snippets?

[2019-01-07 16:33] devinpearson commented on #158
Storage::drive()->get() and it clears the error.

[2019-01-09 03:50] shane-smith commented on #175
Just ran into this when trying Larastan for the first time.

Since the main interface for this app is Laravel Nova, the majority of the issues reported by Larastan are actually this false-positive. At the moment, I suppose I'll need to exclude those files from being checked.

[2019-01-09 05:51] szepeviktor commented on #175
Very nice!

You may also contribute some code.

[2019-01-09 12:37] nunomaduro opened #226 "Improve testing suite"
I would like to improve the testing suite having the same testing struture used like this: https://github.com/Roave/no-floaters/tree/master/tests/src.

[2019-01-09 12:42] ondrejmirtes commented on #226
Are there any new rules in Larastan? Because that's what the link is about.

You should also look at how levels are tested, you can test various features like that (checking that some errors occur and some errors do not occur): https://github.com/phpstan/phpstan-strict-rules/tree/master/tests/Levels (you should test both, to see if the type inference works)

[2019-01-09 14:11] iNviNho opened #227 "Incorrectly determined a return class"
- Larastan Version: 0.3.13
- `--level` used: 6

### Description:

Hello Guys,

I am getting these errors on level 6

[code]

The way i use these properties and the function is following...

[code]

So to sum it up, object properties are not defined, but even if i define them or specify them as a @parameter docs it has no effect. I think that the problem lies in a User::find() method where a static

[2019-01-09 14:18] szepeviktor commented on #227
What is your `use`?

[2019-01-15 08:54] sksethi25 commented on #26
@nunomaduro Hey, Any update on this guys?

[2019-01-15 08:56] nunomaduro commented on #26
@sksethi25 I haven't work on this. Fell free to propose a solution/pr.

[2019-01-17 08:38] ijpatricio opened #228 "Using inline phpDocs, yes or not?"
- Larastan Version: 0.3.12
- `--level` used: 5

### Description:
I have one class, with a property for 'model' name. goes like

[code]

So that the IDE understands what a new var is, I use

` /** @var $model \Illuminate\Database\Eloquent\Model */`

before the call for new model, and the error thrown is

`PHPDoc tag @var has invalid value ($model \Illuminate\Database\Eloquent\Model): Unexpected tok

[2019-01-17 08:42] ijpatricio commented on #228
Thanks @nunomaduro , despite working in the IDE, i was using it reversed

the correct syntax is

`/** @var \Illuminate\Database\Eloquent\Model $model */`

Thanks!

[2019-01-17 08:43] #228 closed

[2019-01-19 14:51] sksethi25 commented on #26
@nunomaduro  as of now i just forked and moved "orchestra/testbench" into dev dependence and installed forked version with latest Lumen (5.7.7) (Laravel Components 5.7.*) . Registered service provider and ran the command, it worked like a charm.I have now alot of things to fix first,But Two of them of which caught any immediate attention are :

and

if you have any ideas about these , let me know.

[2019-01-19 17:18] nunomaduro commented on #26
For the `Call to an undefined method Illuminate\Database\Query\Builder::withTrashed()` is a duplicated issue, that already exists.

For the second you need to sahre the code where that happens.

[2019-01-24 12:30] telefoontoestel opened #231 "Isset operator (??) is not correctly parsed"
- Larastan Version: 0.3.13
- `--level` used: 5
- Laravel Framework Version: 5.6.39

### Description:
When parsing a piece of code with an isset operator (??), will return an error that it will always have the value of the rhs.

### Laravel code where the issue was found:
`return ($entity->active ?? true)
    && !($entity->deleted ?? false)`

This will yield the following errors:

- Left side of &&

[2019-01-24 12:37] szepeviktor commented on #231
Thank you for the report!

This seems to be a PHPStan error.
Please provide a sample code on https://phpstan.org/ and [open an issue upstream](https://github.com/phpstan/phpstan/issues/new).

[2019-01-24 12:37] #231 closed

[2019-01-24 12:41] ondrejmirtes commented on #231
I can't reproduce it: https://phpstan.org/r/47c4d3dd-e395-4333-8f10-a8be93a7aa9a, https://phpstan.org/r/6c3b5611-ddb6-484d-8890-334cacbc214f

Which type is `$entity->active` and `$entity->deleted`?

[2019-01-24 14:42] telefoontoestel commented on #231
The entity is a wrapper class around the Eloquent Model class. I've changed the example at https://phpstan.org/r/f23dc113-588c-4d7b-a976-54f63f788ace. When running it on cli I don't get the warning _Access to an undefined property Entity::$active_. It seems that the sandbox doesn't handle the magic __get very well. The default value for active is 1 and for deleted is 0, but obviously this can chan

[2019-01-24 15:12] nunomaduro commented on #231
🧙‍♂️🧙‍♂️🧙‍♂️🧙‍♂️🧙‍♂️🧙‍♂️🧙‍♂️🧙‍♂️🧙‍♂️

[2019-01-25 17:15] mfn opened #232 "Bootstrap file vendor/autoload.php does not exist."
- Larastan Version: 0.3.15
- `--level` used: default

### Description:
I get this error when I run the analyze command:
[code]
The help says:
[code]
and it's there:
[code]
Also, I've phpstan and can run it:
[code]
In my (existing!) `phpstan.neon` I've this:
[code]
When I remove the line, `larastan` works.

phpstan works either with the line present or absent.

For me a solution is easy: I can simp

[2019-01-25 17:23] szepeviktor commented on #232
Hello @mfn !

Try using absolute paths, see https://github.com/phpstan/phpstan/blob/master/README.md#configuration-variables

[2019-01-25 18:57] mfn commented on #232
The reason it doesn't work out of the box that way is that larastan decides to run phpstan from it's vendor installation "cwd"; so any relative path in the `phpstan.neon` file suddenly is relative to this.

That's quite an interesting choice, given that when phpstan is run the first instinct is to run it from a projects root, like other software, e.g.:
- `./vendor/bin/phpstan` or
- `./vendor/phpst

[2019-01-25 19:10] szepeviktor commented on #232
There are already path-related issues open.

[2019-01-25 19:22] ondrejmirtes commented on #232
Try running Larastan this way to see if it solves your problem: https://github.com/nunomaduro/larastan#usage-in-packages-for-laravel instead of `artisan code:analyse`.

[2019-01-25 20:00] mfn commented on #232
@szepeviktor funny that you mention it, I immediately found https://github.com/nunomaduro/larastan/issues/47 which also contains my input regarding surprising behaviour.

@ondrejmirtes jup, that works.

I just don't think it makes sense to force phpstan run from a cwd in practice no one will ran it from. The majority simply runs it from the project root.

[2019-01-26 20:46] set0x commented on #187
I have the same problem, any solution?

[code]

[code]

[2019-01-28 03:41] pushchris commented on #187
Same problem, always with ```findOrFail``` any updates on a way around it?

[2019-01-29 20:12] Evil85 opened #233 "Class 'Symfony\Component\VarDumper\Tests\Fixtures\NotLoadableClass' not found"
- Larastan Version: master / 3fb8427cbd4ec886c609e1501923015bcd028324
- `--level` used:

### Description:
My Enviroment
Ubuntu 18.04
php7.1

I tried to analyze a Laravel 5.1 project.

PHP Fatal error:  Class 'Symfony\Component\VarDumper\Tests\Fixtures\NotLoadableClass' not found in /larastan/vendor/symfony/var-dumper/Tests/Fixtures/NotLoadableClass.php on line 5

[2019-01-29 20:30] Evil85 opened #234 "Class 'SwaggerFixures\stdClass' not found"
- Larastan Version: master / 3fb8427cbd4ec886c609e1501923015bcd028324
- `--level` used:

### Description:
My Enviroment :
Ubuntu 18.04
Php 7.1

I tried to analyze my Laravel 5.5 project,

PHP Fatal error:  Class 'SwaggerFixures\stdClass' not found in /larastan/vendor/phpstan/phpstan/src/Broker/Broker.php(302) : eval()'d code on line 1

[2019-01-29 20:33] szepeviktor commented on #234
How could you install Larastan in a Laravel 5.5 project?

[2019-01-29 20:34] Evil85 commented on #233
Thanks your guide, Viktor.

So this plugin coudn't analyze any project before Laravel 5.6 ?

[2019-01-29 20:37] Evil85 commented on #234
I cloned the repo and run composer install.

Ran phpstan from /larastan/vendor/bin with this way :

./phpstan analyse --memory-limit=1024M /path/to/my_project

[2019-01-29 20:41] szepeviktor commented on #234
Larastan is a [set of services](https://github.com/nunomaduro/larastan/blob/master/extension.neon#L18) on top of PHPStan.

If you run directly PHPStan please include our extension.neon.

[2019-01-29 20:41] #234 closed

[2019-01-29 20:43] szepeviktor commented on #233
Larastan **may** be compatible with earlier Laravel version.

In that case you should hack your way through it.

All the best to you!

[2019-01-29 20:43] #233 closed

[2019-02-06 14:31] hskrasek opened #235 "Configuration Ignored"
- Larastan Version: 0.3.15
- `--level` used: N/A

### Description:
Currently testing setting up Larastan in our codebase at work, and something I noticed is that it seems like Larastan is ignoring the custom configuration file I created. It's in the base directory of the application, and looks like the following:

[code]

When I run Larastan with no CLI options passed it still defaults to level 5

[2019-02-06 14:40] szepeviktor commented on #235
Try absolute path in `--configuration=`

[2019-02-06 14:43] hskrasek commented on #235
@szepeviktor I've already tried that, technically I had to just to get it to read the file, it looks like the command doesn't currently support relative paths.

For reference this is exactly how I was calling it:

[code]

[2019-02-06 14:46] szepeviktor commented on #235
You may issue

`php artisan code:analyse --configuration="$(pwd)/phpstan.neon"`

[2019-02-06 14:48] szepeviktor commented on #235
Actually it does. The current path is somewhere inside vendor/

[2019-02-06 14:50] mfn commented on #235
@hskrasek see also
- https://github.com/nunomaduro/larastan/issues/47
- https://github.com/nunomaduro/larastan/issues/232

Due to the changed cwd, there are sometimes surprises when having existing phpstan setup.

[2019-02-06 14:50] #235 closed

[2019-02-06 14:52] hskrasek commented on #235
@szepeviktor Ahh, I only mentioned that because I tried to run it as `php artisan code:analyse --configuration=./phpstan.neon` and that didn't work.

Also trying your suggestion with `$(pwd)` did not work

[2019-02-06 14:53] hskrasek commented on #235
@szepeviktor I see you closed the issue which is fine but is there a recommended workaround for now to register other extension includes?

My assumption is the workaround is: "Don't use the artisan command", but I wanted to make sure

[2019-02-06 15:17] szepeviktor commented on #235
There should be absolute paths in side the neon file.

I've closed it as there 2 other issues open.
You're free to talk here!

[2019-02-07 21:03] hokutoasari opened #236 "FromRequest class say "Illuminate\Validation\ValidationException : The given data was invalid.""
- Larastan Version: 0.3.15
- `--level` used: 5 (default, and I tried `--level=1` also.)

### Description:

I run `$ php artisan code:analyse --debug -v` and I see following lines.

[code]

### Laravel code where the issue was found:

May be this errors fire in following code. But I can't have confidence in that.

[code]

The `App\Http\Requests\Contracts\Admin\Authors\AuthorStoreRequest` is just in

[2019-02-07 21:22] szepeviktor commented on #236
Could you state your *larastan* version?

[2019-02-07 21:25] hokutoasari commented on #236
@szepeviktor Oh, sorry my mistake.

* Larastan Version: 0.3.15

is right.

And updated my first post.

[2019-02-07 21:29] szepeviktor commented on #236
Thanks.

[2019-02-08 18:16] lorvent opened #237 "sentinel methods are not recognized"
- Larastan Version: v0.3.15
- `--level` used: default

### Description:
When i use Cartalyst/sentinel package, it throws errors saying
`Call to an undefined static method Cartalyst\Sentinel\Laravel\Facades\Sentinel::inRole()`

is there anything i do to supress this kind of errors?

### Laravel code where the issue was found:

[2019-02-08 18:30] nunomaduro commented on #237
Just add PR to fix that: https://github.com/cartalyst/sentinel/pull/453.

You should wait until is merged.

[2019-02-08 18:30] #237 closed

[2019-02-08 18:41] lorvent commented on #237
lol,
is it such a simple fix?

i am getting errors from following packages aswell

Maatwebsite\Excel
ConsoleTVs\Charts

[2019-02-08 18:44] nunomaduro commented on #237
@lorvent Just commit then similar fix.

[2019-02-11 08:59] larsnystrom opened #238 "Put orchestra/testbench in require-dev"
- Larastan Version: 0.3.15
- `--level` used: N/A

### Description:

Normally orchestra/testbench should be put in `require-dev` since it is used to run the tests of the package. Since larastan has it in `require` it affects the dependency tree of applications that depend on larastan. For example, I can't update to PHPUnit 8 because orchestra/testbench require PHPUnit 7, even though my application

[2019-02-11 09:09] nunomaduro commented on #238
@larsnystrom Larastan uses both when you are using Larastan to test your packages.

[2019-02-11 09:09] #238 closed

[2019-02-11 09:30] larsnystrom opened #239 "Improves `Internal error` exceptions messages feedback"
- Larastan Version: 0.3.15
- `--level` used: 0

### Description:

I'm getting the following error message on a few of the files in my project:

    Internal error: Driver [] is not supported.
    Run PHPStan with --debug option and post the stack trace to:
    https://github.com/phpstan/phpstan/issues/new

Running with debug outputs:

[code]

I'm unsure where to use the `-v` argument to see more d

[2019-02-11 09:35] nunomaduro commented on #239
Can you try to Perform a pull request on that issue? add some tests if it's possible.

[2019-02-11 09:57] larsnystrom commented on #239
I'm not  very versed in how phpstan works, but here's a full stack trace of the exception that was thrown:

[code]

[2019-02-11 10:05] ondrejmirtes commented on #239
@larsnystrom Every day is an opportunity if you're eager to learn. If you want to learn how PHPStan extensions work, check out the README: https://github.com/phpstan/phpstan#extensibility

[2019-02-11 11:14] larsnystrom commented on #239
Oh, so after some debugging I figured it out. I mistakenly thought the line
[code]
 in `config/filesystems.php` set the default filesystem driver, because of the name `FILESYSTEM_DRIVER` and the fact that there is a driver called `local`.

But it appears Laravel's default configuration actually has a disk called `local` as well (though I've removed it from my app), and if I'd read the comment abov

[2019-02-11 11:22] szepeviktor commented on #239
`Driver [] is not supported.` is a Laravel message. You could open a PR there.

[2019-02-11 11:27] ondrejmirtes commented on #239
Maybe Larastan could convert the exception into something nicer.

On Mon, 11 Feb 2019 at 12:22, Viktor Szépe <notifications@github.com> wrote:

--

Ondřej Mirtes

[2019-02-15 10:56] kieranbrown opened #241 "Model::query() wrong return type"
- Larastan Version: 0.3.15
- `--level` used: max

### Description:
Model::query() thinks an instance of Model is returned when it should be Illuminate\Database\Eloquent\Builder.

### Steps to replicate:
[code]

### Returns this error:

[code]

[2019-02-15 12:27] szepeviktor opened #244 "Fix Lumen error"
[code]

Can anybody land me a hand how to solve this one in Lumen?
https://github.com/laravel/lumen/blob/master/app/Providers/AuthServiceProvider.php#L33

Now we test Lumen too in CI.

[2019-02-17 19:40] szepeviktor opened #246 "Eloquent\Model is recognized instead of class extending Model"
- Larastan Version: 0.3.15
- `--level` used: 2

### Description:

### Laravel code where the issue was found:

[code]

[2019-02-17 19:43] szepeviktor commented on #246
Is it a know error/duplicate issue?

[2019-02-17 19:49] szepeviktor commented on #244
@goodevilgenius ?

[2019-02-18 15:15] goodevilgenius commented on #244
@szepeviktor Not sure. It seems to think that `$app['auth']` can be `Illuminate\Auth\AuthManager|null`. `AuthManager` has a `viaRequest` method, but of course `null` doesn't, which seems to be the problem.

But from my reading of the code, it's not possible for `$app['auth']` to be `null`.

The binding for `auth` is registered at https://github.com/laravel/lumen-framework/blob/87e7dcccda1b83ef0953

[2019-02-18 15:20] szepeviktor commented on #244
@ondrejmirtes Could it be a phpstan bug?

[2019-02-18 15:23] ondrejmirtes commented on #244
@szepeviktor I don't know what `$app` is and who is defining the type of `$app['auth']` - maybe some dynamic method return type extension hooked onto `offsetGet`?

[2019-02-18 15:27] szepeviktor commented on #244
`$app` is `\Illuminate\Contracts\Foundation\Application|\Illuminate\Foundation\Application`

https://github.com/laravel/framework/blob/5.7/src/Illuminate/Support/ServiceProvider.php#L9-L14

It is not clear to me how it can be an [array] also.

[2019-02-18 15:47] goodevilgenius commented on #244
In Lumen, it's actually `Laravel\Lumen\Application`. It doesn't extend, `Illuminate\Foundation\Application`, because `Illuminate\Foundation` is *only* in Laravel, and not Lumen.

It works as an array because `Illuminate\Foundation\Application` and `Laravel\Lumen\Application` extend `Illuminate\Container\Container`, which implements `ArrayAccess`.

See https://github.com/illuminate/container/blob/d

[2019-02-18 16:03] ondrejmirtes commented on #244
It probably implements `ArrayAccess` interface.

I'm not too familiar with Larastan, but there's probably an extension that says that `$app->offsetGet('auth')` (which is the same as `$app['auth']`) can return `Illuminate\Auth\AuthManager|null`.

[2019-02-18 16:45] szepeviktor commented on #244
App\Providers\AuthServiceProvider extends Illuminate\Support\ServiceProvider

https://github.com/laravel/framework/blob/5.7/src/Illuminate/Support/ServiceProvider.php

[code]

@goodevilgenius Where do you see `Laravel\Lumen\Application`?

[2019-02-19 08:44] claystation commented on #184
I tried adding a test for this using the following:

[code]

This gives me no errors when running the tests. Although it gives me errors while using it in my own Laravel app. Also, if i replace `environment('production')` with `isLocal('production')`. `isLocal()` does not take any arguments either and is also not supposed to so it should fail. And it does fail with the same error. Am i writing the

[2019-02-19 09:56] claystation opened #248 "Cannot call method store() uploaded file from request"
- Larastan Version: 0.3.15
- `--level` used: max

### Description
Larastan does not recognize the `store()` method on an uploaded file. It gives the error:
`Cannot call method store() on array<Illuminate\Http\UploadedFile>|Illuminate\Http\UploadedFile|null`

### Laravel code where the issue was found

[code]

[2019-02-19 11:10] claystation commented on #91
Any news? I commented on #184 but now i see there is also this issue.

[2019-02-19 13:09] goodevilgenius commented on #244
@szepeviktor

That DocBlock was written for Laravel, not Lumen.

`$app` is originally instantiated in `bootstrap/app.php`.

In Laravel, the line says:

[code]

In Lumen, that line says:

[code]

Also, you would think that `Laravel\Lumen\Application` would implement `Illuminate\Contracts\Foundation\Application`, but it doesn't. There are only three or four methods they'd have to implement to be abl

[2019-02-19 21:31] szepeviktor commented on #244
@goodevilgenius I was starting at the error: https://github.com/laravel/lumen/blob/master/app/Providers/AuthServiceProvider.php#L33

it says `$this->app` which is - I think - a property of `Illuminate\Support\ServiceProvider`

Am I wrong?

[2019-02-20 12:34] goodevilgenius commented on #244
@szepeviktor You are correct. But it's the same `$app` that's instantiated in `bootstrap/app.php`.

Each service provider is registered with the `register` method on `$app` in `bootstrap/app.php` in Lumen. It passes itself as the first parameter to the service provider's constructor, and that's where `$this->app` is set, from https://github.com/illuminate/support/blob/66a6ce7da82927f4278872a26b1f3

[2019-02-20 14:46] szepeviktor commented on #244
I see what you mean. Maybe the code works that way.

What I was talking about are the contents of the PHPDocblock.
Do you see the difference?

[2019-02-21 13:22] goodevilgenius commented on #244
@szepeviktor I do see the difference. My point is that that DocBlock was written for Laravel, and not Lumen. The DocBlock is wrong when used in Lumen. It could be right, if `Laravel\Lumen\Application` implemented `Illuminate\Contracts\Foundation\Application`, which it *could* easily do, but doesn't.

[2019-02-21 13:26] szepeviktor commented on #244
Thank you @goodevilgenius

How would you solve the issue? https://github.com/nunomaduro/larastan/issues/244#issue-410747438

[2019-02-22 14:35] spaceemotion opened #250 "[False positive] for Storage::put and UploadedFiles"
- Larastan Version: 0.3.15
- `--level` used: 5

### Description
I am getting a false positive for `Storage::put` with uploaded files:

[code]

As you can see, the Laravel code already does a check for Uploaded files:

https://github.com/laravel/framework/blob/c821cbf6f20fca4c50aa9d8fb08f71425afc07b8/src/Illuminate/Filesystem/FilesystemAdapter.php#L188-L191

I guess I could just call `putFile` dire

[2019-02-22 14:41] szepeviktor commented on #250
Thank you for the report.

Please do send a PR to Laravel: `resource|string|File|UploadedFile`

[2019-02-22 15:16] spaceemotion opened #251 "[False positive] Property does not accept Illuminate\Support\Facades\Gate"
- Larastan Version: 0.3.15
- `--level` used:5

### Description
[code]

According to the `@property`-Hints this method returns an instance of `\Illuminate\Contracts\Auth\Access\Gate` which PHPStan/Larastan seems to ignore:

https://github.com/laravel/framework/blob/c821cbf6f20fca4c50aa9d8fb08f71425afc07b8/src/Illuminate/Support/Facades/Gate.php#L19

### Laravel code where the issue was found

[code

[2019-02-28 00:00] szepeviktor opened #252 "Illuminate\Support\Collection is not deteced as Countable"
- Larastan Version: #.#.#
- `--level` used: 2

### Description

[code]

[code]

http://php.net/manual/en/countable.count.php

### Laravel code where the issue was found

[code]

[2019-02-28 09:57] szepeviktor commented on #252
It turns out "count" is an SQL column: `count(id) as count`

What to do now?

[2019-03-04 14:59] dakshhmehta opened #253 "Catch the live dd() found in code."
Hello,

I am Daksh from Laravel Live Meetup, as asked in question and as you mentioned to send PR for cathcing dd.

Scenario:
I had a site where my team was using dd() function to debug something. Normally, they either comment it out or completely remove it. However, somehow in code review, I missed that and despite using Larastan, production environment got messed.
Solution: It's awesome if dd()

[2019-03-04 15:05] ondrejmirtes commented on #253
It's very simple. Follow the PHPStan's README: https://github.com/phpstan/phpstan#custom-rules

Create a Rule that is registered to FuncCall node and check if the name of the called function is `dd`. Return an array with the error message if it is.

[2019-03-04 15:13] szepeviktor commented on #253
A better way: use PHPCS!

[2019-03-04 15:18] #253 closed

[2019-03-05 07:43] dakshhmehta commented on #253
Sounds great. Thanks.

[2019-03-06 14:28] UksusoFF commented on #44
Same trouble with `auth()->check()`.

[2019-03-07 21:36] mr-feek commented on #100
I can confirm I'm still seeing this on 0.3.13

[2019-03-07 22:19] mr-feek opened #255 "Model::on()->firstOrFail has unspecific return type"
- Larastan Version: 0.3.13
- `--level` used: 3

### Description
MyModel::on('conection')->firstOrFail() should return an instance of `MyModel`

Expected:
no errors

Actual:
`MyModel::on('conection')->firstOrFail() should return MyModel but returns Illuminate\Database\Eloquent\Model`

### Laravel code where the issue was found

here's an example failing test case (put in `ModelExtension.php`)

[cod

[2019-03-07 22:19] mr-feek commented on #100
Actually, this seems fixed now. However, I am running into https://github.com/nunomaduro/larastan/issues/255

[2019-03-07 22:29] szepeviktor commented on #255
Thank you. We have several issue on this, e.g. #246

[2019-03-09 00:33] mr-feek commented on #255
this test case passes when the laravel docblock is changed to just be `static` https://github.com/laravel/framework/blob/5.8/src/Illuminate/Database/Eloquent/Builder.php#L442

[2019-03-15 15:45] szepeviktor commented on #100
@nunomaduro Hello!
On a _special day_ could you help us to support Eloquent? There are ~5 open issues when chaining Eloquent methods misleads Larastan.

[2019-03-18 08:39] TheLevti commented on #26
Seems to break the whole app if you do not install it (production) by using `composer install --no-dev`.

Whole app fails when reaching the following lines in `bootstrap/app.php`
[code]

[2019-03-18 08:40] TheLevti commented on #26
All I get is just an empty 200 response for any endpoint. Also php artisan then just does nothing.

[2019-03-22 15:34] UksusoFF commented on #71
@szepeviktor @nunomaduro any news about this?

[2019-03-22 15:37] szepeviktor commented on #71
None here.

[2019-03-22 15:40] nunomaduro commented on #71
@szepeviktor @UksusoFF Sorry buddies, I simple don't have time for this project.

But fell free to contribute.

[2019-03-25 10:16] masterix21 commented on #187
Same problem

[2019-03-26 02:14] adminfriso opened #256 "Call to an undefined method Illuminate\Database\Query\Builder::orWhereHas()."
- Larastan Version: v0.3.15
- `--level` used: 2

### Description

 51     Call to an undefined method Illuminate\Database\Query\Builder::orWhereHas().
on the line with the -->

In the api description the method does exist.
I think this is a false positive.

Strange thing this actually is line 56

this also creates an issue on the same line
51     Method Illuminate\Database\Query\Builder::dynamicWh

[2019-03-26 06:55] szepeviktor commented on #256
Thank you.

We have other Eloquent false positives.

[2019-03-26 17:18] eriktisme opened #257 "Unexpected option 'services › relativePathHelper › factory'"
- Larastan Version: v0.3.15
- `--level` used: 5

### Description

Expect.php line 378: Unexpected option 'services › relativePathHelper › factory'.

### Laravel code where the issue was found

[code]

[code]

[2019-03-26 17:20] szepeviktor commented on #257
@eriktisme Thank you for the report!

Could you share us a snippet around Expect.php:378?

[2019-03-26 17:22] ondrejmirtes commented on #257
https://github.com/phpstan/phpstan/issues/2033

On Tue, 26 Mar 2019 at 18:18, Erik van Dam <notifications@github.com> wrote:

--

Ondřej Mirtes

[2019-03-26 17:26] szepeviktor commented on #257
Thank you.

[2019-03-26 17:26] #257 closed

[2019-03-27 07:08] zhangrenjie opened #258 "In Expect.php line 378:Unexpected option 'services › relativePathHelper › factory'."
- Larastan Version: #.#.#
- `--level` used:

### Description
In Expect.php line 378:

  Unexpected option 'services › relativePathHelper › factory'.

### Laravel code where the issue was found

[code]

[2019-03-27 07:27] jankal commented on #258
Related to #257 which is not solved but closed...

[2019-03-27 07:30] jankal commented on #258
I do also encounter this issue on Laravel v5.8.7 with larastan v0.3.15. I have to note that I use laravel spark inside my project.

[2019-03-27 07:35] szepeviktor commented on #258
Hello @jankal !

Please see the comments in https://github.com/phpstan/phpstan/issues/2033

If you cannot solve the problem please get back to me.

[2019-03-27 07:35] #258 closed

[2019-03-30 14:16] lintaba opened #259 "Larastan broke config() on tests, by orchestra"
- Larastan Version: 0.3.15
- `--level` used: n/a

### Description

Larastan included orchestra's core, and somehow even replaced the original environment with orchestra during testing, which replaces all config('') with its own.

[2019-03-30 14:26] szepeviktor commented on #259
Hello @lintaba !

Are you talking about orchestra/testbench-core conflicting with your testing environment?

Could you give use details?

[2019-03-30 22:45] nunomaduro commented on #244
`v0.3.16` has been released and it fixes this.

[2019-03-30 22:45] #244 closed

[2019-03-30 22:53] szepeviktor commented on #244
:)

[2019-03-30 23:04] lintaba commented on #259
Hey @szepeviktor,

Exactly. Without larastan, the following snippet runs perfectly. With larastan, it fails. I've backtraced till I found that for some reason my testing environment got replaced with orchestra, and that its only larastan's dependency.

[code]

`config/myConfig.php`
[code]

[2019-04-01 02:23] bolechen commented on #176
+1

[2019-04-03 18:31] allok commented on #187
+1 The same with `->first()`

[2019-04-03 18:34] szepeviktor commented on #187
We are open for a PR.

[2019-04-07 22:45] KeithTurkowski commented on #256
I get this error when wrapping orWhereHas() inside of whereNested(), but it works fine wrapped inside of where()

[2019-04-23 10:54] Xethron opened #262 "Redis: Call to an undefined static method"
- Larastan Version: v0.3.16
- `--level` used: 2

### Description
When using the Redis Facade, it complains about a call to an undefined static method.

### Laravel code where the issue was found
Using the following code:
[code]
larastan produced:
[code]

I tried changing it to:
[code]
But I still got:
[code]

---
# Workaround
The only workaround I found was to not use the magic methods like this:

[2019-04-23 23:59] xnekv03 commented on #206
Hello,
still getting
`  Argument 1 passed to _HumbugBox01ece8fd5bed\Symfony\Component\Console\Input\InputDefinition::addOption() must be an instance of _HumbugBox01ece8fd5bed\Symfony\Component\Console\Input\InputOption, instance of Symfony\Component\C
  onsole\Input\InputOption given, called in C:\wamp64\www\APISvatky\vendor\nunomaduro\larastan\src\Console\OptionsResolver.php on line 77
`

Using `

[2019-04-24 00:46] xnekv03 opened #263 "Wrong instance of InputDefinition::addOption()"
- Larastan Version: 0.3.16
- `--level` used: n/a

### Description
Cannot install  "nunomaduro/larastan": "0.3.16"
after running `composer require --dev nunomaduro/larastan`

### Laravel code where the issue was found

[code]

`Script @php artisan package:discover handling the post-autoload-dump event returned with error code 1`

composer.json
[code]

composer.lock
[code]

https://github.com/nunoma

[2019-04-24 07:33] szepeviktor commented on #263
MAybe a Laravel 5.8 compatibility issue?

[2019-04-24 10:18] ondrejmirtes commented on #263
This is weird:

1) Looks like Larastan isn't entirely compatible with phpstan-shim, where most dependencies are prefixed. This will be problem in 0.12 when the default distribution option will be PHAR-only.
2) But it doesn't seem like that @xnekv03 is trying to use phpstan-shim here.

[2019-04-25 08:43] adminfriso opened #264 "Call to an undefined method Illuminate\Database\Eloquent\Model::myHasManyRelation()."
- Larastan Version: 0.3.16
- `--level` used: max

### Description

false positive?

when trying to reach ```myHasManyRelationship``` as property it does find id. However when fetching the relationship as query it is found as error. ```Call to an undefined method Illuminate\Database\Eloquent\Model::myHasManyRelation()```
notable is the fact that is takes the eloquent model class, and not the mainMo

[2019-04-25 08:46] szepeviktor commented on #264
Thank you.

Yes Eloquent is not our 100% friend yet.

[2019-04-25 08:49] adminfriso commented on #264
I will continiou to shoot issues as I think it will help in finding where the issues came from. Will have a holiday period in a few weeks, I hope I could help resolve the issue.

[2019-05-08 14:34] szepeviktor commented on #265
Strange https://github.com/nunomaduro/larastan/blob/master/composer.json#L17-L23

[2019-05-08 14:36] szepeviktor commented on #265
I think I've met with this path.storage issue.

[2019-05-08 14:37] szepeviktor commented on #265
@leandrodaf Could you please follow up in that issue?

[2019-05-08 14:37] #265 closed

[2019-05-08 21:09] leandrodaf opened #265 "Package is not compatible with lumen 5.6"
- Larastan Version: **0.3.16.**
- Lumen Version: **5.6.\***

### Description
![Screenshot from 2019-05-08 11-06-11](https://user-images.githubusercontent.com/12107458/57381452-55759580-7181-11e9-849b-1bafd54c3c2b.png)

[2019-05-09 11:44] zgosalvez opened #266 "ERROR: Job failed: exit code 1 but [OK] No errors"
- Larastan Version: 0.3.12
- `--level` used: Default

### Description

Using this in continuous integration returns an error code 1, even if there are no errors.

[code]

[2019-05-09 11:45] nunomaduro commented on #266
Weird, can you try to debug why?

[2019-05-09 12:36] zgosalvez commented on #266
Used `--debug` but it only listed the files it went through. PHP files truncated below for privacy.

[code]

[2019-05-09 12:38] ondrejmirtes commented on #266
Debug what’s going on in the source code.

On Thu, 9 May 2019 at 14:36, Zennon Gosalvez <notifications@github.com>
wrote:

--

Ondřej Mirtes

[2019-05-20 18:08] leonardohipolito opened #267 "how to run in laravel zero?"
How to run larastan by laravel zero app?

[2019-05-20 18:09] szepeviktor commented on #267
Currently not :(

https://github.com/nunomaduro/larastan/issues/26#issuecomment-406899557

[2019-05-20 18:09] #267 closed

[2019-05-27 21:12] j3rrey commented on #26
Working perfectly fine on my end.
Lumen 5.8
Fairly big project for a lumen app

[2019-05-27 21:38] j3rrey commented on #265
created a pr working fine here https://github.com/nunomaduro/larastan/pull/268/commits/cd1b1ad83d3e7ad274d8a6e2e291e5b8bdd8f071

[2019-05-28 06:10] TheLevti commented on #26
Does your app work if you install with ---no-dev?

[2019-05-28 06:17] j3rrey commented on #26
Well I have a production switch, so I assume yes.

[2019-05-28 09:33] TheLevti commented on #26
Thought so the same, but apparently it does not work for me. I also have it in the dev requirements. Just wanted to ask if someone else tried it.

[2019-05-29 12:38] HarleyScotcher opened #271 "phpstan/phpdoc-parser no longer works with larastan"
- Larastan Version: 3.1.16
- `--level` used: no

### Description

PHPStan/phpdoc-parser version 0.3.4 has broken Larastan. This issue directed me to resolve this issue here: https://github.com/phpstan/phpdoc-parser/issues/29

### Laravel code where the issue was found

Symfony\Component\Debug\Exception\FatalThrowableError : Argument 7 passed to class@anonymous::create() must be of the type string

[2019-05-29 12:45] szepeviktor commented on #271
Maybe https://github.com/nunomaduro/larastan/pull/269 ?

[2019-05-29 12:54] nunomaduro commented on #271
This has been fixed on the version `v0.3.17`.

[2019-05-29 12:54] #271 closed

[2019-06-06 12:44] Resin01 commented on #176
Any solution for this yet?

[2019-06-06 12:46] ondrejmirtes commented on #176
Did you send or proposed one? If not, why don’t you do it?

[2019-06-07 14:52] j3rrey commented on #26
@TheLevti
hmm in that case, how are you registering the service provider?

[2019-06-13 15:59] j3rrey commented on #26
@TheLevti try to do a ```composer dump-auto``` after your initial composer install --no-dev

[2019-06-16 15:43] bolechen opened #272 "Query\Builder::dynamicWhere() expects array, string given with Laravel 5.8.23"
- Larastan Version: v0.3.17
- `--level` used:5

### Description
When upgrade to Laravel 5.8.23, I have this error

[code]

### Laravel code where the issue was found

[code]

[code]

[2019-06-16 15:44] bolechen commented on #272
When i down laravel to 5.8.21, the error is gone.
may be ref this pull https://github.com/laravel/framework/pull/28734

[2019-06-18 18:39] mfn opened #273 "Error testing rebing/graphql package"
- Larastan Version: 0.3.17
- `--level` used: 1

### Description
I'm trying to add larastan to https://github.com/rebing/graphql-laravel/ , I'm already using a very basic phpstan configuration successfully.

The problem is, as soon as I add the include to the neon file, it get a very weird error.

For comparison, the existing neon file:
[code]
And phpstan works:
[code]

However, as soon as I add th

[2019-06-18 18:57] szepeviktor commented on #273
Hello!

Thanks for the report.

- so we are testing only rebing/graphql not a complete Laravel app
- please correct indention in the neon file
- Rebing\GraphQL needs to define some properties

Could you share the output of the analysis done this way?

[code]

[2019-06-18 18:59] szepeviktor commented on #273
The above uses the master branch, not `mfn-larastan`

[2019-06-18 19:07] szepeviktor commented on #273
I think here is the cause src/Rebing/GraphQL/GraphQLServiceProvider.php:56

`$this->mergeConfigFrom($configPath.'/config.php', 'graphql');`

[2019-06-18 19:46] szepeviktor commented on #273
We have a suspect: https://github.com/nunomaduro/larastan/blob/master/src/ApplicationResolver.php#L79-L83

[2019-06-18 19:52] szepeviktor commented on #273
I think Larastan is meant to be used only in Laravel.

[2019-06-18 20:07] szepeviktor commented on #273
@nunomaduro Maybe Larastan could get a list of service providers from composer data like src/Illuminate/Foundation/PackageManifest.php and from config/app.php['providers']

[2019-06-18 20:19] mfn commented on #273
Hmm...I thought it was also for Libraries ["Usage in Packages for Laravel"](https://github.com/nunomaduro/larastan#usage-in-packages-for-laravel)

I didn't gave it much thought after that. I saw Larastan being used by another Package ( https://github.com/nuwave/lighthouse ) so that's why I tried to integrate it.

But yeah, it's interesting that it seems to not really pay attention to what `paths:`

[2019-06-18 21:18] ondrejmirtes commented on #273
@mfn Do you actually need Larastan in your library? Are you actually experiencing any false-positives related to Laravel?

Anyway, the logic in `getProjectClasses` is dangerous and shouldn't be done this way...

[2019-06-18 21:58] mfn commented on #273
I guess the best answer is "dunno". As mentioned, saw it in another library, thought I gave it a try, readme gave me the impression it's also for libs.

For now I'll continue with regular phpstan.

I'm totally fine if my use-case isn't supported 👍 I already received so much valuable feedback :-)

[2019-06-19 14:08] mfn commented on #273
After I've no restructured the files a bit and went for phpstan max setting and testing larastan: it found additional 39 errors, probably due to more insights into all the magic stuff

[code]
I looked at a few of them and they look legit, so I think it makes sense to go for larastan.

However, the particular issue I initially had is now solved via https://github.com/rebing/graphql-laravel/pull/339

[2019-06-19 15:36] ondrejmirtes commented on #273
static analysis

It has to boot it to find information from Laravel about the performed
magic. It crosses the borders of static analysis a bit but you get a lot of
benefit from it.

It still shouldn’t blindly require all the code though...

On Wed, 19 Jun 2019 at 17:12, Viktor Szépe <notifications@github.com> wrote:

--

Ondřej Mirtes

[2019-06-19 19:08] mfn commented on #273
Is that a "larastan" thing or phpstan, too?

[2019-06-19 20:46] mfn opened #274 "ignoreErrors are not correctly reported as not matched"
- Larastan Version: 0.3.17
- `--level` used: max

### Description
One useful behaviour of phpstan is that `ignoreErrors` which are actually not matching any errors anymore, are themselves reported as error. Thus it's easy to keep the house and the `.neon` file clean.

TIL that it seems within Larastan it doesn't work.

In https://github.com/rebing/graphql-laravel/pull/347 I moved from Phpstan to L

[2019-06-19 20:57] ondrejmirtes commented on #274
It’s because Larastan overrides this setting:
https://github.com/nunomaduro/larastan/blob/master/extension.neon

BTW in PHPStan 0.12, unmatched errors will no longer fail the build, but
they will always be reported in the output.

On Wed, 19 Jun 2019 at 22:46, Markus Podar <notifications@github.com> wrote:

--

Ondřej Mirtes

[2019-06-19 20:58] szepeviktor commented on #274
Yes, here it is https://github.com/nunomaduro/larastan/blob/master/extension.neon#L18

[2019-06-19 20:58] #274 closed

[2019-06-20 04:52] mfn commented on #274
Hmm, so I'm a victim of the following:
- Larastan doesn't report them because some of them are sometimes (Laravel version dependent?) not triggered
- which means **in my** project it's useless to enable it because it shows also Larastan errors

Would that be a feature request to phpstan so libraries and _their_ ignoreErrors are not treated the same as _my_ ignoreErrors when it comes to reporting t