[2020-04-14 06:49] mfn opened #531 "Class self was not found while trying to analyse it - autoloading is probably not configured properly"
Using `master` I encountered the following bug ( similar but not quite as https://github.com/nunomaduro/larastan/issues/516 ):
[code]
Not kidding, the first line does truly not report a (line) number. Since it doesn't "crash", adding `--debug` didn't reveal anything.

The reported line looks like this:
[code]
In my case its triggered because I call `pluck` directly on the relation; if I insert `->

[2020-04-14 06:50] mfn commented on #516
Thank you 🙏  => https://github.com/nunomaduro/larastan/issues/531

[2020-04-14 06:52] szepeviktor commented on #531
# 😲

[2020-04-14 07:14] mfn opened #532 "\Illuminate\Database\Eloquent\Relations\Relation not treated as \Illuminate\Database\Eloquent\Builder"
- Larastan Version: master at https://github.com/nunomaduro/larastan/commit/15e8d17cbccbf83bcebadbf581a037920803f510
- `--level` used: 6

### Description
I _think_ the issue description is the one I want to go for, not exactly sure TBH; this is the reported error:

### Laravel code where the issue was found
I've a helper method defined like this:
[code]
and I use it from code like this:
[code]
The

[2020-04-14 08:05] mfn commented on #531
Btw I _think_ this is the error which seems to prevent me a baseline, never seen this 😄 but I assume so because of the missing line number:
[code]
:-)

[2020-04-14 08:08] mfn commented on #531
Ah, can't be manually ignored either:

Excluding these classes isn't an option, so I hit a dead end integrating larastan 😱

[2020-04-14 08:25] canvural commented on #531
Oh, it's getting weird I see :smile: I'll try to fix it today.

[2020-04-14 20:30] canvural commented on #531
The issue is `self::class` is not resolved to an actual class name. Normally PHPStan can do that, but in this case, I'm doing some weird stuff and try to parse file by myself with PHP-Parser. So I also need to resolve names. I tried using `NameResolver` visitor but didn't seem to do the job.

So looks like it'll take little more time than I thought since I need to learn some more stuff about PHP-P

[2020-04-14 20:34] szepeviktor commented on #531
..or ask @ondrejmirtes

[2020-04-14 21:12] ondrejmirtes commented on #531
`$scope->resolveName` will do.

[2020-04-14 21:15] ondrejmirtes commented on #531
Can you point me to the specific code you're working with? Maybe I'll be able to suggest some improvements.

[2020-04-15 12:33] canvural commented on #531
Basically, I want to change the return type of a class method. But the return type depends on something in the body of the method.

For example for this method:
[code]
I want to convert the return type to `HasMany<Account>`

In the ideal world, users would define this return type on their own. But I want to make it easier for them. If we force them to annotate all of their relations, that would be

[2020-04-15 12:37] ondrejmirtes commented on #531
This is fine. I'm doing something similar in phpstan-doctrine: https://github.com/phpstan/phpstan-doctrine/blob/b67c0cc3e6411d0dceda81ebd34c56d6120dec48/src/Type/Doctrine/QueryBuilder/QueryBuilderMethodDynamicReturnTypeExtension.php#L159-L198

For example, if someone is calling `$this->createBaseQuery()->select('e')`, in case `createBaseQuery` returns QueryBuilder I'm gonna inspect the `createBase

[2020-04-15 12:59] canvural commented on #531
In the current state, the extension does not have the latest changes. I started locally yesterday. And got it working today. With the changes to use a new scope for the file. But [here](https://github.com/nunomaduro/larastan/blob/master/src/Types/RelationParserHelper.php#L22-L60) is the current state. And this was failing when analyzing for example
[code]
It was returning `HasMany<self>`

But with

[2020-04-15 13:04] ondrejmirtes commented on #531
Yeah, ping me once you do. When I look at the current state, this logic is totally unnecessary:

[code]

You can replace it with:

[code]

And it will also account for code like:

[code]

which the pure AST approach doesn't.

[2020-04-15 13:10] harmenjanssen commented on #175
For what it's worth, I had this same problem, and adding `@mixin` wasn't the solution here either since attributes and relations are all magical in Laravel.
But I noticed that the callbacks get two parameters, a `NovaRequest` and the model. An undocumented feature, I guess, but this would circumvent having to use `$this` in that context.

Example:

[code]

[2020-04-16 11:12] canvural commented on #532
Hi,

I think this is normal behavior. You are expecting `Builder|QueryBuilder` type in `addSomeImportentConditions` method, but you are passing `Relation` (`HasManyThrough` in this case) Doesn't matter if relation forwards calls to the query builder. Types don't match.

So I think having `Builder|QueryBuilder|Relation` as the type of the parameter would fix it.

[2020-04-16 11:19] szepeviktor commented on #532
testing my signed email :)

Idézem/Quoting Can Vural <notifications@github.com>:

SZÉPE Viktor, webes alkalmazás üzemeltetés / Running your application
https://github.com/szepeviktor/debian-server-tools/blob/master/CV.md
[code]

[2020-04-16 12:46] canvural commented on #531
@mfn This should be fixed with #533 Can you test again after pulling the latest master?

[2020-04-16 15:06] mfn commented on #531
It works, thank you! ❤️

[2020-04-16 15:11] mfn commented on #532
Hmm. You're right, works! Strange why I didn't thought of it.

Well, I think because I expected the `@mixin` to tell phpstan/larastan that "Relation is-a Builder".

Acceptable solution for me 😛 😏 Thanks!

[2020-04-16 15:11] #532 closed

[2020-04-16 19:26] Daanra opened #535 "Query with custom builder broken return type"
- Larastan Version: https://github.com/nunomaduro/larastan/commit/7abe5f61f516f27182b5326717796c54c0d52f26
- `--level` used: max

### Description
Calling either `::get()` directly on a model with a custom builder or on a model with a custom builder that does not have the proper PHPDoc annotations:

[code]
results in error messages because the return type of a query will be inferred as `Illuminate\

[2020-04-17 10:26] ludo237 commented on #515
@mr-feek a configuration should do the trick

[2020-04-17 11:03] zlodes opened #536 "Allow using non-integer model IDs"
- Larastan Version: 0.5.5
- `--level` used: `max`

### Description
PR #499 allows only (!) integer type for model IDs.

But we are using UUID for some models IDs and static analysis failing.

I propose to rollback the PR.

### Laravel code where the issue was found

[code]

[2020-04-17 11:09] szepeviktor commented on #536
So you'd like to have `int|string`?

[2020-04-17 11:12] canvural commented on #536
Hi,

This is fixed in the current master. You can specify a type for your `id` property in the annotation, and that will be used.

[code]

[2020-04-17 11:41] #536 closed

[2020-04-17 16:11] zlodes commented on #536
@canvural cool, thanks!

[2020-04-18 16:00] bytestream commented on #338
Just ran into this.

What's the purpose of `bootstrap.php`? This seems to be the culprit behind code being executed.

This should no longer be true in phpstan >= 0.12.4 (https://github.com/phpstan/phpstan/issues/67)

[2020-04-18 16:26] ondrejmirtes commented on #338
It's still true because static reflection isn't fully deployed. As [the last comment](https://github.com/phpstan/phpstan/issues/67#issuecomment-569814548) in that thread says.

But Larastan's bootstrap serves a little bit different purpose than reflection, so it will still need to execute parts of Laravel to find out useful information about your application for the static analysis. There's no oth

[2020-04-18 17:31] bytestream commented on #338
The bootstrap file should be configurable or possible to override. It's essentially a copy of the artisan file which you're obviously free to edit in Laravel.

Is that possible? It looks to be added to the autoloader files so before you'd get the chance to change it.

I basically have a requirements check that happens before Laravel is loaded, and some later code (inside Laravel) expects those req

[2020-04-18 17:34] ondrejmirtes commented on #338
Yes, you can override it: https://phpstan.org/config-reference#bootstrap

But you should make sure to include Larastan's bootstrap in your bootstrap.

[2020-04-19 10:49] canvural commented on #535
Hi,

I changed the stub for `EloquentBuilder` [here.](https://github.com/nunomaduro/larastan/commit/47d917912672669d3dd1fe38cbf237dee7397247) So that should solve the issue with `testWeirdErrorMessage`

About `testWeirdErrorMessage2` there is nothing we can do I think. `Builder` is a generic class, so any custom builder class extending it has to have the annotations.

[2020-04-19 12:09] Daanra commented on #535
@canvural Thanks for the update!

I don't mind the Builder requiring the annotations. The biggest problem, in my opinion, is that the error message can get quite confusing. It doesn't say anything about a missing annotation and that might lead the developer in the wrong direction.

If we change the test slightly:
[code]
The error message will be something like
```Access to property $id on an unkno

[2020-04-19 12:36] canvural commented on #535
Warning about that you forgot to add the annotations is PHPStan's job. And actually it does it. [Here](https://phpstan.org/r/7ea49c33-fe70-4e31-baba-d3b50dc51569) is an example.

But I think in our case, we have the extensions and the extension is trying to do something with the generic class, so it somehow suppresses that error. I'm not sure how we can fix it or if it is trivial to fix or not.

[2020-04-20 13:18] deleugpn opened #541 "Issue with Carbon startOfWeek"
- Larastan Version: 6.18.8
- `--level` used: 4

### Description

[code]

I believe this issue is being caused because the `Date` trait uses the Rounding trait, which has a docblock of `* @method CarbonInterface startOfWeek()`. I will report this to the Carbon repository, however I thought about reporting here as well for the reason that the CarbonInterface contains the following method:

[code]

F

[2020-04-20 16:27] canvural commented on #541
Hi,

This doesn't seem to be related to Larastan if I understood correctly. `Date` trait, `Rounding` trait and `CarbonInterface` all defined in Carbon. So, it should be fixed there. And looks like its fixed with https://github.com/briannesbitt/Carbon/pull/2069

The issue with the mismatch parameter with PHPDocs and the actual code can be a real issue with PHPStan. So, you can try to replicate it a

[2020-04-20 16:27] #541 closed

[2020-04-20 17:15] deleugpn commented on #541
Thanks for the guidance! I reported it on phpstan.

[2020-04-21 15:22] ludo237 commented on #515
**UPDATE**

Apparently you can easily fix this without any change to this package. Basically if you call `getRelationValue("pivot")` instead of relying to the magic property Larastan gets happy about it 🤣

@mr-feek @canvural

[code]

[2020-04-22 20:46] #331 closed

[2020-04-25 22:33] fgilio commented on #166
Is there a way to configure Larastan to do the `/* @var Collection $this */` automatically?

[2020-04-26 06:17] ondrejmirtes commented on #166
@fgilio It's not possible to persuade PHPStan about this in an extension.

[2020-04-28 07:56] dreinull opened #548 ""expensive call check" with latest method"
- Larastan Version: 0.5.6
- `--level` used: 1

### Description

Looks like the "expensive call" check has a false positive with the `latest()` method.

### Laravel code where the issue was found

[code]

Ends with the message: `Called 'first' on Laravel collection, but could have been retrieved as a query.`

If I replace `latest()` with `orderBy('created_at', 'DESC')`, which is the content of the

[2020-04-28 11:15] nunomaduro commented on #548
@Daanra can you help on this one?

[2020-04-28 11:21] Daanra commented on #548
Pretty sure this was fixed in https://github.com/nunomaduro/larastan/pull/546

I'll investigate it later today.

[2020-04-28 13:00] edwinvdpol opened #549 "Eloquent Builder expects other value"
- Larastan Version: 0.5.6
- `--level` used: 5

### Description
When I run the `analyse` command, errors like these are popping up:
`
Parameter #1 $attributes of method Illuminate\Database\Eloquent\Relations\HasOneOrMany<App\Models\ModelName>::firstOrCreate() expects array<int, mixed>, array<string, string> given.`

Laravel source ([link](https://github.com/laravel/framework/blob/8f3efb4883bc29b529

[2020-04-28 13:06] canvural commented on #549
Hi,

Yes, this was an error. And already fixed in `master` branch.

I'll release 0.5.7 with the fix today.

[2020-04-28 13:07] edwinvdpol commented on #549
Allright, thank you! 👍

[2020-04-28 15:20] canvural commented on #549
[0.5.7](https://github.com/nunomaduro/larastan/releases/tag/v0.5.7) is released!

[2020-04-28 15:20] #549 closed

[2020-04-28 15:58] Daanra commented on #548
Was indeed fixed by #546, and hence in [v0.5.7](https://github.com/nunomaduro/larastan/releases/tag/v0.5.7)

[2020-04-28 16:00] canvural commented on #548
@DanielRuf thanks for investigating!

@dreinull Please try the 0.5.7, it should be fixed now :+1:

[2020-04-28 16:00] #548 closed

[2020-04-28 17:47] canvural opened #550 "Eloquent Collection map method does not always has model as first parameter of its callback"
- Larastan Version: 0.5.7
- `--level` used: max

### Description

Given the following code:
[code]

Larastan gives this error:
[code]

Did not test but this might also apply to other methods than `partition`

[2020-04-28 21:58] Daanra commented on #550
I think we might have to remove the ` @template TModel of Model` annotation
 from the `EloquentCollection.stub` file altogether.

Collection methods like `partition` and `groupBy` return a `EloquentCollection<EloquentCollection<TModelClass>>`, so that would be considered invalid.

We might want to treat `EloquentCollection`s the same way we treat the regular SupportCollection class and allow the E

[2020-04-28 21:59] edwinvdpol commented on #466
I also have a lot of `_count` warnings.
Does the support of `_count` properties become a rule eventually, or?

[2020-04-29 07:52] nmfzone opened #552 "Call to undefined method loginUsingId()"
- Larastan Version: 0.5.5
- `--level` used: 5

### Description

[code]

### Laravel code where the issue was found

[code]

[2020-04-29 07:59] szepeviktor commented on #552
Could you try `auth()->login($user);` ?

[2020-04-29 08:04] nmfzone commented on #552
@szepeviktor Ah nice solution. But how about that?

[2020-04-29 08:11] nunomaduro commented on #552
May not be related, but make sure you update for the latest version.

[2020-04-29 08:18] nmfzone commented on #552
@nunomaduro Yeah, updated to the latest version. Still the same.

[2020-04-29 08:25] nmfzone commented on #552
For anyone who faced this issue, maybe we can just ignore those error for now:

**phpstan.neon**
[code]

[2020-04-29 11:35] canvural commented on #466
@edwinvdpol No, it's not about a rule. There needs to be an addition in `ModelRelationsExtension`

If you are interested you can make a PR! You can take a look at #525, and try to finish it.

[2020-04-29 11:38] canvural commented on #550
@Daanra Yeah, we might have to do that. Logically `Eloquent Collection` should hold just model instances, that's why I added the `TModel of Model`

[2020-04-29 11:39] canvural commented on #552
Yep, this looks like a bug. Thanks for reporting @nmfzone

`AuthManager` has the magic `__call` method which forwards method calls to guards. We might need a new extension for this behavior.

[2020-04-29 12:04] nmfzone commented on #552
@canvural Sure, thanks. Keep a good work guys ⚡

[2020-05-01 20:56] #436 closed

[2020-05-02 12:56] sergiy-petrov commented on #176
@canvural not working in my case :(
![image](https://user-images.githubusercontent.com/8986207/80864781-7e920e80-8c8d-11ea-8d6b-428495182c08.png)

[2020-05-02 17:24] ondrejmirtes opened #555 "Take advantage of `@mixin` in Laravel's code itself"
Hi,
PHPStan's dev-master now supports `@mixin` annotation (https://github.com/phpstan/phpstan-src/commit/b02ee1444440ed995c17171c456feec2c56e0cb2). I've been told that Laravel's codebase uses this annotation heavily, so maybe Larastan could take advantage of it. Maybe we could delete some of Larastan's custom code if the only thing it does is describing Laravel magic that's also described by the `

[2020-05-02 17:26] ondrejmirtes commented on #555
Also, one more idea - it's also possible that Larastan's describes some code from Laravel that would justify adding `@mixin` annotation to Laravel itself. In that case, you can just create a [stub file](https://github.com/nunomaduro/larastan/issues/555) for that class in Larastan with `@mixin` and it would work.

[2020-05-02 20:38] nunomaduro commented on #555
If I remember correctly, we are already using those `mixings` somewhere on the larastan codebase. We need to check.

[2020-05-02 20:41] ondrejmirtes commented on #555
It might be possible to simplify that code, or maybe somehow re-use this extension: https://github.com/phpstan/phpstan-src/blob/master/src/Reflection/Mixin/MixinMethodsClassReflectionExtension.php

[2020-05-03 11:29] canvural commented on #555
Actually we were doing this manually. Here: https://github.com/nunomaduro/larastan/blob/master/src/Methods/Pipes/Mixins.php Looking for `@mixin` and `@see` in the class docs, and searching the missing method in those classes.

So, I guess we can remove that. I'll look into it :+1:

[2020-05-03 19:35] linkgeneral commented on #327
how did you sorted out guys?

[2020-05-03 19:55] szepeviktor commented on #327
@linkgeneral Please read the docs.
https://github.com/nunomaduro/larastan/blob/master/README.md#-getting-started-in-3-steps
We moved away from `artisan` command.

[2020-05-03 23:32] mr-feek commented on #327
@szepeviktor no one ever updated the carbon screenshot to remove the analyze command

[2020-05-03 23:37] szepeviktor opened #558 "Misleading instruction on screenshot"
Please create a new one :)

https://github.com/nunomaduro/larastan/blob/master/docs/example.png

From https://github.com/nunomaduro/larastan/issues/327#issuecomment-623201869
Thank you @mr-feek

[2020-05-03 23:43] szepeviktor commented on #558
Was it created with https://carbon.now.sh/ ?

[2020-05-04 01:37] nunomaduro commented on #558
@szepeviktor fixed.

[2020-05-04 01:37] #558 closed

[2020-05-04 01:40] szepeviktor commented on #558
Thank you.

[2020-05-04 09:44] zlodes opened #559 "Bug with autoloading on phpstan 0.12.22"
- Larastan Version: 0.5.7
- PhpStan Version: 0.12.22
- `--level` used: max

### Description
For latest version of phpstan (0.12.22)!

On analyze action:
[code]

Method ApplicationResolver@getProjectSearchDirs has wrong composer dir:

Expected: `/home/vagrant/projects/core/vendor/composer`
Actual: `phar:///home/vagrant/projects/ai/core/vendor/phpstan/phpstan/phpstan/vendor/composer`

phpstan code r

[2020-05-04 10:06] spawnia commented on #466
Is there any difference between using `->{relation}()->count()` and the magic `_count` property?

[2020-05-04 10:16] szepeviktor commented on #559
Thank you for your report.

[2020-05-04 12:47] atabixalex commented on #559
We're experiencing the same problem.

[2020-05-04 12:56] canvural commented on #559
Yep, Larastan's own tests are also failing for the same reason.

You can use PHPStan 0.12.21 until we fix the issue.

[2020-05-04 12:58] learn2draw commented on #559
PHPStan 0.12.21 gives the same error for me, using 0.12.20 however works

[2020-05-04 13:43] nunomaduro commented on #559
cc @ondrejmirtes.

[2020-05-04 13:49] canvural commented on #559
Looks like the issue is here: https://github.com/nunomaduro/larastan/blob/master/src/ApplicationResolver.php#L102-L104

When we request `ClassLoader` via reflection looks like it gets the `vendor/phpstan/phpstan/phpstan/vendor/composer/ClassLoader.php` file. Not the `vendor/composer/ClassLoader.php`

Right now I don't have the time to look deeper. Just a pointer if anyone wants to attempt a fix.

[2020-05-04 14:19] nunomaduro commented on #559
The function https://www.php.net/manual/en/function.realpath.php may help to solve this.

[2020-05-04 16:42] ondrejmirtes commented on #559
Can you explain what the code in https://github.com/nunomaduro/larastan/blob/master/src/ApplicationResolver.php does and why are you inspecting the PSR4 maps?

I'm quite sure you could ask PHPStan for `%composerAutoloaderProjectPaths%` instead and discover autoloaders that way. It might return up to three autoloader paths I think.

[2020-05-04 19:47] nunomaduro commented on #559
I have installed a fresh Laravel application with Larastan. And it works. Can someone explaining me how can I reproduce the issue?

[2020-05-04 19:54] ondrejmirtes commented on #559
Well it’s true that the ClassLoader inside PHAR gets loaded as the first one now so the behaviour others are seeing in this issue is expected...

[2020-05-04 19:54] canvural commented on #559
When I tried to run Larastans tests with `composer test` it was failing for the same reason as in the original issue.

[2020-05-04 19:55] nunomaduro commented on #559
Got it. Give me a second.

[2020-05-04 19:57] canvural commented on #559
In that class, we are trying to find all the [service provider](https://laravel.com/docs/7.x/providers)s that the application uses. And register them to the Laravel app.

[2020-05-04 20:01] nunomaduro commented on #559
I am a little bit tired today, maybe someone on the community would like to jump in: https://twitter.com/enunomaduro/status/1257399917691224067.

[2020-05-04 20:14] ondrejmirtes commented on #559
Something along these lines will probably be sufficient: https://github.com/nunomaduro/larastan/pull/561

You don't even need my suggestion with `%composerAutoloaderProjectPaths%` because I noticed that you're getting `composer.json` from the current working directory anyway, so there's no need for reflection to tell us the path to the Composer class loader...

[2020-05-05 05:56] mobyface commented on #559
The problem is related to the ApplicationResolver class which is only used in a package environment and not in a Laravel Application environment (see bootstrap.php file). The first autoload.psr-4 namespace (first key) is read from the composer.json in order to resolve all project classes. The method getProjectSearchDirs is intent to obtain the relative directory with source code (in my case ./src)

[2020-05-05 08:22] ondrejmirtes commented on #559
https://github.com/nunomaduro/larastan/pull/561 fixes this issue.

@SocyList I just restored how it previously worked before I changed the order of autoloaders in PHPStan itself. Of course we could take a deeper look at the code but it's not necessary now.

[2020-05-05 12:18] #559 closed

[2020-05-05 15:36] #550 closed

[2020-05-05 20:48] canvural commented on #555
`laravel-ide-helper` package adds `@mixin \Eloquent` to the models docblock when you generate ide helper files.

`\Eloquent` is a class alias to `Illuminate\Database\Eloquent\Model` So basically it is adding a mixin for the class' actual parent. This is to have some auto-completion in the IDE.

And I found out this kinda breaks Larastan's extensions. Because when a missing method is found PHPStan

[2020-05-05 21:36] ondrejmirtes commented on #555
Why is Larastan even reading anything that `laravel-ide-helper`produces? It should read the application source code written by its developers, no?

[2020-05-05 21:38] canvural commented on #555
`laravel-ide-helper` modifies the model files written by the developers. It adds the `@mixin` to the models php docblocks.

[2020-05-05 21:40] canvural commented on #555
But like I said it can be configured to write it to a dedicated file. `_ide_helper_models.php` In that case it'll not conflict with Larastan/PHPStan.

[2020-05-05 21:46] canvural commented on #466
@spawnia The magic `_count` property is only available if you loaded the count before, with `withCount('relation')` method.

But under the hood, I guess they are doing similar things.

[2020-05-05 21:46] ondrejmirtes commented on #555
Can you explain the thing in https://github.com/nunomaduro/larastan/issues/555#issuecomment-624297770 in a bit more detail? What class has `@mixin`, what PHPStan sees vs. what it should see instead, what ClassReflection reports... maybe I can think of a solution, but I didn't get it what's exactly wrong from the comment. I'm not sure about the relationships between the classes.

[2020-05-05 21:55] ondrejmirtes commented on #555
1) I could add an exclude option to the mixin extension that would Larastan set.
2) Maybe I’ll figure out how to get the info we need even in the current system.

[2020-05-05 22:17] canvural commented on #555
[code]

This is an Eloquent model that the developer writes. `@mixin \Eloquent` part, might be added by the `laravel-ide-helper` package.

And `\Eloquent` is just a class alias to `Illuminate\Database\Eloquent\Model`

When we analyze `User::find(1)`, `MixinMethodsClassReflectionExtension` runs and [here](https://github.com/phpstan/phpstan-src/blob/master/src/Reflection/Mixin/MixinMethodsClassRefle

[2020-05-05 22:19] canvural commented on #555
I just need to spend more time on this. Looks like it is Larastan's problem for now. Sorry to bother :sweat_smile:

[2020-05-06 06:17] ondrejmirtes commented on #555
I'm not sure how https://github.com/nunomaduro/larastan/blob/master/src/Methods/Pipes/Mixins.php works because it doesn't look like a traditional PHPStan extension, but I'm quite certain that the Eloquent\Model exclusion now needs to happen on PHPStan's side because it now handles `@mixin` itself.

[2020-05-06 07:29] markdwhite opened #562 "[0.5.7] Class XXXXX was not found while trying to analyse it"
- Larastan Version: 0.5.7
- `--level` used: 7

### Description

Unexpected error message when running phpstan:

"Class replica was not found while trying to analyse it - autoloading is probably not configured properly."

Here "replica" is a param, not a class, so I have no idea where this is coming from but thought I should raise it.

### Laravel code where the issue was found

Snippets of relevan

[2020-05-06 08:00] canvural commented on #555
https://github.com/nunomaduro/larastan/commit/bd84cae67f8c947e17e563c757858c9db72ebeab this seems to fix the issue. And everything else works as expected.

[2020-05-06 08:21] Nizari opened #563 "Failed to recognise Laravels Macro functions"
- Laravel Version: 7.10.2
- Larastan Version: 0.5.7
- `--level 5` used: (but already breaks on `--level 2`

### Description

Since upgrading to `v0.5.5` => `v0.5.7` it seems it doesn't recognise Laravels `Macro` functionality and returns the below error.

[code]

### Laravel code where the issue was found

[code]

[2020-05-06 08:44] szepeviktor commented on #563
Thank you for your report.

Could you retry with yesterday's release? https://github.com/nunomaduro/larastan/releases

@nunomaduro Is it really a **Draft** release?

[2020-05-06 08:46] canvural commented on #563
@szepeviktor Yeah, it's still a draft. It's not released yet.

But I doubt the new release will fix these macro issues. We have to take a look at it.

[2020-05-06 12:48] harrisdt15f opened #566 "when using whereLike method with Tucker-Eric / EloquentFilter got error on commit"
- **Larastan Version: 7.10.2**
- package **Tucker-Eric / EloquentFilter** version: 2.3.0
- `--level` used: **max**

### Description
when I dump data with dd(), and then I got
![image](https://user-images.githubusercontent.com/27404296/81178230-78c46200-8fda-11ea-8a62-d35795683253.png)
![image](https://user-images.githubusercontent.com/27404296/81178267-8b3e9b80-8fda-11ea-9ecf-078eb77a44da.png)

Ac

[2020-05-06 13:01] canvural commented on #566
Hi,

That `ModelFilter` class in that package has it's own `__call` method to handle magic calls. This has nothing to do with Larastan.

You can either ignore this error message, or you can write your own `MethodsClassReflectionExtension` PHPStan extension for this case. You can read [here](https://phpstan.org/developing-extensions/class-reflection-extensions) more about it how to write such exten

[2020-05-06 13:01] #566 closed

[2020-05-06 16:13] ondrejmirtes commented on #504
I expect PHPStan to hit 1.0 in winter 2020/21.

[2020-05-06 16:21] canvural commented on #504
Oh, that's great!

[2020-05-06 16:22] canvural commented on #555
Looks like it still can cause issues, like #565 @ondrejmirtes Is it possible to have a blacklist of classes that should not be inspected in `@mixin` ?

[2020-05-06 16:24] ondrejmirtes commented on #555
@canvural Definitely, do you have time to contribute that to phpstan-src or shoud I do it?

[2020-05-06 16:26] nunomaduro commented on #504
I would say: Let's follow him on this one.

[2020-05-06 16:27] canvural commented on #555
@ondrejmirtes I can try to do it. Only `MixinMethodsClassReflectionExtension` and `MixinPropertiesClassReflectionExtension` should be changed I guess. And a new config parameter for users to fill in?

[2020-05-06 16:39] ondrejmirtes commented on #555
Yes, I'd call it `mixinExcludeClasses`. It doesn't even have to be documented :)

[2020-05-08 01:27] nunomaduro opened #568 "feat: website"
Larastan has now 1 288 801 downloads. It sounds a good time for a website. What do you guys think? Who is up for doing it? 🔥

[2020-05-08 08:27] axit-joost opened #569 "TelescopeServiceProvider.php: Call to an undefined method Illuminate\Contracts\Foundation\Application::isLocal()."
- Larastan Version: 0.5.8
- `--level` used: 5
- Laravel framework: 7.10.3
- Telescope version: 3.3.1

### Description

After bumping my composer dependencies,  `phpstan analyse` will throw errors with regards to `app/Providers/TelescopeServiceProvider.php` lines 24 and 42.

[code]

### Laravel code where the issue was found

[code]

Line 48 is a same call to `$this->app->isLocal()`.

Clicking thro

[2020-05-08 08:34] axit-joost commented on #569
I've pinpointed it to version 0.5.6 introducing the above false positive.

Before bumping the deps, I was on 0.5.5 which did not present the issue.

[2020-05-08 08:40] szepeviktor commented on #569
https://github.com/laravel/framework/blob/c931bfa2ca0be245c2bcda5d6c1aae2196045157/src/Illuminate/Foundation/Application.php#L537

[2020-05-08 08:51] canvural commented on #569
The bug introduced in this commit https://github.com/nunomaduro/larastan/commit/38058ec4722ee435242ad1be8d5f215cda6fe711

Arguments passed to `Str::startsWith` are in the wrong order :smile: I'll accept a PR where the order of the arguments is changed in all occurrences of `Str::startsWith` :+1:

[2020-05-08 09:02] szepeviktor commented on #569
All???

[2020-05-08 09:06] axit-joost commented on #569
I think @canvural means all occurrences in https://github.com/nunomaduro/larastan/commit/38058ec4722ee435242ad1be8d5f215cda6fe711

There are 3 places where the order of the arguments is incorrect in that commit.

[2020-05-08 10:27] #569 closed

[2020-05-08 15:45] JoeCianflone opened #571 "Call to an undefined method, that is defined"
- Larastan Version: 0.5.8
- `--level` used: 5 -- but I can replicate this at 2

### Description
I'll be honest, I'm not sure if I'm doing something wrong in my configuration or not, but this feels like an issue for Larastan. I'm using the repository pattern so I've got an `EloquentRepository` that gets extended.

Here's the `EloquentRepository`

[code]

In my extending class:

[code]

### Laravel

[2020-05-08 15:52] canvural commented on #571
Hi,

Yes this is a known issue. And I think it'll be fixed with #565

[2020-05-08 15:52] szepeviktor commented on #571
Very tricky!

You need

[code]

[2020-05-08 19:30] canvural commented on #563
Hi,

This might be fixed with #570 Can you try with the `master` branch and see if the issue still continues?

[2020-05-08 19:36] JoeCianflone commented on #571
@szepeviktor Tried that it didn't make a difference

[2020-05-08 19:42] JoeCianflone commented on #571
@canvural Thanks!

[2020-05-08 19:50] canvural commented on #552
Fixed: https://github.com/nunomaduro/larastan/commit/6a7009b23eefd33031b5e0845e1f20a02da968ec

Thank you!

[2020-05-08 19:50] #552 closed

[2020-05-11 12:05] johanvanhelden opened #572 "[0.5.8] Class self was not found while trying to analyse it - autoloading is probably not configured properly."
- Larastan Version: 0.5.8
- `--level` used: 8

### Description
In a model that calls `self::`, Larastan/phpstan crashes:
[code]

This used to work fine in the version we used before we updated, version v0.5.0.

### Laravel code where the issue was found

[code]

It also happens with a method that uses a scope, like so:

[code]

[2020-05-11 12:41] canvural commented on #572
Hi, this is not enough to find what is going wrong.

I'm analyzing code that use `self::` without a problem. Also Larastan has tests that use `self`. No issue there also.

Can you give more info if possible? Any other PHPStan extension, PHPStan version etc.

[2020-05-11 12:45] Nizari commented on #563
The `master` branch fixed this issue :)! Looking forward to `0.5.9`!

[2020-05-11 12:49] johanvanhelden commented on #572
Hm, sure.

I have no other extensions.
The PHPStan version is: 0.12.23
This is what my config looks like:

[code]

Maybe good to know, it's inside a model that lives in a module folder:
[code]
Where normal models live in:
[code]

Therefor the composer.json has been modified like this:
[code]

[2020-05-11 12:50] johanvanhelden commented on #572
Hm, sure.

I have no other extensions.
The PHPStan version is: 0.12.23
This is what my config looks like:

[code]

Maybe good to know, it's inside a model that lives in a module folder:
[code]
Where normal models live in:
[code]

The namespace of the model is:

[code]

Therefor the composer.json has been modified like this:
[code]

[2020-05-11 12:51] canvural commented on #563
Thank you for kind words! Glad it fixed the issue.

BTW, the next version will be `0.6` Because there might be some small breaking changes.

[2020-05-11 12:51] #563 closed

[2020-05-11 14:25] j-dexx opened #573 "Polymorphic relationship return types"
- Larastan Version: 0.5.5
- `--level` used: max

### Description
I'm not sure this is an issue or whether I just can't work out how to solve with a docblock.  Essentially is there any way to set the class on a morph many relationship?

### Laravel code where the issue was found

[code]

elsewhere using things like this in another class (where pageable is set to an instance of the class with the pa

[2020-05-11 14:34] canvural commented on #573
Hi,

This should actually work as is. Weird.

One thing you can try is to change your relation method to this
[code]

This is done automatically by Larastan under-the-hood, but it might be worth a try.

[2020-05-11 14:36] canvural commented on #572
I'll look into it. Thanks.

[2020-05-11 14:37] szepeviktor commented on #573
The word _Polymorphic_ makes me afraid.
Could we use "kitty cat" instead??

[2020-05-11 14:44] j-dexx commented on #573
Hi @canvural, thanks for the speedy reply.  That doesn't make any difference I'm afraid.  One thing I should have mentioned before is that the pages relationship is defined in a trait I'd assume this could be the issue?

[2020-05-11 14:47] canvural commented on #573
@j-dexx We are supporting relations defined in traits. But PHP reflection around traits can be tricky sometimes.

Can you move that one relation to your model and test it that way?

[2020-05-11 14:48] canvural commented on #573
Ah, also noticed one thing. What is the type of `$this->pageable` in your code?

[2020-05-11 14:55] j-dexx commented on #573
It might help to show a cut down version of the actual code
[code]

[code]

So in this one `$this->pageable` would be a Video.  Defining the relation directly on the model I still have the same issue.

[2020-05-11 14:59] canvural commented on #573
Thank you, I'll look into it.

[2020-05-11 15:21] j-dexx commented on #573
@canvural I think you can ignore this, updating larastan to the latest version resolves my issue.  Sorry, I hadn't checked whether I was on the latest version or not before creating my issue.  Thanks for looking into this.

[2020-05-11 15:23] szepeviktor commented on #573
We are glad that you've succeeded.

[2020-05-11 15:23] #573 closed

[2020-05-11 16:13] YannickYayo opened #574 "Subqueries on local scope"
- Larastan Version: 0.5.2
- `--level` used: 5

### Description
I am using a subquery on a local scope from my `App\Models\User` model.
Running Larastan give me this error :
[code]

### Laravel code where the issue was found

[code]

[2020-05-11 16:16] canvural commented on #574
Hi,

Can you upgrade to the latest version and try again?

[2020-05-11 16:30] YannickYayo commented on #574
Running on Larastan `0.5.8` now, the issue still occurs.

[2020-05-11 16:38] canvural commented on #574
I know it shouldn't make a difference, but can you try to remove the comment `param` and `return` annotations and try again?

[2020-05-11 19:47] YannickYayo commented on #574
Done, this isn't fixed by removing `param` and `return` :(

[2020-05-13 11:23] StanAngeloff opened #576 "Should AppExtension@getTypeFromFunctionCall return Illuminate\Contracts\Foundation\Application? (patch included)"
- Larastan Version: 0.5.8
- `--level` used: 5

### Description

[NunoMaduro\Larastan\ReturnTypes\Helpers\AppExtension@getTypeFromFunctionCall](https://github.com/nunomaduro/larastan/blob/6b0d6d83e39aaad94907e56b2e35a115eaadb164/src/ReturnTypes/Helpers/AppExtension.php) currently returns `Illuminate\Foundation\Application`. This is not available in a Lumen application and will cause any call to `ap

[2020-05-13 11:27] StanAngeloff commented on #576
On second thought, that may not be the root cause of the issue…

[2020-05-13 12:41] YannickYayo commented on #574
Okay, this was my bad.

On my model I'm using the [laravel-mysql-spatial](https://github.com/grimzy/laravel-mysql-spatial) package.
So i'm using a trait on this model :
[code]
And this trait is using a custom Builder, so i followed up this [upgrade guide](https://github.com/nunomaduro/larastan/blob/master/UPGRADE.md#custom-eloquent-builders) and now all is working :)

[2020-05-13 12:41] #574 closed

[2020-05-13 12:44] szepeviktor commented on #574
We are glad that you've resolved your own issue :)

[2020-05-13 16:23] canvural commented on #571
@JoeCianflone #565 was merged. Can you try this again on `master`?

[2020-05-13 19:06] JoeCianflone commented on #571
@canvural I'll check this out tonight for sure and I'll let you know.

Thanks!

[2020-05-15 07:08] johanvanhelden commented on #572
@canvural Maybe this will help, it just happened again in a completely different project where I performed an upgrade to Laravel 7.x and the newest version of Larastan.

This time in a normal model. Not in a different namespace or module. Simply in `App/Models/`

[code]

Changing it to this, solved the error.

[code]

So it's not using `self::` that is the issue, because right now it's still using

[2020-05-15 07:22] canvural commented on #572
Hi,

Can you try to disable the `NoUnnecessaryCollectionCall` rule by adding
[code]

to your PHPStan config, and try again with the same code? I think that rule might be causing the issue.

[2020-05-15 07:28] johanvanhelden commented on #572
I've added it to the phpstan config, but unfortunately the errors persist. I can confirm it's working because the "could have been retrieved as a query" errors are gone.

I can still solve a few of them by refactoring `return self::all()->pluck('name', 'id')->toArray();` to `return self::pluck('name', 'id')->toArray();`, but others would require me duplicating code to get rid of the `self::` which

[2020-05-15 07:31] johanvanhelden commented on #572
And I've noticed with some errors it gives me a line number of the faulty code, but there is also a model where it does not even provide a line number. That is this piece of code, as soon as I remove that, the model is properly analysed:

[code]

[2020-05-15 07:34] canvural commented on #572
In the last code example `$categories = self::getAllowed($client)->load('category')->groupBy('category.name');` is the problem, right?

I'll try to reproduce this in the Larstan tests.

[2020-05-15 07:37] johanvanhelden commented on #572
Yes, that is correct. Changing it , for debugging purposes, to:
[code]
Does not produce the error anymore.

[2020-05-15 09:20] johanvanhelden commented on #572
After some more digging I found some interesting things, in 0.5.6 there were 0 code issues. After updating to 0.5.7 there was only one issues, `Call to an undefined method Illuminate\Database\Eloquent\Model::map()`, and finally after updating to 0.5.8 the `self::` issues started showing up.

So whatever is causing it, was introduced in 0.5.8.

[2020-05-15 18:48] JoeCianflone commented on #571
@canvural This seems to be fixed with #565 I've been kinda pulling apart my codebase for the past couple of days so I've got some other issues I need to resolve, but it's looking good!

[2020-05-15 22:33] DSpeichert opened #577 "Variable $req might not be defined after abort()"
- Larastan Version: v0.5.8
- `--level` used: 5

### Description

In the snippet below, it shows that the only case where variable $req might be undefined, is when exception is thrown but then an `abort()` exception is thrown again.

It looks like larastan does not treat `abort()` as a terminating statement (throwing exception) in this case.

### Laravel code where the issue was found

[code]
Error

[2020-05-15 23:31] Daanra commented on #577
We have [abort](https://github.com/nunomaduro/larastan/blob/master/extension.neon#L29) listed as an early terminating function call. So I'm guessing this is more of a PHPStan issue than a Larastan issue.

[2020-05-16 03:35] szepeviktor commented on #577
A terminating function is simply exiting.

This is a really interesting problem.
I couldn't find a single path of execution where `$req` in the last line of the snippet is not defined.

[2020-05-16 03:44] szepeviktor commented on #577
You can make sure by adding `exit;` right after `abort`

[2020-05-17 23:59] DSpeichert commented on #577
That works, yeah. Maybe it is a phpstan issue indeed.

[2020-05-18 02:34] szepeviktor commented on #577
@DSpeichert That is not released yet.
https://github.com/nunomaduro/larastan/blob/v0.5.8/extension.neon

Please try the master branch.

[2020-05-18 02:44] #571 closed

[2020-05-18 20:43] judahnator opened #578 "'avg' on collection vs query - false positive"
- Larastan Version: 0.5.8
- `--level` used: 5

### Description
I started seeing this when using this library:
[code]
Now I had a few cases in my project where this was legit and did help, but in one specific case I think it is a false positive.

### Laravel code where the issue was found

[code]

Because I am taking an average of a "withCount" I dont think that can be dont with Eloquent. At least,

[2020-05-18 21:51] Daanra commented on #578
Although this might be possible with a single query, aggregates should only trigger an error if the aggregation is performed simply over a column. So this is indeed a bug.

I'll create a pull request to fix this tomorrow. Thanks for reporting this!

[2020-05-19 13:59] bramceulemans commented on #68
I am getting this exact error message @nunomaduro

[code]

[2020-05-20 03:18] devfaysal commented on #552
I am not sure if it is related to the fix:
I am on v0.5.8
It is not working properly when `auth()` helper is called for a custom guard.
For example, I have a custom guard 'employee' and the model is Employee which has the function `latest_pending_leave_request`.
when I call `auth('employee')->user()->latest_pending_leave_request()`, larastan says `Call to an undefined method Illuminate\Contracts\A

[2020-05-20 04:30] JoeCianflone opened #580 "Unclear why Expects String, array|string|null given is an issue"
- Larastan Version: master branch
- `--level` 7:

### Description
Parameter #1 $hostname of function gethostbyname expects string, array|string|null given.

### Laravel code where the issue was found

[code]
The above code is run in the CLI and it returns the IP address of a site given a string. So you give it foo.com it returns 127.0.0.1 or whatever. So when you run stan on level 7 you get the er

[2020-05-20 07:08] canvural commented on #580
Hi,

It is pretty clear in my opinion. `argument` returns an union type but `gethostbyname` expects just a string. These types don't match, therefore you have an error.

This kind of errors starting to be reported at level 7. So you can stay at level 6 if you don't want to see them. You can check [here](https://phpstan.org/user-guide/rule-levels) for the level documentation.

Or you can [narrow do

[2020-05-20 07:08] #580 closed

[2020-05-20 07:10] canvural commented on #552
@devfaysal Although custom guards are not supported in Larastan, I believe your issue will be fixed in the next release. You can try to pull the `master` branch and check now if you want.

[2020-05-20 07:12] #578 closed

[2020-05-20 17:22] JoeCianflone commented on #580
@canvural thanks, I realized after I submitted this that this was a level/phpstan thing, but thanks for taking the time to answer it anyway!

[2020-05-20 21:04] Daanra commented on #158
Since the Storage facade now has `get` and other methods defined using [PHPDoc annotations](https://github.com/laravel/framework/blob/7.x/src/Illuminate/Support/Facades/Storage.php#L30), this particular issue no longer exists. Since there is also a [similar issue](https://github.com/nunomaduro/larastan/issues/203) for Facades that use a manager pattern, I suppose this issue can be closed. What do

[2020-05-21 03:52] harrisdt15f commented on #262
I also ahead with this problem, please someone guide me how to solve it.

[2020-05-21 04:02] harrisdt15f opened #581 "laravel redis not able to check"
- Larastan Version: 0.5.8
- `--level` used: max

### Description
Is there a trick to step up for  laravel Redis. now I just can only use original redis class could not able to use laravel facades redis. need help.

### Laravel code where the issue was found

[code]
`Call to an undefined method Illuminate\\Redis\\Connections\\Connection::lrange().`
[code]
`Call to an undefined static method Illumin

[2020-05-21 16:12] canvural commented on #158
@Daanra  Yeah looks those annotations are in both 6.x and 7.x so we can close this issue :+1:

[2020-05-21 16:12] #158 closed

[2020-05-22 11:30] wrabit opened #582 "Access to an undefined property"
Latest

Many reports of "Access to an undefined property Illuminate\Database\Eloquent\Model::$attribute."

[2020-05-22 11:33] szepeviktor commented on #582
Hello!

Please complete your report and reopen :)

[2020-05-22 11:33] #582 closed

[2020-05-22 11:45] wrabit opened #583 "Access to an undefined property"
Latest laravel and default settings

Many reports of "Access to an undefined property Illuminate\Database\Eloquent\Model::$attribute."

[2020-05-22 11:48] canvural commented on #583
Hi,

Can you share any code sample where this error happens? Also please follow the [issue template](https://github.com/nunomaduro/larastan/blob/master/.github/ISSUE_TEMPLATE.md) for new issues.

[2020-05-22 11:55] szepeviktor commented on #583
This would make it possible for us to help you.

[2020-05-22 12:06] wrabit commented on #583
I'm seeing it about all of my resources and their fields (which are standard) i.e.

[code]

[code]

A lot of my traits:

[code]

[2020-05-22 12:14] szepeviktor commented on #583
Thank you for your _complete_ report!

To me these seem to be three slightly different issues.

[2020-05-22 12:17] wrabit commented on #583
@szepeviktor thanks for your _helpful_ comments!

[2020-05-22 13:23] Daanra commented on #583
The first problem can be solved by adding the following PHPDoc annotation to your resource class:
[code]
as [described here](https://github.com/nunomaduro/larastan/blob/master/UPGRADE.md#eloquent-resources).

The second problem can be resolved by changing it to either
[code]
or
[code]

The last problem is expected behavior, because `Model` does not have an `id` by definition. You can either ignore

[2020-05-22 14:35] #583 closed

[2020-05-25 13:14] tsushant commented on #28
@nunomaduro Running 0.5.2 with --level=5. I am still getting this for a local scope:
` Call to an undefined method Illuminate\Database\Eloquent\Builder::search()`

[code]
`$this->model->search(request('search'))->paginate();`

[2020-05-25 13:24] szepeviktor commented on #28
@tsushant Thank you for your report.

Please try opening a new issue :) waking up a 2 year old one makes us react slower.

[2020-05-25 13:39] tsushant opened #585 "Call to undefined local scope when querying the model"
- Larastan Version: 0.5.2
- `--level`: 5

### Description

The error is while calling the scope method **search** when querying the model

`Call to an undefined method Illuminate\Database\Eloquent\Builder::search()`

### Laravel code where the issue was found

[code]
`$this->model->search(request('search'))->paginate();`

_Originally posted by @tsushant in https://github.com/nunomaduro/larastan/is

[2020-05-25 13:48] szepeviktor commented on #585
Please try to upgrade Larastan.

[2020-05-25 16:45] canvural commented on #516
@j6s I'm unable to reproduce this with the example you shared. Can you provide more information about the issue? Also can you test with the latest `master` branch?

[2020-05-25 17:36] canvural commented on #562
Hi,

This should be fixed now: https://github.com/nunomaduro/larastan/commit/cd5ce84d7853a9805cbdfa08f1dbb2528981fd6c

[2020-05-25 17:36] #562 closed

[2020-05-25 17:41] canvural commented on #576
Hi,

I don't use Lumen so I can't test this within any actual project. But did you test your suggested solution in a Lumen project? Is `\Illuminate\Contracts\Foundation\Application` solves the issue?

[2020-05-25 18:34] canvural commented on #572
Hi,

This should be fixed with https://github.com/nunomaduro/larastan/commit/9d3a8e2de7c8788f65d47064e08fd29f2da9adcb

Can you try the latest `master` and see if it fixes all the issues?

[2020-05-25 19:11] canvural commented on #577
Like @szepeviktor and @Daanra this is fixed. And it'll be in the next release. In the meanwhile you can also add it to your config manually.

[code]

[2020-05-25 19:11] #577 closed

[2020-05-25 19:16] canvural commented on #581
Hi,

Thanks for the report. I think this is related to #203. I'd appreciate any help with this!

[2020-05-25 19:19] canvural commented on #585
Hi,

Can you also share what is the type of `$this->model`?

[2020-05-25 19:42] tsushant commented on #585
Hi,
[code]
I updated to **0.5.8** the above error is gone but this error appeared `Call to an undefined method Illuminate\Database\Eloquent\Model::get()` which was not showing before.

Thanks :)

[2020-05-25 21:02] mr-feek commented on #581
Mixin annotation should work

[2020-05-26 02:04] markdwhite commented on #562
Tested and this has resolved the issue.

[2020-05-26 11:05] roelvanmeer commented on #572
Hi, we had a similarly looking problem, and I can say that latest master fixes it for us.
Thanks!

[2020-05-26 11:21] canvural commented on #572
@roelvanmeer Great to hear that!

[2020-05-26 11:30] canvural commented on #585
Ah, I see. It has the abstract class `Model` as typehint. I think this is solved by #565 You can try the latest `master` and check if it solves your issue. And the next version will be released soon :+1:

[2020-05-26 13:24] johanvanhelden commented on #572
@canvural Thank you so much! I can confirm the issue has been fixed now.

Could you give an indication on when this fix will be officially released, so I can perform the official update?

[2020-05-26 13:24] #572 closed

[2020-05-26 13:25] canvural commented on #572
@johanvanhelden I think we'll release it this week, or latest, beginning of next week.

[2020-05-29 07:34] matthewsuan opened #586 "`RedirectResponse::with()` expects `array|string`, `true` given"
- Larastan Version: 0.5.8
- `--level` used: 5

### Description
The following code throws an error:
[code]

[code]

[2020-05-29 07:57] canvural commented on #586
Hi,

Is `withSucess` a macro you wrote? I don't think this is in Laravel.

And the error message is different than the code example you shared. So I'm not sure what the real issue is. But the error message is correct, you can't pass `true` to `with` method.

[2020-05-29 08:42] Daanra commented on #586
RedirectResponse can dynamically forward calls to `with` just like a Builder does with `where`:
[code]
So `withSuccess(true)` seems like it would be equivalent to `with('succes', true)`

[2020-05-29 08:54] canvural commented on #586
Ah, didn't know that!

Ok, so it seems this is indeed a bug here.

[2020-05-31 18:30] oppiansteve opened #587 "`Larastan\Methods\Macro` does not implement `PHPStan\Reflection\Php\BuiltinMethodReflection::getReflection`"
- Larastan Version: v0.5.8
- `--level` used: 5

### Description

Sorry, if I've missed this already being raised, of if I'm missing something obvious, but running phpstan now raises this error with Laravel 7, but only once at around 88% through:

In Macro.php line 16:
[code]

if it helps, I'm running using `vendor/bin/phpstan analyse --no-interaction --memory-limit=1024M`

I am defining my own cla

[2020-05-31 18:33] canvural commented on #587
Hi,

Which version of PHPStan are you using? I saw an issue like that with the latest `master` of PHPStan. But shouldn't happen if you use any stable release.

[2020-05-31 20:34] oppiansteve commented on #587
ah ha, I thought I was using a fixed release, but seems not.
I've changed it to "0.12.25" and it now works fine - sorry about that

[2020-05-31 20:36] canvural commented on #587
No problem :blush:

[2020-05-31 20:36] #587 closed

[2020-06-01 05:24] drewjw81 opened #588 "Builder mixin creates more errors"
- `--level` used: 5

### Description

We include `@mixin Builder` in our model docs to aid in code completion. But this causes errors like `Static call to instance method Illuminate\Database\Eloquent\Builder<Illuminate\Database\Eloquent\Model>::create()` in larastan. If we remove `@mixin Builder` they go away but then the various editors our devs use lose code completion. Is there a workaround for

[2020-06-01 05:30] szepeviktor commented on #588
The only thing pops into my head is https://github.com/phpstan/phpstan-src/blob/f96e0de5924cab79e78f41c96a6e039a175f1849/conf/config.neon#L40

[2020-06-01 07:16] drewjw81 commented on #588
That seems to do it. Thanks

[2020-06-01 07:16] #588 closed

[2020-06-07 20:47] rocramer opened #589 "Progress bar stops on 92%, larastan never terminates"
- Larastan Version: 0.5.8
- `--level` used: problem occurs on all levels

### Description

A few days ago larastan stopped working. The progress stops always on 92% and larastan never terminates. I don't get any error message. Even with the highest verbose level. The problem occurs on all environments.

Edit: Without the `./vendor/nunomaduro/larastan/extension.neon` extension phpstan terminates su

[2020-06-07 21:01] szepeviktor commented on #589
Thank you for the report.
Have you tried the ``--debug` option?

[2020-06-07 21:11] rocramer commented on #589
Thanks! Indeed, I missed that flag. Now I could spot the piece of code that causes the problem. I'm using [artesaos/seotools]( https://github.com/artesaos/seotools) to embed Schema.org information to the HTML:

[code]
If deleting this Larastan works.

[2020-06-07 21:22] szepeviktor commented on #589
Thank you!! 😻

Could you remove one by one the `addValue`-s and rerun Larastan?

[2020-06-07 21:42] rocramer commented on #589
The `JsonLd` facade is missing the `setImage` method annotation. After swapping this method with the `setImages` method (which is annotated correctly) the code is still working and larastan terminates successfully.

Problem is solved for me. I would consider that as a bug why I'm let this issue open. Feel free to close.

Thanks for your help!

[2020-06-08 08:21] georgeboot opened #591 "Breaking change in PhpStan 0.12.26 causeing larastan to error"
- Larastan Version: v0.5.8

### Description
`This option has been replaced with bootstrapFiles which accepts a list of files
to execute before the analysis.`

Suspected commit: https://github.com/phpstan/phpstan-src/commit/aad1bf888ab7b5808898ee5fe2228bb8bb4e4cf1

Releates to https://github.com/phpstan/phpstan/issues/3408

[2020-06-08 08:28] canvural commented on #591
Hi,

Yes, Larastan is not yet compatible with PHPStan 0.12.26. #590 is gonna fix that issue :+1: Meanwhile you can stay at PHPStan 0.12.25

[2020-06-08 08:28] #591 closed

[2020-06-08 11:29] FonsAtabix opened #592 "Bootstrap option is depcrecated"
- Larastan Version: 0.5.5
- `--level` used: 8

### Description

PHPStan still works, but when running PHPStan the output gives the following warning:

[code]

I believe this refers to [line 20 of `extension.neon`](https://github.com/nunomaduro/larastan/blob/v0.5.5/extension.neon#L20).

[2020-06-08 11:32] canvural commented on #592
Hello,

Yes, this was a knows issue. It was fixed by #590 There will be a release with this fix soon. Meanwhile you can stay at PHPStan 0.12.25

[2020-06-08 11:32] #592 closed

[2020-06-08 14:03] canvural opened #594 "Don't use `newInstance` in ModelPropertyExtension"
With PHPStan 0.12.26 update, there is a new issue. Using `newInstance` method of reflection causes issues. Originally reported here: https://github.com/phpstan/phpstan/issues/3408#issuecomment-640491825

1. First, we should try to reproduce this in our tests. We have a test using the `ModelPropertyExtension`, but somehow the error is not triggered.

2. Then we can fix the code. Either doing `new <

[2020-06-09 02:06] repat opened #597 "NunoMaduro\Larastan\Methods\Macro + bootstrap deprecation"
- Larastan Version: 7
- `--level` used:

Since the update to PhpStan 0.12.27

### Description
[code]

[2020-06-09 02:53] harrisdt15f opened #598 "Reflection error with encrypted binary file"
- Larastan Version: 0.5.8
phpstan version 0.12.26
- `--level` used:max

Error Occur when I composer updated , because
phpstan version changed to 0.12.26 but work fine in phpstan version 0.12.25
![image](https://user-images.githubusercontent.com/27404296/84049700-5493e080-a9df-11ea-91f4-4f74c3c126aa.png)

### Code snippet that reproduces the problem

`/var/www/jianghu_entertain/vendor/bin/phpstan a

[2020-06-09 03:57] szepeviktor commented on #598
Thank you.

Yes, PHPStan should recognize swoole_loader's encrypted files.
Please report this upstream: https://github.com/phpstan/phpstan/issues/3413

[2020-06-09 03:57] #598 closed

[2020-06-09 04:00] szepeviktor commented on #597
Yes, this is a known issue.
Please find the answer over at PHPStan https://github.com/phpstan/phpstan/issues/3410#issuecomment-640543460

[2020-06-09 04:03] szepeviktor commented on #597
@repat No! :)
We fixed it: https://github.com/nunomaduro/larastan/blob/44535adce4fda0ac4d9fe175318fb91959dbb2b4/extension.neon#L34
v0.5.8 will be released very soon.

Please try installing `dev-master`

[2020-06-09 04:10] szepeviktor commented on #597
I'm sorry, this is early morning here :)

[2020-06-09 04:13] szepeviktor commented on #597
This is interesting, we do not have abstract methods in Macro
https://github.com/nunomaduro/larastan/blob/v0.5.8/src/Methods/Macro.php

Are you on v0.5.8?

[2020-06-09 17:02] nunomaduro commented on #597
@repat Can you try to understand the issue and do a pull request on this? Thanks

[2020-06-10 10:15] j6s commented on #516
I just checked it again after updating from larastan `0.5.0` and phpstan `0.12.25` to larastan `dev-master#44535adce4fda0ac4d9fe175318fb91959dbb2b4` and phpstan `0.12.28`.

Seems like the older version of `thecodingmachine/safe` that I have in this project has some compatibility issues, but I can no longer reproduce the initially reported problem in my project.

Closing this issue.

[2020-06-10 10:15] #516 closed

[2020-06-11 08:01] axit-joost opened #600 "Possible false positive Strict comparison using === between bool and 0"
- Larastan Version: 0.6.0
- `--level` used: 5

### Description

Updated to Larastan 0.6.0 this morning and tried to resolve all the new stuff that larastan found on my code base and I stumbled upon the following:

[code]

### Laravel code where the issue was found

[code]

In which `$this->customer` is an instance of a `Customer` model and `is_consumer` is a boolean property. However, the model do

[2020-06-11 08:18] canvural commented on #600
Hi,

Yes, Larastan scans your migration files to understand your model columns :blush:

And if the column is defined with `$table->boolean(..)` it treats the value as boolean when reading data from it. I think this makes sense. If you wanted to work with numbers, you could use `tinyInteger` or something else.

[2020-06-11 08:21] canvural commented on #600
If you want to override this, you can add a doc block above your class, specifying the type of `is_consumer` For example
[code]

[2020-06-11 08:22] axit-joost commented on #600
That's actually pretty sweet!

Bu then again: if the model does not have a
[code]
It will not get cast into a boolean value.

Perhaps that would make for a cool additional test: if the migration says boolean, but the Model is missing the cast?

[2020-06-11 18:31] mfn commented on #600
Note that this is not true for all drivers. E.g. for Postgres, you don't need a boolean cast: they're correctly typed natively.

[2020-06-12 08:10] axit-joost commented on #600
That's a good point.

[2020-06-19 11:42] Dartui opened #606 "PHPStan\Reflection\ReflectionProvider class is missing"
- Larastan Version: 0.6.0
- PHPStan Version: 0.12.29
- Laravel Version: 7.16.1
- PHP Version: 7.3.19
- `--level` used: 3

### Description

Files `NunoMaduro\Larastan\Rules\NoUnnecessaryCollectionCallRule` and `NunoMaduro\Larastan\Types\RelationParserHelper` are requiring `PHPStan\Reflection\ReflectionProvider` file, but it is missing in codebase.

Setting `noUnnecessaryCollectionCall` to `false` d

[2020-06-19 13:08] szepeviktor commented on #606
Hello Krzysztof!
Thank you for your report

ReflectionProvider seems to be part of PHPStan 2 years ago
https://github.com/phpstan/phpstan-src/commits/master/src/Reflection/ReflectionProvider.php

[2020-06-19 13:11] szepeviktor commented on #606
and we import it

https://github.com/nunomaduro/larastan/blob/849bbe8a6ae8b77357d3c7073050983e6ba4245e/src/Rules/NoUnnecessaryCollectionCallRule.php#L18

Tough question!

[2020-06-19 13:12] szepeviktor commented on #606
Could you share us a snippet of your code?

[2020-06-19 13:42] Dartui commented on #606
My bad, I realized that I have used phpstan installed globally on my computer, rather than by `vendor/bin/phpstan`. After this little change everything works like a charm. Sorry for trouble and thanks for fast response!

[2020-06-19 13:42] #606 closed

[2020-06-20 19:28] mfn commented on #606
It doesn't/didn't happen often with larastan so far, but there are months were you've the feeling every 2nd bug report in phpunit is simply because the global installation is preferred but horribly outdated.

Would be interesting to know if there's a way to detect this.

[2020-06-22 09:43] stemis opened #607 "Using Model::hydrate()->first() throws error"
- Larastan Version: 0.6.0
- `--level` used: 1

### Description
With the introduction of #538 , the Eloquent's `hydrate()` function cannot be chained with `->first()` anymore.

I can name multiple reasons why one would use `hydrate()`, such as:

1. Using eloquent models from the result of a stored procedure.
2. Unserialize json models back to eloquent from for example a logging database.
3. Using d

[2020-06-23 20:12] shalvah commented on #588
Hey, I can't figure out how to fix this. @drewjw81 what was the fix specifically?

[2020-06-27 19:03] chrisbjr commented on #315
I have the same problem. I'm thinking now that custom notification channels should have an `interface` from the channel package attached to the Notification themselves. But this is not feasible for third party packages.

[2020-06-29 17:22] ollieread opened #608 "Model stub is wrong"
- Larastan Version: 0.6.1
- `--level` used: N/A

### Description
The [`stubs/Model.stub`](https://github.com/nunomaduro/larastan/blob/master/stubs/Model.stub) file has a `Model` class that doesn't extend Laravels. This causes PHPStorm to incorrectly flag the model as missing some necessary methods.

![image](https://user-images.githubusercontent.com/469515/86036171-63e1d900-ba35-11ea-8209-76d98c82

[2020-06-29 17:33] canvural commented on #608
Hi,

`stub` files are not meant to be analyzed by text editors or IDEs. That's why the extension is `.stub` I think you configured your IDE to recognize `.stub` files as `.php` files. You should change that instead.

[2020-06-29 17:33] #608 closed

[2020-06-29 19:27] #607 closed

[2020-07-07 06:27] MP-okui opened #610 "Invalid argument supplied for foreach()"
- Larastan Version: 0.6.1
- `--level` used: 8

### Description

[phpstan/phpstan-doctrine](https://github.com/phpstan/phpstan-doctrine) Version: 0.12.17

phpstan.neon

[code]

phpstan-doctrine.php

[code]

### Laravel code where the issue was found

phpstan --debug

Invalid argument supplied for foreach()
at vendor/nunomaduro/larastan/src/Methods/Passable.php:179

[code]

[2020-07-07 09:19] szepeviktor commented on #610
https://github.com/nunomaduro/larastan/blob/63a393433805a1142fbffe507875f2af825d11fd/src/Methods/Passable.php#L179-L184

[2020-07-07 09:21] szepeviktor commented on #610
Relevant commit

https://github.com/nunomaduro/larastan/commit/9f5ffacf0c9f48d100f5cbc63ac949ed2eb7e627

[2020-07-07 09:23] szepeviktor commented on #610
@MP-okui Could you help us and `dd($statics);` before the for loop?

[2020-07-08 04:13] MP-okui commented on #610
@szepeviktor

Add `dump($statics);` before the for loop.

# result

/var/www/html/app/Http/Middleware/RedirectIfAuthenticated.php
null

   ErrorException

  Invalid argument supplied for foreach()

  at vendor/nunomaduro/larastan/src/Methods/Passable.php:179

[code]

[2020-07-08 07:02] szepeviktor commented on #610
Thank you @MP-okui !

Could it be that our config does not get set??

https://github.com/nunomaduro/larastan/blob/63a393433805a1142fbffe507875f2af825d11fd/bootstrap.php#L31

[2020-07-08 07:22] MP-okui commented on #610
@szepeviktor

How can I check that?

phpstan.neon includes these.

[code]

[2020-07-08 08:44] szepeviktor commented on #610
unintentional close :)

Please try `dd()`-ing values one by one.

[2020-07-08 21:00] mfn opened #611 "Cannot access property $… on … \Post|null"
- Larastan Version: 0.6.1
- `--level` used: max (8)

### Description
In https://github.com/rebing/graphql-laravel/pull/655 I'm trying to upgrade to larastan 0.6.1 but I'm facing with hundreds of errors like these:
[code]
See also https://github.com/rebing/graphql-laravel/pull/655/checks?check_run_id=851495801#step:7:20

Here starts the test in question https://github.com/rebing/graphql-laravel/blo

[2020-07-08 21:20] Daanra commented on #611
Might be a PHPStan issue?

Seems like this is the core of the problem: https://phpstan.org/r/ddcb9c47-f411-4909-bbe8-bdc46ca6e79c

Couldn't find any related issues on their repository but this seems like undesired behavior to me.

[2020-07-08 21:33] canvural commented on #611
Larastan converts docblocks like `\Illuminate\Database\Eloquent\Collection|Post[]` to `\Illuminate\Database\Eloquent\Collection<Post>`. So this explains why the errors are gone when you change it to just `Post[]` And by combining this by the fact @Daanra pointed out, this might be PHPStan issue.

[2020-07-08 22:10] canvural commented on #611
I think it's coming from here: https://github.com/phpstan/phpstan-src/blob/master/stubs/ArrayObject.stub#L18

I don't know why this is explicitly specified. Maybe in some scenarios, it returns `null` Does anybody know? cc @ondrejmirtes

Psalm also [has it](https://github.com/vimeo/psalm/blob/master/src/Psalm/Internal/Stubs/CoreGenericClasses.phpstub#L285) as `TValue|null` but ignores the `null` re

[2020-07-08 22:17] szepeviktor commented on #611
A commenter talks about this: https://www.php.net/manual/en/arrayaccess.offsetget.php#124324

[2020-07-08 22:19] canvural commented on #611
I saw that. But I think that would result in `Notice: Undefined offset` error, not returning `null`

[2020-07-08 22:28] szepeviktor commented on #611
https://github.com/laravel/framework/blob/67d6d9688122dcf6c449b74ddc873fc9934e81e6/src/Illuminate/Support/Collection.php#L1332-L1352

AFAIK this shows that Laravel never returns null.

[2020-07-09 06:50] ondrejmirtes commented on #611
You're actually getting null this way, so PHPStan is correct: https://3v4l.org/gCkVf PHPstan cannot know if that offset exists or not.

[2020-07-09 07:18] mfn commented on #611
Wow, thanks for all the feedback!

I guess I shouldn't have posted this so late as it's kind of "obvious" if you think about it, `$user[0]->posts[<any number not hitting anything]` surely _could_ return `null`.

Probably the tests are not well designed and it shouldn't be done that way. But since I "know" the factory setup, it's easier to express the assertions that way. Probably the https://wiki.

[2020-07-09 07:30] canvural commented on #611
I think you can also do `$user->first()->posts->first()->body`

[2020-07-09 08:25] mfn commented on #611
It doesn't really seem to improve things; I changed the typehint to:
[code]
but still
- `  75     Cannot access property $id on Rebing\GraphQL\Tests\Support\Models\User|null.`
  => line 75: `id' => (string) $users->first()->id`
- or this
[code]
  for `'body' => $users->first()->posts->first()->body`

Additionally using the method breaks IDE (PhpStorm) understanding where things lead to, something

[2020-07-09 08:33] mfn commented on #611
For now I decided to simply ignore them as don't find the alternatives compelling and currently favour the support I get from the IDE directly.

Thanks for all the insights 🤗

[2020-07-09 08:33] #611 closed

[2020-07-09 10:17] driade opened #612 "Internal error: Password resetter [] is not defined"
- Larastan Version: 0.6.1
- `--level` used: 7

### Description

[code]

### Laravel code where the issue was found

[code]

[2020-07-09 10:22] canvural commented on #612
Hi,

Are you sure there is a config entry for `attorneys` in your `auth.php` config file in `passwords` key?

[2020-07-09 15:38] driade commented on #612
Hi, yes, here you're

[code]
In fact the code runs oks

[2020-07-14 03:50] MP-okui commented on #610
@szepeviktor

This is `dump($statics)`.

# phpstan --debug

/var/www/html/app/Console/Kernel.php
array:2 [
  0 => "Illuminate\Database\Eloquent\Model"
  1 => "Illuminate\Support\Facades\Facade"
]
array:2 [
  0 => "Illuminate\Database\Eloquent\Model"
  1 => "Illuminate\Support\Facades\Facade"
]
/var/www/html/app/Doctrine/Repositories/ScheduleRepository.php
/var/www/html/app/Exceptions/Handler.php
a

[2020-07-14 04:05] szepeviktor commented on #610
I see!
Sometimes it is **not** an array.

[2020-07-14 04:08] szepeviktor commented on #610
Strange.
How could a config *change*??

[2020-07-14 07:21] MP-okui commented on #610
What should I provide?
`phpstan.neon` ?

[2020-07-14 07:32] szepeviktor commented on #610
@nunomaduro? Our Superman?

[2020-07-17 09:34] mfn commented on #200
Just to add another example, it's not only about attributes, also methods:
[code]
yields
[code]

[2020-07-17 09:39] szepeviktor commented on #200
Yes, I've seen this error message.

[2020-07-17 09:57] canvural commented on #200
This can be solved by the PHPStan generics to some extent. But there would be some edge cases I think.

I would accept a PR that adds a support for this :+1:

[2020-07-18 13:55] canvural commented on #610
Fixed with 657bf56

[2020-07-18 13:55] #610 closed

[2020-07-18 13:59] szepeviktor commented on #610
@canvural Under what circumstances can that be `null`?

[2020-07-19 11:33] canvural commented on #610
@szepeviktor I am not sure :sweat_smile: And it doesn't matter too much, in fact, we should remove this config files in the future. They are not necessary any more.

[2020-07-19 12:25] canvural commented on #589
Glad you solved your problem. But this does not sound like a Larastan problem. Closing as it's solved.

[2020-07-19 12:25] #589 closed

[2020-07-21 10:34] mfn opened #613 "getQuery() results in infering wrong type of result"
- Larastan Version: 0.6.1 / ^0.6-dev
- `--level` used: 6

### Description
I've code like this:
[code]
The model (ide-helper generated):
[code]
The reason ide-helper generates is that is that `created` is part of `SomeModel::$dates`.

The reported error:
[code]

Larastan thinks that the result after `::getQuery()` is indeed a model => but in  fact it isn't. Those results are not hydrated and are an

[2020-07-21 10:46] szepeviktor commented on #613
What is the result if you remove the ide-helper-created `@property`?

[2020-07-21 12:26] mfn commented on #613
In this case there's no error reported.

(wild guess: phpstan / larstan doesn't know anything about the type and assumes any/mixed and thus doesn't complain what's passed to the CarbonImmutable constructor?)

[2020-07-21 13:26] canvural commented on #613
Larastan thinks `getQuery` returns `Illuminate\Database\Eloquent\Builder` and not `Illuminate\Database\Query\Builder` I think this is the problem. Will try to fix it.

[2020-07-21 17:54] mfn commented on #613
Btw, when I change it to:
[code]
I get:
[code]

[2020-07-23 19:02] ammannbe opened #616 "Call to an undefined method restore()"
- Laravel Version: v7.7.1
- Larastan Version: 0.6.1 / 0.6-dev
- `--level` used: 7

### Description

The reported error:
[code]

The problem is, that the method `findOrFail` has following return value in phpdocs:
[code]

### Laravel code where the issue was found

[code]

I don't know if I can solve the problem by myself, but I thought there must be a better way than exclude every error manually.

[2020-07-23 19:09] canvural commented on #616
Hi,

Thanks for the report! This looks weird. Larastan knows that a single model is returned when an integer passed to `findOrFail` Not sure why the collection is not dropped from the union.

Can you just try `Food::findOrFail($id)`? Maybe the soft delete trait is the problem.

[2020-07-23 19:17] ammannbe commented on #616
Thanks for that quick response! You're right, seems that the SoftDeletes Trait is the problem.
I just tried your suggestion and it works.
I've also tried `withTrashed()` and `withoutTrashed()` and with both of them it didn't worked.

[2020-07-23 19:20] canvural commented on #616
For now you can override the type with `@var`

[code]

I'll try to resolve the bug.

[2020-07-24 15:27] canvural commented on #613
@mfn In that last example you forgot to reassign the result after fetching it with `first` I think that's the reason you got that error.

Anyway, this should be fixed with #617

[2020-07-24 18:35] mfn commented on #613
@canvural lol, you're right #618

But I can confirm #617 fixes it, tested it on the real project and error was not reported! 🙇

[2020-07-24 21:47] #613 closed

[2020-07-24 22:31] canvural commented on #616
It's fixed with https://github.com/nunomaduro/larastan/commit/023043b05c9ec04ef92f32960315621fdfe21100

[2020-07-24 22:31] #616 closed

[2020-07-24 22:33] canvural commented on #585
Closing this because it was fixed. Feel free to open a new issue if the issue still persists.

[2020-07-24 22:33] #585 closed

[2020-07-25 09:07] canvural commented on #535
I think this is improved with https://github.com/nunomaduro/larastan/commit/c54b5179e72b8ea18e724c50bf6a9c36af79d52d Closing the issue.

[2020-07-25 09:07] #535 closed

[2020-07-26 20:54] mfn opened #621 "High memory consumption on large test suite"
- Larastan Version: 0.6.1
- `--level` used: 0, 1, … does not matter

### Description
This is probably a bit meta, so let me explain a bit: I've been using larastan since some time, obviously 😏 , otherwise I wouldn't have been able to report bugs etc.

So far this worked with because I was only using it on `app/`.

I've been using _phpstan_ on `tests/` but only some custom rules so far.

When I now

[2020-07-26 20:57] szepeviktor commented on #621
Larastan is a PHPStan extension for Laravel, so to reduce the memory footprint PHPStan needs to be redesigned.

Have you tries analyzing subdirectories separately?

[2020-07-26 20:58] szepeviktor commented on #621
Sign up for Blackfire trial!

[2020-07-26 21:58] mfn opened #622 "Class \Illuminate\Support\Testing\Fakes\NotificationFacadeFake was not found while trying to analyse it"
- Larastan Version: 0.6.1
- `--level` used: 0

### Description
I've a custom setup for asserting notifications due to special requirements.

- In `\Tests\TestCase` I add my `\Tests\NotificationAssertionTrait`
- This trait makes use of a custom `\Tests\NotificationFacade` extending the one from Laravel
- Has a custom `fake` method so I can use my own `\Tests\NotificationFake`

I've create a reprodu

[2020-07-26 22:00] mfn commented on #622
Fun fact: in `tests/NotificationFacade.php` I could change
[code]
to
[code]
and then get

[2020-07-26 22:17] szepeviktor commented on #622
I think the classes name is `Illuminate\Support\Testing\Fakes\NotificationFake`
https://github.com/illuminate/support/blob/63a50a0ad26a336907b40bd59621b6b947c8eb41/Testing/Fakes/NotificationFake.php#L16
not `NotificationFacadeFake`

[2020-07-27 05:34] mfn commented on #622
Of course, that's the perplexing thing 😄 You won't find the name `NotificationFacadeFake` anywhere in the sample repo!

[2020-07-27 05:36] mfn commented on #622
I failed to mention but as @szepeviktor tried it themselves, removing larastan from the phpstan config "works":
- https://github.com/mfn/larastan-notification-trait/pull/1/files
- https://github.com/mfn/larastan-notification-trait/pull/1/checks#step:5:10

[2020-07-27 05:58] szepeviktor commented on #622
I'm only a `himslef` :)

[2020-07-27 06:08] mfn commented on #622
Tried my best to not assume anything 😏

[2020-07-27 07:00] mfn commented on #621
I realized that in fact just phpstan without the larastan extension already consumes LOTS of RAM, just never came across the tipping point which caused the problems I saw.

Closing as it's definitely unrelated to larastan itself, sorry for the noise!

[2020-07-27 07:00] #621 closed

[2020-07-27 08:26] canvural commented on #622
`NotificationFacadeFake` was coming from [this](https://github.com/nunomaduro/larastan/blob/master/src/Methods/Pipes/Facades.php#L44) method.

We weren't checking if the fake facade actually exists. Added the check with 852c131 Can you try the latest `master`?

Also, you need to add `@method` annotations to the `NotificationFacade` if you want PHPStan to understand the method calls. Or you can add

[2020-07-27 08:46] mfn commented on #622
I can confirm the issue is fixed with the change!

Awesome, phpstan even reminded me about that with a "call to an undefined static method"

Is there a release planned soon? Otherwise I can go with the dev alias `0.6-dev` I guess.

All solved and so quickly, thank you very much 🙇

[2020-07-27 08:46] #622 closed

[2020-07-27 08:55] canvural commented on #622
I want to make a new release when there is new PHPStan version is released. There are some bug fixes there that Larastan benefits.

[2020-07-27 20:03] mfn opened #623 "False positive for "Called 'first' on Laravel collection, but could have been retrieved as a query""
- Larastan Version: 0.6-dev
- `--level` used: 1

### Description
[code]
Output e.g. `your@email.com`

I'm in fact not sure what the larastan error is trying to tell me here, because for this kind of code you **can't** reverse pluck/first, it gives a totally different result (just try it with any system you have at hand):
[code]
This in fact returns all emails of all users 💥

[2020-07-27 20:07] mfn opened #624 "Parameter #2 $values of method Illuminate\Database\Query\Builder::whereBetween() expects array<string, mixed>, array<int, Carbon\CarbonImmutable> given."
- Larastan Version: 0.6-dev
- `--level` used: 1

### Description
[code]
generates
[code]
But this code is perfectly fine/correct!

[2020-07-27 20:09] Daanra commented on #623
[code]

Should achieve the same without retrieving all users from the database right?

[2020-07-27 20:10] mfn commented on #623
🤔

[2020-07-27 20:11] mfn opened #625 "Parameter #3 $values of method Illuminate\Database\Query\Builder::whereRowValues() expects array<string, mixed>, array<int, mixed> given."
- Larastan Version: 0.6-dev
- `--level` used: 1

### Description
[code]
result
[code]
However this is perfectly fine code!

[2020-07-27 20:11] mfn commented on #624
Same also for `orWhereBetween`

[2020-07-27 20:11] canvural commented on #623
Wow, how does that even work? Why `App\User::where('users.id', '=', 1)->first()->pluck('email');` returns all emails of all users? Isn't the call to `pluck` here on a model instance?

[2020-07-27 20:14] mfn commented on #623
Yeah it is, totally weird.

But @Daanra is absolutely right, totally useless complex. No idea why I didn't see it? "cannot see the forest for the trees" syndrome.

Nothing to be done!

[2020-07-27 20:14] #623 closed

[2020-07-27 20:18] Daanra commented on #623
I agree that this line `App\User::where('users.id', '=', 1)->first()->pluck('email');` gives a very confusing result. Might be nice to make another Larastan rule that forbids constructs like this one.

[2020-07-27 20:18] canvural commented on #624
The QueryBuilder stub we have is wrong. [Here](https://github.com/nunomaduro/larastan/blob/master/stubs/QueryBuilder.stub#L470) it can be just `mixed[] $values` I think.

Same for the other issues. So a basic search and replace for `array<string, mixed>  $values` and replacing it with `mixed[] $values` should be enough. Feel free to send a PR. If not I can fix it later.

[2020-07-27 20:33] canvural commented on #623
Just `pluck` has this issue I guess. Maybe it should be fixed in Laravel itself? It should be scoped to the current model instance, not every row in the database.

[2020-07-27 20:36] canvural commented on #623
But `User::pluck('email')` and `$user->pluck('email')` is kinda the same in Laravel's eyes.

[2020-07-27 22:01] #612 closed

[2020-07-28 06:41] mfn commented on #624
PR via https://github.com/nunomaduro/larastan/pull/626

[2020-07-28 06:41] mfn commented on #625
PR to fix this => https://github.com/nunomaduro/larastan/pull/626

[2020-07-28 06:58] #624 closed

[2020-07-28 06:58] #625 closed

[2020-07-30 12:49] canvural commented on #384
I don't think we will add support to Nova inside of the Larastan. It's too specific. And the original issue was already solved. Closing the issue.

[2020-07-30 12:49] #384 closed

[2020-07-30 12:51] canvural commented on #465
We can use https://github.com/laravel/ideas/issues/2057 as a place to discuss this. Closing this.

[2020-07-30 12:51] #465 closed

[2020-07-30 12:51] szepeviktor commented on #384
@shane-smith You are free to develop Nova Extension for Larastan.

[2020-07-30 12:53] canvural commented on #487
Closing this since we did not get any feedback. Feel free to open a new issue if the problem still occurs in the newer version of Larastan.

[2020-07-30 12:53] #487 closed

[2020-07-30 12:54] canvural commented on #504
As decided, we can tag 1.0 after PHPStan 1.0 is released.

[2020-07-30 12:54] #504 closed

[2020-07-30 13:06] #14 closed

[2020-07-30 13:06] #581 closed

[2020-07-31 07:40] Shahrudinov opened #628 "0.6 not scan all files"
- Larastan Version: 0.6.2
- `--level` used: 3

### Description
Not scan all files. show message " [OK] No errors   ". But version 0.5.* find many errors with same code.

[2020-07-31 07:49] canvural commented on #628
Hi,

There is not much information to understand what is the issue. Maybe you got all false positives with 0.5.* and with 0.6 it's all fixed? Unlikely though.

You can run PHPStan with `--debug` to see the analysed files. And check if any files are missing.

[2020-07-31 15:49] Shahrudinov commented on #628
sorry. looks like this problem in my code.

[2020-07-31 15:52] szepeviktor commented on #628
No problem.
Feel free to report the next bug!

[2020-07-31 15:52] #628 closed

[2020-07-31 15:56] szepeviktor commented on #568
Now we are at 1 660 853 downloads.

[2020-08-03 10:14] sebdesign opened #631 "False negative on BelongsTo::associate()"
- Larastan Version: 0.6.2
- `--level` used: 5

### Description

PHPStan reports the following error: `Method App\Post::setAuthorAttribute() should return App\User but returns App\Post`.

The `associate` method of the `BelongsTo` relation does not return the related model, but the child model: https://github.com/laravel/framework/blob/7.x/src/Illuminate/Database/Eloquent/Relations/BelongsTo.php#L21

[2020-08-03 10:23] canvural commented on #631
Hi,

Thanks for the report! Yes, this looks like a wrong assumption in the stub file. Maybe additionally we need to keep track of the `child` in the relation clasess. I'll take a look into this :+1:

[2020-08-06 11:54] #631 closed

[2020-08-06 11:58] canvural commented on #631
Fixed with #633

I could only find this situation (returning child model) in  `associate`, `dissociate`, and `getChild` methods of `BelongsTo` relation. If you encounter this behavior in different relation methods, let me know :+1:

[2020-08-07 10:39] johanvanhelden commented on #622
@canvural @szepeviktor I am having a similar issue using the Maatwerk Excel package's `Excel` facade calling the `Excel::fake()` during my tests and getting:

[code]

The actual facade is located in: `Maatwebsite\Excel\Fakes`.

Should that error also be fixed with https://github.com/nunomaduro/larastan/commit/852c1313e1c94feab8da8055d0abceda97a27586, or should I open a new issue?

[2020-08-07 10:44] canvural commented on #622
@johanvanhelden Are you using 0.6.2?

[2020-08-07 10:46] johanvanhelden commented on #622
I thought it was still unreleased because a composer update just now only updated to 0.6.1.

But after removing the package and re-requiring it's at 0.6.2 now and indeed the issue is fixed, thanks!

[2020-08-11 09:45] axit-joost opened #636 "Suggestion: Inspect model traits @mixin for getAttribute and setAttribute to ascertain property types"
- Larastan Version: 0.6.2
- `--level` used: 5

### Description

This is not a bug, but more like a suggestion or a feature request.

I have a model that `HasEnums` (spatie/laravel-enum) and `HasState` (spatie/laravel-model-states) and I am getting the following 'errors':

[code]

and
[code]

In both cases, `larastan` will traverse the migrations to get the actual type of the column, which are inde

[2020-08-11 14:15] canvural commented on #636
Hi,

I don't understand how would Larastan/PHPStan would know `status` is the type of `OrderState`. Also, PHPStan does not really analyze 3rd party vendor code. So this would be really hard or impossible.

As you suggested adding the property types with the docblock is a way to go in this case. Larastan would see that and don't use the types from the migrations.

[2020-08-11 15:00] axit-joost commented on #636
Hi,

Thanks for taking the time to read and comment, I appreciate it.

As I was typing the issue, I more or less realized the same thing: analyzing 3rd party vendor code simply is not feasible. And adding that DocBlock is fast enough.

Thanks again.

[2020-08-11 15:00] #636 closed

[2020-08-11 16:13] canvural commented on #636
Sure, no problem :+1:

[2020-08-11 17:05] mfn opened #637 "Recommendation how to use DynamicCallOnStaticMethodsRule"
- Larastan Version: 0.6.2
- `--level` used: 6

### Description
I tried exploring to use DynamicCallOnStaticMethodsRule from https://github.com/phpstan/phpstan-strict-rules

The use-case is to prevent (accidentally? intentionally for sake of consistency?) calling something defined as `static function…` as `$this->…` when `self::` should be used.

When I enabled it, I was greeted with thousands of e

[2020-08-11 17:11] szepeviktor commented on #637
🙈 Fully closing your eyes helps on the short-term :)

[2020-08-11 18:31] canvural commented on #637
This is a known issue with that rule I think. #355 and #483 are the same types of issues. I still don't know exactly how to solve this.

I was thinking the issue comes from [here](https://github.com/nunomaduro/larastan/blob/master/src/Reflection/EloquentBuilderMethodReflection.php#L68) maybe. So this has to change dynamically somehow.

[2020-08-11 18:34] canvural commented on #637
Can you maybe test with changing to `false` [here?](https://github.com/nunomaduro/larastan/blob/master/src/Reflection/EloquentBuilderMethodReflection.php#L68) Just to confirm again, it solves some of the issues.

[2020-08-11 22:47] mfn commented on #637
I can confirm (I guess), hard to say because now I get > 400 "Static call to instance method" errors; but yes, it flipped the side.

Interestingly, from the `ignoreErrors` I pasted, only two were reported as being unused
[code]
The one ignoring `Dynamic call to static method Illuminate\\Database\\Eloquent\\Builder` is still encountered it seems.

----
I tried to search the issues for `DynamicCallO

[2020-08-11 22:50] szepeviktor commented on #637
Thank you Markus.

You may comment or open another issue Anytime!

[2020-08-11 22:50] #637 closed

[2020-08-13 10:21] JayDijkstra opened #638 "Undefined method setAttributeNames() when creating Instance via the Laravel validator() helper"
- Larastan Version: 0.6.0
- `--level` used: 3

### Description
When creating a validator instance via the validator() helper, the following error is thrown:
`Call to an undefined method
         Illuminate\Contracts\Validation\Factory|Illuminate\Contracts\Validation\Validator::setAttributeNames().`

In code I set a custom attribute name based on the localization used for the application.

### Lara

[2020-08-13 11:05] canvural commented on #638
Hi,

Weird, this error shouldn't happen on level 3. I thought errors related to union types are started reporting on level 7.

Anyways, this is a feature request for a new extension for `validator` helper function.

For now you can use

[code]

to resolve it.

I'll try to implement the new extension later.

[2020-08-13 11:07] szepeviktor opened #639 "RouteCollection vs. RouteCollectionInterface"
- Larastan Version: v0.6.2
- `--level` used: 5

### Description

https://github.com/szepeviktor/debian-server-tools/blob/2b4157dfc4c67c292a4004f334d4fd178e762974/webserver/laravel/Commands/RouteCheckCommand.php#L51

This fails as follows

How could my code be correct and be nicer than the below forced type?

### Laravel code where the issue was found

[code]

[2020-08-18 12:43] #638 closed

[2020-08-23 00:36] joaoprado opened #642 "Carbon macro "call to an undefined method""
- Larastan Version: 0.6.2
- `--level` used: 0

### Description
I'm getting the following errors when running larastan on my project:

[code]

### Laravel code where the issue was found

[code]

[2020-08-24 07:32] LucianoVandi opened #643 "Access to an undefined property on Models attributes"
- Larastan Version: 0.6.2
- `--level` used: 5

### Description
I have many models where I'm getting "Access to an undefined property...", these are database column attributes no accessor or custom stuff.

[code]

### Laravel code where the issue was found

[code]
### Model code

[code]

### Database table

[code]
Am I doing something wrong? Do I need to write docblocks with properties on each mode

[2020-08-24 07:42] szepeviktor commented on #643
Larastan should recognize your model's fields.
Is your migration file okay?

[2020-08-24 09:17] LucianoVandi commented on #643
@szepeviktor yes, this is how migrations looks like:

[code]

[2020-08-24 11:11] canvural commented on #643
Hi @LucianoVandi

Looks like it is because of the usage of `$this->table`. Larastan doesn't resolve that, and it just expects string there.

You can solve it by just inlining the `$this->table`

Later I'll check if it's possible to resolve the value in Larastan.

[2020-08-24 11:33] LucianoVandi commented on #643
Hi @canvural, thanks. I've inlined table_name on both `Schema::create()` and `Schema::dropIfExists()`, still get the same result. I'm trying to debug `ModelPropertyExtension::hasProperty()` to see the results of `initializeTables()` but it seems never gets called.

[2020-08-24 11:35] canvural commented on #643
Do you have the migrations in the default place or somewhere custom?

[2020-08-24 12:04] LucianoVandi commented on #643
Default location: `/database/migrations/2016_03_18_170645_create_macros_table.php`

[2020-08-24 15:07] LucianoVandi commented on #643
@canvural sorry, do larastan uses a cache? I've made a small change to the controller, not related with this issue, and now the errors disappeared. -_-

Now I have these left:

[code]
In both files I'm using `Role::find()`, this time I have the migration file but it's from the v1 of the `spatie/laravel-permission`, then upgraded to last versions with [this custom migration](https://gist.github.com

[2020-08-24 15:16] szepeviktor commented on #643
PHPStan caches everything.
Issue `vendor/bin/phpstan clear-result-cache`

[2020-08-24 20:25] mfn commented on #643
Alternatively you can run https://github.com/barryvdh/laravel-ide-helper add the phpdoc `@property` directly to your model.

[2020-08-24 20:29] szepeviktor commented on #643
Markus we may disagree on that ide-helper. When I was searching for a way to run PHPStan on WordPress code I realized that software is a no-go.

[2020-08-25 06:31] LucianoVandi commented on #643
@mfn I'm already using `barryvdh/laravel-ide-helper`, but with the option `--nowrite` to write on a separate file.

[2020-08-25 08:12] canvural commented on #643
So with inlining the table name your problem is solved?

About the Spatie Role model, Larastan can't parse the migration because of the usage of `$tableNames` in the upgrade migration. There is nothing we can do.

If you want you can create a [stub](https://phpstan.org/user-guide/stub-files) for the `Role` model by yourself and add the properties.

[2020-08-25 11:19] LucianoVandi commented on #643
@canvural yes inlining table_name solved the problem, I will look into creating stubs for `Spatie\Permission\Models`. Thanks for your help and for the effort in maintaining Larastan! Have a nice day. ;)

[2020-08-25 12:39] #643 closed

[2020-08-25 14:38] mfn commented on #643
If you write them, static analyzers automagically pick them up btw

[2020-08-26 09:35] grcasanova opened #644 "Problems with auth facade"
_Latest version, level 5, default configuration_

Upon running, all occurrences of `Auth::user()->something` are reported. In the files I simply added `use Auth` as import;
An example:

[code]

[2020-08-26 09:43] canvural commented on #644
Can you try to import the facade with `use Illuminate\Support\Facades\Auth`?

[2020-08-26 10:01] grcasanova commented on #644
yes seems to work thanks

[2020-08-26 10:38] #644 closed

[2020-08-26 20:06] mfn commented on #621
Since I already opened _this_ issue, I thought it makes sense to document this here, too.

The latest version of phpstan was just realized https://github.com/phpstan/phpstan/releases/tag/0.12.40

In the meantime, my originally reported problem was that phpstan consumed, and I verified this before I upgraded with 0.12.38 (from `htop` output):
- VIRT: 1.8GB
- RES: 1.4GB

But note, this was the consu

[2020-08-26 20:08] ondrejmirtes commented on #621
Awesome, thank you :) You can make the number of workers smaller if it bothers you too much: https://phpstan.org/config-reference#parallel-processing

[2020-08-26 20:43] mfn commented on #621
But then it's slower 😅 (think about Github Actions / pay per minute…)

But in fact I had to increase `processTimeout` in GHA as the CPUs are a bit slower and tended to timeout.

The codebase is quite a challenge I guess, over 1k files doesn't sound much, but it's a grown test suite, LOTS of trait, lots of test classes with multi-thousand lines of code and code and code … 💥

[2020-08-26 21:10] crissi commented on #326
reusing names for routes

[2020-08-27 21:00] canvural commented on #642
As @szepeviktor said, you can use `/** @var Carbon $this */` to tell the type of `$this` inside the closure.

Also this error is not specific to Larastan. It's about PHPStan. If you still have issues please open an issue there.

[2020-08-27 21:00] #642 closed

[2020-08-30 13:10] fgilio opened #645 "Method Authenticate::redirectTo() should return string|null"
- Larastan Version: 0.6.2
- `--level` used: 5

### Description
Hello!
I'm trying Larastan in a new and really small project, which is a much better experience than doing so in an old and messy one... 😅

When running the checks I get this error in a default Laravel file that has no modifications:
[code]

### Laravel code where the issue was found

It's a default Laravel file: `app/Http/Middleware/A

[2020-08-30 13:12] szepeviktor commented on #645
If that condition is false PHP implicitly returns null.

Write readable code! Be explicit! Add `return null;` to the end of that method.

[2020-08-30 13:19] fgilio commented on #645
Yep! Forgot to mention that's exactly the code change I made.

So it's just a matter of PHPStan wanting the explicit return statement?

[2020-08-30 13:21] szepeviktor commented on #645
We humans also want explicit code 😃

[2020-08-30 13:24] fgilio commented on #645
Hahaha ❤️

[2020-08-30 13:25] #645 closed

[2020-09-01 22:33] genesiscz opened #647 "Access to an undefined property on models"
- Larastan Version: 0.6.3
- `--level` used: 4

### Description
 80     Access to an undefined property Illuminate\Database\Eloquent\Builder<App\Models\UlozenkaBranch>::$name.
 80     Access to an undefined property Illuminate\Database\Eloquent\Builder<App\Models\UlozenkaBranch>::$lat.

### Laravel code where the issue was found

[code]

sure I can use find() here, but many similar errors where I c

[2020-09-01 22:40] canvural commented on #647
Hi,

It seems we need to fix the return type of `firstWhere`.

But you say you get this error even when you use `find`. Do you have database migrations for your models? And are they in the default place? Larastan tries to read them to understand the properties of the models. Or if not, do you have `@property` annotations for your properties in your model files?

[2020-09-02 12:05] genesiscz commented on #647
Sorry, my English was somewhat sluggish.
I meant that I can replace the firstWhere -> first here, and I did, which supressed the error, but there were many different errors like this caused by firstWhere where I couldnt just easily replace it with some other function.

Would not it be a possibility to use Reflection on Model instead of guessing based on migrations? I did not have any migrations as

[2020-09-02 12:08] canvural commented on #647
No, it's not possible to know the properties of a model with reflection. That information is only in database. That's how active record pattern works.

But if everything is ok by changing `firstWhere` to `first` then it's ok. I'll fix the return type of `firstWhere` :+1:

[2020-09-02 12:10] genesiscz commented on #647
I mean if you read what `@property` does the model have, I guess PHPstan does it in case it knows where to look at

[2020-09-02 12:12] canvural commented on #647
If you define your model properties with `@property` above your class. Then yes, Larastan knows the model properties. And will not scan the migrations.

[2020-09-02 13:16] genesiscz commented on #647
This bug is btw applicable even for hasMany relation

[2020-09-02 13:25] canvural commented on #647
Yes I'm aware of it. Also `BelongsTo` relations are affected too.

[2020-09-02 14:11] #647 closed

[2020-09-03 15:05] DavyDeCoster opened #650 "PHPStan Internal error"
- Larastan Version: 0.6.4
- `--level` used: 5

### Description

When I run PHPStan, I get the following exception (flag -vvv used):
[code]

This config-file is used:

[code]

Recently got this on 2 different codebases.

[2020-09-03 18:27] canvural commented on #650
Hi,

Maybe you can try running it with `--debug` to get more information.

That error looks like there is some issue within the stubs. But Larastan's stubs are ok. No errors in CI or in any of my personal projects. Do you have some stubs of your own?

[2020-09-03 19:26] Daanra opened #652 "Incorrect return type when calling unique on an Eloquent Collection"
- Larastan Version: 0.6.4
- PHPStan Version: 0.12.42
- `--level` used: max

### Description

When calling `unique()` on an Eloquent Collection (or a custom Collection class), the return type is inferred as `Illuminate\\Support\\Collection`, however, this is incorrect.

[Laravel's PHPDoc](https://github.com/laravel/framework/blob/7.x/src/Illuminate/Database/Eloquent/Collection.php#L361) seems to be

[2020-09-04 07:11] Jonatanmdez commented on #650
We had the same issue with our projects. Is not only @DavyDeCoster

And we don't have any stub, laravel 7 by default. In fact, is a new project with days of life

[2020-09-04 07:14] szepeviktor commented on #650
Do you happen to recognize your code in these cases?
https://github.com/nunomaduro/larastan/search?q=ShouldNotHappenException&unscoped_q=ShouldNotHappenException

[2020-09-04 07:21] DavyDeCoster commented on #650
[code]

I think this may be a problem with PHPStan itself.

[2020-09-04 07:48] canvural commented on #650
I created new Laravel 7 project, installed Larastan. Scanned `app` directory. No errors. So I'm not sure what is the issue here.

Which Laravel version are you using? Also did `--debug` give you more information?

[2020-09-04 07:53] DavyDeCoster commented on #650
@canvural Laravel 7.27.0 is used in my current project. My previous comment was the output of the debug-flag.

[2020-09-04 07:59] canvural commented on #650
Can you try to analyze just one file? If it doesn't happen, can you try to find a file in which this error happens?

[2020-09-04 08:18] DavyDeCoster commented on #650
@canvural Something strange is happening. I've updated my dependencies through composer and now it's working again. For me updating zircote/swagger-php from 3.0.5 to 3.1.0 fixed the problem.

[2020-09-04 08:20] canvural commented on #650
Ah yes. I saw issues related to that in PHPStan repo. https://github.com/zircote/swagger-php/issues/834 and https://github.com/zircote/swagger-php/issues/841

If @Jonatanmdez can also confirm this is the issue, we can close this I think.

[2020-09-04 10:34] canvural commented on #652
I think the return type in Laravel is wrong. It should be just `static` There is no need for union. Changing it to just `static` makes your test case pass.

But I couldn't figure out in which cases can it return `Support/Collection` instead of `Eloquent/Collection` Do you have any example?

[2020-09-05 13:10] jny986 opened #653 "Pivot Table Attach/Detach results in undefined error"
- Larastan Version: v0.6.4
- `--level` used: 5

### Description

Has many relationship through a pivot with [using()](https://laravel.com/api/7.x/Illuminate/Database/Eloquent/Relations/BelongsToMany.html#method_using) causes error when using [attach()](https://laravel.com/api/7.x/Illuminate/Database/Eloquent/Relations/Concerns/InteractsWithPivotTable.html#method_attach) or [detach()](https://larav

[2020-09-05 13:24] Daanra commented on #653
Does this line of code:
[code]
actually work?

Did you not mean to use a `BelongsToMany` relation?

E.g.
[code]

[2020-09-05 14:23] jny986 commented on #653
@Daanra Thanks that was the issue.

[2020-09-05 14:23] #653 closed

[2020-09-07 18:19] Daanra commented on #652
Thanks for pointing me in the right direction, I wasn't aware of this. This is kind of weird though.  `static|\Illuminate\Support\Collection` is a perfectly valid type and is definitely not equivalent to just `\Illuminate\Support\Collection`. Anyhow, this is more a PHPStan problem.

The `unique` return type was indeed incorrect, so I fixed it [here](https://github.com/laravel/framework/pull/34167)

[2020-09-07 18:19] #652 closed

[2020-09-08 08:13] canvural commented on #650
Closing this one as it seems it's fixed. Please open a new issue if it continues.

[2020-09-08 08:13] #650 closed

[2020-09-08 17:05] szepeviktor commented on #642
@canvural What should be where to support `$this` inside macro Closures? Please advise.

[2020-09-08 19:07] szepeviktor opened #655 "Incorrect database_path()"
- Larastan Version: latest
- `--level` used: 1

### Description

When analyzing a superior webshop https://github.com/thepinecode/bazar which is a Composer package, not an application `database_path()` returns `vendor/orchestra/testbench-core/laravel/database/migrations` thus no migration analysis takes place.

### Laravel code where the issue was found

[code]

Please advise.

[2020-09-08 19:08] szepeviktor commented on #655
After hard-wiring the path it works 🎉

[2020-09-08 22:02] canvural commented on #655
This is maybe related to #507

Also if you are using the `testbench` package, maybe you can copy the migrations into the app `testbench` creates in the `setUp` method. Like we do [here.](https://github.com/nunomaduro/larastan/blob/master/tests/TestCase.php#L19)

[2020-09-09 01:38] szepeviktor commented on #507
Oh yes!

[2020-09-09 01:39] szepeviktor commented on #655
Thank you.

[2020-09-09 01:39] #655 closed

[2020-09-10 08:38] eislambey opened #656 "Error when there is no database"
- Larastan Version: 0.6.4
- `--level` used: max

### Description
I'm using [spatie/laravel-permission](https://github.com/spatie/laravel-permission) package in my app. That registers some stuffs in service provider. When i setup a pipeline this error occured.

Similar issue: https://github.com/symfony/symfony/issues/37069

### Error Output
[code]

### Laravel code where the issue was found

[code]

[2020-09-10 08:43] szepeviktor commented on #656
This occurs when you test a package for Laravel, not an application.
Testbench boots up Laravel which is not really _static_ analysis :)

[2020-09-10 08:44] szepeviktor commented on #656
AFAIK Larastan **used* to boot up Laraval but now it does real clean static analysis. @canvural ?

[2020-09-10 09:03] canvural commented on #656
Hi,

Can you run PHPStan only on one file, `Http/Controllers/Api/RoleController.php` for example, with `--debug` flag and post the stack trace here?

@szepeviktor We still boot up the Laravel.

[2020-09-10 09:06] eislambey commented on #656
Sure.
[code]

[2020-09-10 09:27] szepeviktor commented on #656
Maybe we need the xdebug extension to get a stack trace...

[2020-09-10 18:14] voku commented on #656
Can you show your phpstan config, maybe there is some autoloader configured?

[2020-09-10 18:49] eislambey commented on #656
@voku

[code]

[2020-09-12 16:11] Daanra opened #658 "Testing refactor"
## Description

Currently, the FeaturesTests that we use do not allow you to assert whether Larastan reports an error for a specific piece of code. Instead, we can only test whether Larastan reports no errors.

It would be if we could add functionality that allows us to assert that Larastan reports certain errors. In addition, it would be nice if we could change Larastan's config during a test suc

[2020-09-12 16:22] nunomaduro commented on #658
@Daanra You already have permissions to maintain this package right?

[2020-09-12 18:52] Daanra commented on #658
@nunomaduro I do have write permissions for this repository, if that's what you meant.

I could take a stab at this refactor if nobody has any concrete plans for it yet.

[2020-09-12 19:11] szepeviktor commented on #658
![kép](https://user-images.githubusercontent.com/952007/93003145-7a7bd480-f53c-11ea-950e-1c3350bf4c63.png)

[2020-09-14 14:08] Flynsarmy opened #659 "Undefined index: psr-4"
- Larastan Version: ^0.6.0@dev
- `--level` used: 5

### Description
When running `php -d memory_limit=-1 ./vendor/bin/phpstan analyse` I get the error

My composer.json:
[code]

My phpstan.neon:
[code]

Removing the `autoload-dev` section in my composer.json makes no difference even after a `composer dump-autoload`.

[2020-09-14 14:48] szepeviktor commented on #659
Yes, Larastan expects psr-4 in `"autoload"`.

[2020-09-14 14:52] Flynsarmy commented on #659
That got it. Thanks!

[2020-09-14 14:52] #659 closed

[2020-09-16 11:41] Flynsarmy opened #660 "Call to undefined method MyServiceProvider::package()"
- Larastan Version: ^0.6.0@dev
- `--level` used: 5

### Description
My package has a service provider. When running `php -d memory_limit=-1 ./vendor/bin/phpstan analyse` I get the error:

My phpstan.neon
[code]

and my service provider class:
[code]

composer.json
[code]

[2020-09-16 11:46] szepeviktor commented on #660
Try issuing `composer dump-autoload`, Laravel should discover your ServiceProvider.

[2020-09-16 11:50] Flynsarmy commented on #660
Running `composer dump-autoload` made no difference. The package is [here](https://github.com/Flynsarmy/laravel-csv-seeder) if you'd like to test:
[code]

[2020-09-16 12:07] szepeviktor commented on #660
Here you go!

https://github.com/laravel/sanctum/blob/2.x/composer.json#L38-L47

🚀

[2020-09-16 12:21] Flynsarmy commented on #660
Added, though it still didn't fix the problem unfortunately.

[2020-09-16 12:24] canvural commented on #660
Where does the `package` methods comes from here: `$this->package('my/package');`?

[2020-09-16 12:26] Flynsarmy commented on #660
Actually it might be a relic of the past. The docs had it here (it's an old package)
https://laravel.com/docs/4.2/packages#service-providers

but I guess it is no longer required?

[2020-09-16 12:27] canvural commented on #660
Yeah, it does not exist anymore. So the error you got from PHPStan is correct.

[2020-09-16 12:27] #660 closed

[2020-09-16 12:27] Flynsarmy commented on #660
Ahh, my bad. Thanks for your time and patience!

[2020-09-18 09:27] JeroenVanOort opened #661 "Support Laravel 8 factories"
- Larastan Version: 0.6.4
- `--level` used: max

### Description
It's seems that states on the new factories that came with Laravel 8 are not yet supported.

It would be nice if we could deduct the return type of the `Model::factory()` method, added by the [HasFactory](https://github.com/laravel/framework/blob/8.x/src/Illuminate/Database/Eloquent/Factories/HasFactory.php) trait.

### Laravel code

[2020-09-18 15:01] Daanra commented on #661
One way of doing this would be to write a `DynamicStaticMethodReturnTypeExtension`.

Here's an example of one https://github.com/nunomaduro/larastan/blob/master/src/ReturnTypes/StorageDynamicStaticMethodReturnTypeExtension.php

See also: https://phpstan.org/developing-extensions/dynamic-return-type-extensions

The class could look something like this:
[code]

I haven't worked a lot with the new fa

[2020-09-18 19:11] carlalexander opened #662 "Retry helper stub doesn't accept Throwable"
- Larastan Version: #.#.#
- `--level` used: max

### Description

When using `retry`, the `when` callable will pass the exception to the callable. PHPStan won't accept the code and throw this error:

[code]

I managed to solve it by changing the stub and adding `TValue` to the `callable` like this:

[code]

I'm happy to do a PR with tests. I'm just not familiar with PHPStan stubs so I don't know i

[2020-09-18 19:35] szepeviktor commented on #662
Let us compare those.

1. `(callable(Throwable|null): bool)|null`
2. `Closure(Throwable): bool`

[2020-09-19 16:13] tsushant commented on #656
- Larastan version: 0.6.4
- `--level`: 5

I'm also using [spatie/laravel-permission](https://github.com/spatie/laravel-permission) and got this similar error as mentioned in the issue. `--debug` gives the same stack trace posted in https://github.com/nunomaduro/larastan/issues/656#issuecomment-690099511

[code]

[2020-09-19 16:38] szepeviktor commented on #656
This may not help but we're striving to release Laravel 1.0
Currently Laravel is booted up

https://github.com/nunomaduro/larastan/issues/656#issuecomment-690098048 👀

[2020-09-19 18:56] mfn commented on #656
Totally looking forward to Laravel 1.0 release 🥳

😏

[2020-09-23 09:11] ammannbe opened #664 "Call to an undefined method Laravel\Sanctum\Contracts\HasAbilities::delete()"
- Laravel Version: ^7.24
- Larastan Version: ^0.6.4
- `--level` used: 7

### Description

The reported error:

[code]

### Laravel code where the issue was found

[code]

This method comes from the HasApiTokens Trait and returns a HasAbilities Contract.
But as stated in the [documentation](https://laravel.com/docs/7.x/sanctum#revoking-tokens) we can revoke the current token as in the provided code

[2020-09-23 09:24] szepeviktor commented on #664
In many OOP projects have a very tiny thing - like an Interface - specified, and a bigger object is returned.

[code]

[2020-09-23 09:30] ammannbe commented on #664
Thank you.
Yes I already thought about this solution but wasn't sure if that's the best way.

[2020-09-23 09:32] canvural commented on #664
Hi,

I think this is Laravel's problem. They shouldn't write an interface if they are gonna call not existing method on it.

The code @szepeviktor showed is the best way to go. Also currently we do not support any Laraval package in Larastan. Only the Laravel core. So I don't think we are gonna fix this here.

[2020-09-23 09:32] #664 closed

[2020-09-24 16:06] szepeviktor opened #665 "Analyzing blade templates"
Blade templates are not in PHP, so we need to compile them: `php artisan view:cache`
Then simply analyzing the view cache directory can check templates.

![kép](https://user-images.githubusercontent.com/952007/94170607-906c8c00-fe90-11ea-837c-952a3ccc7634.png)

This is my hack to move template variable types into the template itself.

Could we prepend template variables?

[2020-09-25 13:17] Daanra commented on #656
I'm experiencing the same error. Here's a simple piece of code that will throw the error:
[code]

I did some debugging and I'm pretty sure [this change](https://github.com/laravel/framework/pull/33777) is the culprit. Specifically, this part:
[code]

Larastan seems to call the constructor for the `Role` class at some point, which will in turn end up performing a query here.

To temporarily fix thi

[2020-09-25 15:05] canvural commented on #656
In work projects, we are extending the `\Spatie\Permission\Models\Role` model and using our own `Role` model. So at first, I did not see this error.

But when I explicitly use that model like so:
[code]

it produces the same error as in the original issue.

The error originates from [here.](https://github.com/nunomaduro/larastan/blob/master/src/Properties/ModelPropertyExtension.php#L77) The soluti

[2020-09-25 15:56] Daanra commented on #656
@canvural

Seems good to me. Can't think of another solution.

[2020-09-25 19:14] #656 closed

[2020-09-25 19:41] canvural commented on #656
@eislambey and @Daanra Can you test master and check if it fixed the issue for you?

[2020-09-25 19:47] Daanra commented on #656
@canvural That fixed it for me. Thanks!

[2020-09-26 15:30] fgilio opened #667 "Call to an undefined method App\Providers\AppServiceProvider::toSql()"
- Larastan Version: 0.6.4
- `--level` used: 1

### Description
I've been trying to make this work without success, please tell me if I should reopen in https://github.com/phpstan/phpstan
I saw that there was a discussion about something similar [here](https://github.com/nunomaduro/larastan/issues/642), but I tried adding the comment and it seems that it's not enough.

This is the error I get:
[cod

[2020-09-26 15:41] szepeviktor commented on #667
Please try clearing PHPStan cache.

[2020-09-26 15:43] szepeviktor commented on #667
Or try to insert an empty line after `...@var...`

[2020-09-26 15:54] canvural commented on #667
Hi,

This is more related to PHPStan. There are still some issues about typehinting `$this` in closures.

As a workaround you can use `assert`:
[code]

[2020-09-26 22:42] fgilio commented on #667
Thanks guys!
Tried cleaning the cache, adding spaces and moving things around. But using the `assert` is the only way it works fine.
I think this is related to this issue https://github.com/phpstan/phpstan/issues/149, so I'll comment there.

[2020-09-26 22:42] #667 closed

[2020-09-27 05:15] zong0828 opened #668 "[bug] laravel swagger package and larastan cause error"
- Larastan Version: v0.6.4
- `--level` used:5

### Description
The use of swagger and larastan packages at the same time will cause phpstan analyse error.

Here is swagger php link : https://github.com/zircote/swagger-php

### Laravel code where the issue was found

[code]

[2020-09-27 06:00] szepeviktor commented on #668
Thank you for your report.
Could you describe what steps lead to this error?

[2020-09-27 13:59] #507 closed

[2020-09-27 14:08] szepeviktor commented on #507
@canvural May I add a word about `databaseMigrationsPath` to the CHANGELOG?

[2020-09-27 15:39] canvural commented on #507
@szepeviktor Yeah definitely! Also maybe we can add a new section to README about available configuration values.

[2020-09-27 21:19] #662 closed

[2020-09-28 01:58] zong0828 commented on #668
@szepeviktor
Here is my step.
1. composer require --dev nunomaduro/larastan
2.setting the neon file
3. ./vendor/bin/phpstan analyse
4. Good !
5. composer require zircote/swagger-php
6. setting the swagger controller and route
7. ./vendor/bin/phpstan analyse
8. error !

[2020-09-28 02:04] szepeviktor commented on #668
What if you miss this step?

[2020-09-28 07:24] canvural commented on #668
Hi,

https://github.com/zircote/swagger-php has caused some trouble before with PHPStan. It was the mistake of the package. So maybe there is something wrong again. Please open an issue there or in PHPStan repo.

Thank you.

[2020-09-28 07:24] #668 closed

[2020-09-28 08:21] szepeviktor commented on #668
You're welcome.

[2020-09-28 12:44] szepeviktor opened #671 "🌶 Analyze Blade templates"
When Blade templates are compile with `artisan view:cache` we could analyze them too!

[code]

Could we prepend template variables?

[2020-09-28 12:56] szepeviktor commented on #671
#665

[2020-09-28 12:56] #671 closed

[2020-09-28 12:58] szepeviktor commented on #665
`/** @var \Illuminate\View\Factory $__env */` is necessary for `{{  }}`

[2020-10-07 12:25] canvural opened #676 "[Hacktoberfest 2020] Update stubs for new `model-property` type"
## The Problem
With the new `model-property` type and `ModelPropertyRule` Larastan now has the ability to check the existence of model columns that are given to a method.

Adding the `model-property` type to the Laravel's core methods are done with the help of [PHPstan stubs](https://phpstan.org/user-guide/stub-files). Some [examples](https://github.com/nunomaduro/larastan/blob/master/stubs/Eloque

[2020-10-07 12:50] xitox97 commented on #676
Hi @canvural, thank you for writing this awesome instruction. It is really helpful for beginners like me.

I have a question. Does 1 PR can only contains 1 method or 1 PR can contains multiple method?

[2020-10-07 12:51] mdemblani opened #677 "Getting a Fatal Error when running Phpstan with Larastan extension"
- Larastan Version: v0.5.8
- Command: `./vendor/bin/phpstan analyse -c phpstan.neon --memory-limit=256M --error-format=table`
- `--level` used: 5

### Description

Getting the following error when running phpstan with larastan extension

[code]

[2020-10-07 12:53] canvural commented on #677
Hi,

This error is fixed in the newer versions of Larastan. So please upgrade Larastan to 0.6.4

[2020-10-07 12:53] #677 closed

[2020-10-07 12:55] szepeviktor commented on #676
Thank you @xitox97 for your intention.
You may send as many stubs as you want in one PR.

[2020-10-07 12:55] canvural commented on #676
@xitox97 Yeah it is ok to add more than one method in PR :+1:

[2020-10-07 13:41] canvural commented on #658
I'd like to use the `TestCase` classes from PHPStan. The only problem I see is we need to bootstrap Laravel with `testbench` before starting the tests. If we can solve it we can use this approach I think.

[2020-10-07 19:27] nmokkenstorm commented on #200
I created a plugin that fixes this, and extracted it to a package over [here](https://github.com/Sustainabil-IT/phpstan-higher-order-collections) today. Do I clean up the package and add it as a dependency, or is porting the code directly to this repository preferable?

[2020-10-08 08:34] robbplo commented on #661
I've been spending some time on this, I've got the return type resolving the correct factory but it's still in a union type with the base factory. When i have more time I'll try to fix this.

[2020-10-08 14:41] robbplo commented on #676
I've added two stubs in this PR: https://github.com/nunomaduro/larastan/pull/679

I didn't link the issue so it wouldn't close if it gets merged, because there is more work to be done!
Let me know if there's some changes I still need to make

[2020-10-08 15:43] canvural commented on #200
@nmokkenstorm I'd prefer the functionality inside the Larastan. With proper implementation and tests. Feel free to make a PR :+1:

[2020-10-08 18:07] szepeviktor commented on #200
I would gladly see @nmokkenstorm's extension in Larastan ❤️

[2020-10-10 08:33] xitox97 commented on #676
Hi @canvural , I just fork this repo and run composer test on master branch. I got a fail test for my PHPUnit. I already run composer install. Is there anything that I'm doing wrongly?

![image](https://user-images.githubusercontent.com/15958161/95650395-0b32d980-0b16-11eb-9b8b-b0e5df083384.png)

I'm using windows 10.

[2020-10-10 08:39] szepeviktor commented on #676
Hello @xitox97! Please open a proper issue.

[2020-10-10 08:48] xitox97 opened #681 "Unit test problem on MINGW64"
Laravel version: master

### Description
I just fork this repo and run composer test on master branch. I got a fail test for my PHPUnit. I already run composer install. Is there anything that I'm doing wrongly?

![image](https://user-images.githubusercontent.com/15958161/95650395-0b32d980-0b16-11eb-9b8b-b0e5df083384.png)

I'm using windows 10. PHP 7.4.5

[2020-10-10 08:49] xitox97 commented on #676
Ops sorry, I thought can just ask it here. I open the issue here #681

[2020-10-10 08:51] szepeviktor commented on #681
Please share the *text* of the error message with us.

[2020-10-10 08:58] xitox97 commented on #681
[code]
@szepeviktor this one?

[2020-10-10 08:59] szepeviktor commented on #681
😲 Just a lonely null??

Try with `--debug` or with `-v`!

[2020-10-10 09:02] xitox97 commented on #681
yup, same.

[code]

This is for test 47
[code]

[2020-10-10 09:04] szepeviktor commented on #681
Please debug the output of sprintf here

https://github.com/nunomaduro/larastan/blob/073778dc8f22de6be70ea66a2ce984c524c9f108/tests/TestCase.php#L33

maybe with `error_log();`

[2020-10-10 09:10] xitox97 commented on #681
![image](https://user-images.githubusercontent.com/15958161/95651225-64e9d280-0b1b-11eb-9d94-18d4695e3270.png)
Like this? I'm using `dump`

[2020-10-10 09:13] szepeviktor commented on #681
Yes. The complete return value of sprintf, the whole command line.

[2020-10-10 09:15] xitox97 commented on #681
`"C:\laragon\bin\php\php-7.4.5\php.exe" E:^\Code^\Package^\larastan^\tests/../vendor/bin/phpstan analyse --no-progress  --level=max --configuration "E:\Code\Package\larastan\tests/../extension.neon"  "E:\Code\Package\larastan\tests\Features\Methods\Builder.php" --error-format=json`

[2020-10-10 09:17] szepeviktor commented on #681
Does it run?
So this produces the null?

[2020-10-10 09:20] szepeviktor commented on #681
I think we don't support MINGW64, only pure Windows.

[2020-10-10 09:25] xitox97 commented on #681
TBH I dont know whether that is the cause that produces the null or not.

I tried using Windows PowerShell and CMD both also same.
![image](https://user-images.githubusercontent.com/15958161/95651512-7d5aec80-0b1d-11eb-9c98-aa0d78c1399d.png)
![image](https://user-images.githubusercontent.com/15958161/95651517-864bbe00-0b1d-11eb-9a0b-9c0a5128e82f.png)

[2020-10-10 09:28] szepeviktor commented on #681
This is highly abnormal in my eyes.

See #682!

[2020-10-10 09:36] xitox97 commented on #681
I tried pull the PR 682, and still not solves my issue.

[2020-10-10 10:06] szepeviktor commented on #681
Could you run it actually?
If not what to modify in it?

[2020-10-10 16:11] xitox97 commented on #681
Using Latest PR from #682
I got this value from sprint f
[code]
Result after I run above code

![image](https://user-images.githubusercontent.com/15958161/95659686-57e9d500-0b55-11eb-9aec-d8f5c444e683.png)

Then I modify it to be like this
[code]

and try run it and got this

![image](https://user-images.githubusercontent.com/15958161/95659722-8d8ebe00-0b55-11eb-84bd-4299686ec10b.png)

I saw this

[2020-10-10 16:14] xitox97 commented on #681
@szepeviktor I update execLarastan function to be like this
[code]

Then I run PHPUnit, only got 7 failures. Before this 47 failures.

![image](https://user-images.githubusercontent.com/15958161/95659853-9764f100-0b56-11eb-8efe-414280e2e5d1.png)

[2020-10-10 16:37] szepeviktor commented on #681
Thank you for your digging!

BTW Do you know how to detect MINGW64? Maybe by PHP_OS and PHP_OS_FAMILY ?

[2020-10-10 16:38] szepeviktor commented on #681
🤔 https://github.com/laravel/framework/blob/8.x/src/Illuminate/Support/helpers.php#L361

[2020-10-10 16:54] szepeviktor commented on #681
This rabbit hole is very deep https://www.php.net/manual/en/function.escapeshellarg.php#123718

You should not get funky stuff like `E:^\Code^\Package^\larastan/vendor/bin/phpstan` on MINGW64.

Surprisingly this works in cmd.exe: `C:^/Windows/explorer.exe` :)

[2020-10-11 02:39] xitox97 commented on #681
Yup can confirm that `C:^\Windows/explorer.exe` work in cmd.exe. So I update **execLarastan** method like below. Then try run it in cmd.exe

[code]

Then I got same 7 failures as before. I still need to remove `"C:\laragon\bin\php\php-7.4.5\php.exe"` at front of the command though.

**Without PHP at front**
![image](https://user-images.githubusercontent.com/15958161/95668974-62d05400-0bad-11eb-9a0

[2020-10-11 05:51] szepeviktor commented on #681
From where do you have PHP MINGW64? Have you compiled PHP yourself?

[2020-10-11 10:00] xitox97 commented on #681
I uses MINGW64 because I set Git Bash as default terminal in my vscode. I did not compile PHP by myself, I just download it and put it inside [Laragon](https://forum.laragon.org/topic/166/tutorial-how-to-add-another-php-version-php-7-4-updated).

[2020-10-11 10:36] szepeviktor commented on #681
`PHP 7.4.11 (cli) (built: Sep 29 2020 13:17:42) ( NTS Visual C++ 2017 x64 )` from windows.php.net says:

[code]

[2020-10-11 13:07] xitox97 commented on #681
If I run with **PHP infront**

![image](https://user-images.githubusercontent.com/15958161/95679433-5ed02080-0c05-11eb-8a5c-66102dc26cf9.png)

If **without PHP**, I got the **7 failures**. I think there is improvements than before where I run got **47 failures**.

![image](https://user-images.githubusercontent.com/15958161/95679457-8f17bf00-0c05-11eb-8f9d-42ea18fc768c.png)

[2020-10-11 13:15] szepeviktor commented on #681
Thank you!
Have you pulled the recent changed from my branch?

[2020-10-11 13:18] szepeviktor commented on #681
Got it!

Composer uses symlinks on POSIX-compat os-es and POSIX shell scripts on Windows :(

![image](https://user-images.githubusercontent.com/15958161/95679433-5ed02080-0c05-11eb-8a5c-66102dc26cf9.png)

Your path to the Composer tool seems to be a such a POSIX shell script.

Please run `php path\to\REAL\PHAR-FILE\composer run-script test:unit`

[2020-10-11 13:39] xitox97 commented on #681
Yup I already pull your latest changes.

@szepeviktor so I run using this command `php C:\ProgramData\ComposerSetup\bin\composer.phar run-script test:unit` and it does show stop at `php "${dir}/composer.phar" "$@"` anymore.

However, I still got 7 failures.

![image](https://user-images.githubusercontent.com/15958161/95680180-3860b400-0c0a-11eb-8492-b6e1dbf531ec.png)

[2020-10-11 13:43] szepeviktor commented on #681
All right!
We have a solution.

Please open a separate issue if you are curious about those model property tests. I am!

[2020-10-11 13:46] xitox97 commented on #681
@szepeviktor Wow. You are legend! :heart_eyes: TQVM. I will open seperate issue for the model property tests. Should I wait for the PR merged first?

[2020-10-11 13:55] szepeviktor commented on #681
No, just open that issue.
Please try to fix the failing tests before that!

[2020-10-12 21:46] #681 closed

[2020-10-13 09:55] kwebble opened #683 "Unregistered service provider is executed during analysis"
- Larastan Version: 0.6.4
- `--level` used: 8

### Description
During analysis of a package, processing stops because a LogicException is thrown in a provider. This is strange because it happens in code I wrote. That code should not be executed, just analyzed statically.

The provider is a test class that extends the actual exposed provider. It exists to test error handling of the provider and doe

[2020-10-13 10:33] szepeviktor commented on #683
Thank you for your report Rob!

Could you provide any snippets we can work with?

[2020-10-13 11:15] mfn commented on #683
This is an incorrect assumption of larastan because it actively boots your Laravel installation to extract more information at runtime to aid the static analysis.

Also not a fan per se of this but we do get lots of value back from this, so 🤷‍♀️

[2020-10-13 11:19] szepeviktor commented on #683
PHPStan itself recently worked dynamically! It became static couple of releases ago.

[2020-10-13 11:42] kwebble commented on #683
In the code of Larastan I saw that `ApplicationResolver::resolve()` does a search for concrete classes that extend `\Illuminate\Support\ServiceProvider`.
When the method `isServiceProvider()` is changed and always returns `FALSE` the error does not occur. But that's probably not what you want to happen for all providers.

Included is a short version of my code. It's an abstract base class `FrameSe

[2020-10-13 13:56] mfn commented on #683
@szepeviktor yes, but IMHO "runtime reflection" via autoloading vs. actually booting framework are not the same thing. Just IMHO 🤷‍♀️ 😄

[2020-10-13 14:24] kwebble commented on #683
@mfn it's not just an assumption, this comes from Larastan's README.md:

[2020-10-13 14:29] mfn commented on #683
@kwebble good point, never read the readme I guess ;)

[2020-10-14 07:26] crissi opened #684 "Make Eloquent builder when() recognize variables is set in the closure if variables is checked in the first param"
- Larastan Version: v0.6.4
- `--level` used: 6

### Description
Make Eloquent builder when() recognize variables is set in the closure if variables is checked in the first param.

**Error: Offset 'status' does not exist on array().**

### Laravel code where the issue was found

[code]
I would love to do it myself, but I do not have enough knowledge about phpstan plugins yet

[2020-10-14 10:26] Daanra commented on #684
A possible workaround is to use the second argument of the callback. E.g.
[code]

But, unfortunately, you lose the information that `$status` is an array of ints here, if you dont use another PHPDoc annotation within the closure.

[2020-10-14 11:10] canvural commented on #683
Hi,

Yeah like others mentioned we bootstrap the framework to help us during the analysis. Not so good idea but otherwise we would have to write a huge amount of code to do the same thing statically. So there are some compromises.

So looks like there should be more logic in the https://github.com/nunomaduro/larastan/blob/master/src/ApplicationResolver.php class to handle this case.

I'd accept a

[2020-10-14 15:22] kwebble commented on #683
Her are some options I can think of:

**Option 1**: scan `composer.json` and only load classes defined in `extra.laravel.providers`. That would be enough for my project, but it has more effects:

1. it changes current behavior because not all service providers will be loaded.
1. It doesn't work for analyzing a Laravel application, its `composer.json` does not define the service providers.

**Optio

[2020-10-14 22:00] MarianoMoreyra commented on #466
Actually, it will also be available if you call `loadCount('relation')` after getting the resulting models or if you add any relationships to the `protected $withCount = []` property (although in this case it will end up doing a `->withCount(''relationship)` call under hood).

The problem is that you can alias this property to anything you want, just by doing:
[code]
in which case I don't see how

[2020-10-14 22:06] canvural commented on #466
Yeah, we can't detect this. In that case, it's better if the user adds this property to the docblocks of the class.

[2020-10-15 07:26] kwebble commented on #683
For now I have added a custom version of the `NunoMaduro\Larastan\ApplicationResolver` class to my package.

A rule in the `autoloader-dev ` section of `composer.json` configures the autoloader to use my version instead of the implementation of Larastan:

    "autoload-dev": {
        "psr-4": {
            "NunoMaduro\\Larastan\\": "src/main/other/nunomaduro/larastan"
        }
    }

[2020-10-15 08:09] canvural commented on #683
I think option 3 you described is the best. :+1:

[2020-10-15 12:26] canvural commented on #684
See the comment here: https://github.com/phpstan/phpstan/issues/3955#issuecomment-708973931 Closing because of that.

[2020-10-15 12:26] #684 closed

[2020-10-15 12:38] kwebble commented on #683
I also prefer option 3.

For now I have a fix by using the custom `ApplicationResolver`, but I prefer to have a solution in the package. If I have some time I'll try to implement option 3.

[2020-10-16 12:27] nunomaduro opened #687 "Support PHP 8"
- Larastan Version: Latest

### Description

Would be cool to prepare support for PHP 8 in advance. Here is an example: https://github.com/laravel/vapor-core/pull/68/files.

[2020-10-19 07:59] grcasanova opened #689 "Problems with eloquent relationships"
- Larastan Version: 0.6.4
- `--level` used: default

### Description
Within the User model I have the following relationship
[code]
Which returns the following error when analysed
`Access to an undefined property App\Models\User::$coupons.`

### Laravel code where the issue was found
Such error is caused by the following line within the _UserController_:
[code]

[2020-10-19 08:02] canvural commented on #689
Hi,

You need to define the return type of the relation method. Either in the docblocks
[code]

or as the native return type
[code]

then Larastan will understand the relation and property access.

[2020-10-19 12:33] jdrieghe opened #690 "withTrashed() calls on BelongsTo are no longer allowed since version 0.6.6"
- Larastan Version: 0.6.6
- `--level` used: 2

### Description
Phpstan/Larastan complains about `->withTrashed()` calls on BelongsTo relationship definitions since version 0.6.6.
This was fine in version 0.6.5 and lower.

### Laravel code where the issue was found

[code]

[code]

[2020-10-19 12:59] canvural commented on #690
Hi,

I think in previous versions this was working by "mistake". Unknown method calls on relation was treated as `DummyMethodReflection` With the recent refactorings this is not the case anymore.

So I'd say this is a future request to support `SoftDelete` trait calls on relations.

[2020-10-19 21:12] LucianoVandi opened #691 "Access to an undefined property Illuminate\Database\Eloquent\Model::attribute"
- Larastan Version: 0.6.6
- `--level` used: 5
- Laravel Framework 6.18.43

### Description
I'm getting `Access to an undefined property Illuminate\Database\Eloquent\Model::$status`, it happens only if the model is injected in the __construct method.

### Laravel code where the issue was found

**OrderController.php**

[code]
In another method I have:
[code]
It won't happen if I do:
[code]

[2020-10-19 21:26] canvural commented on #691
Hi,

Thank you for the report. I can confirm this is a bug. `$this->orderModel->with()` returns `Builder` without generic type for the model specified. So the default `Model` is used.

I can fix this, but I'd also argue that injecting a model instance and then calling `find` on it does not make much sense. The second example makes more sense.

[2020-10-19 21:31] canvural commented on #691
Fixed with https://github.com/nunomaduro/larastan/commit/957f34a177be441ce1fe5b3457551c9866ed6da8

[2020-10-19 21:31] #691 closed

[2020-10-19 21:35] szepeviktor commented on #691
🐎 6 minutes.

[2020-10-20 07:45] grcasanova commented on #689
Great thanks

[2020-10-20 08:08] grcasanova commented on #689
None of the methods described work

[2020-10-20 08:13] canvural commented on #689
@grcasanova Are you getting the same error? Can you share the updated code snippet to reproduce it?

[2020-10-20 08:26] grcasanova commented on #689
Ok solved. Two notes for reference.

- types have capital letter: `HasOne`, `BelongsTo`, `HasMany`, etc
- if using return types, remember to reference them at the beginning with:
`use Illuminate\Database\Eloquent\Relations\HasOne;`

[2020-10-20 08:26] #689 closed

[2020-10-20 08:49] grcasanova opened #693 "Local scopes not detected"
- Larastan Version: _0.6.4_
- `--level` used: _default_

### Description
Local scopes using Spatie [model states package](https://github.com/spatie/laravel-model-states) fail.

`Call to an undefined method Illuminate\Database\Eloquent\Collection<App\Models\User>::reported()`

Here's how the scope is defined within the _User_ model:
[code]

The scope is referenced in this way:
[code]
where the thre

[2020-10-20 08:50] WouterSioen commented on #690
@canvural any hints on how we could implement this support for SoftDelete? We expected larastan to get into the `RelationForwardsCallsExtension` extension, but it didn't seem to get into that code.

[2020-10-20 08:58] canvural commented on #693
Are you sure that code actually works?

The error looks correct. You should use `$thread->users()->reported()->count()`

[2020-10-20 09:05] grcasanova commented on #693
I tried with and without brackets (`users()` and `users`). I'll investigate further. Thanks

[2020-10-20 09:09] canvural commented on #690
@WouterSioen Are checking it in the `hasMethod` method? It should get in there?

The problem in general is; [here](https://github.com/nunomaduro/larastan/blob/master/src/Methods/RelationForwardsCallsExtension.php#L38) we just try to find the method in the builder. So before that line there needs to be a check like
[code]

Then in `getMethod` we need to check it again and return correct method refl

[2020-10-20 09:25] canvural commented on #690
Actually the check needs to happen if we can't find it in the builder. That makes more sense :+1:

[2020-10-20 12:20] mfn commented on #691
After 11PM ❗

[2020-10-21 07:40] #690 closed

[2020-10-21 07:57] canvural commented on #693
If you still have issues please try the new release https://github.com/nunomaduro/larastan/releases/tag/v0.6.7 And after that if you still have issues please open a new issue.

[2020-10-21 07:57] #693 closed

[2020-10-21 08:13] canvural commented on #225
Fixed in newer releases.

[2020-10-21 08:13] #225 closed

[2020-10-21 08:14] #239 closed

[2020-10-21 13:43] kwebble commented on #683
On my machine I have a new version of `NunoMaduro\Larastan\ApplicationResolver` that solves the problem.

When I run `composer test` on my machine (Windows, PHP 7.4.9) some tests fail. But they also fail on the original code I cloned, so I don't think it's because of my changes.

The errors are from PHPUnit tests and look database related, they mention models and query. This is part of the output:

[2020-10-21 13:47] canvural commented on #683
I think this is an expected/known issue in Windows. There was somebody else who got the same issue.

For this issue, there is no need to fix it. You can ignore.

But if you have some spare time, I'd be grateful if you could investigate this error ! I don't use Windows and don't have access to a Windows machine, so I have no idea why it fails.

[2020-10-21 15:04] canvural commented on #683
Great! Can you make a separate PR for that?

[2020-10-21 15:27] kwebble commented on #683
Perhaps, I'm having trouble with GitHub Desktop showing errors when trying to send the change to GitHub. I'll try again tomorrow.

[2020-10-21 16:16] #326 closed

[2020-10-21 16:50] #248 closed

[2020-10-22 08:18] kwebble commented on #683
For a pull request I have to supply information that I don't  know, because I don't know enough of the code to know the effects of the change.

Normally I would have added some tests, but I cant find a unit test for `ApplicationResolver`. And to me it looks like it's not easy to create a test for.

The change is available in [this branch](https://github.com/kwebble/larastan/tree/683-exclude-test-p

[2020-10-22 08:31] canvural commented on #683
You can create the PR, no need to fill in everything in the template. Then we will also see if it broke something in the pipeline.

[2020-10-23 07:06] #683 closed

[2020-10-23 07:24] canvural commented on #683
Released as https://github.com/nunomaduro/larastan/releases/tag/v0.6.8 Please try again with the new version.

[2020-10-23 13:40] rihardssceredins commented on #588
@uintaam i'm wondering about this too. How did you manage to fix it?

[2020-10-23 13:51] rihardssceredins commented on #588
Ok, got it. Adding this to `phpstan.neon` in my project got rid of the error:

[code]

[2020-10-23 14:24] kwebble commented on #683
This solves the error during analysis for me.

[2020-10-23 15:17] kblais opened #698 "MorphToMany relations + withPivot"
- Larastan Version: 0.6.8
- `--level` used: 5

### Description

This issue is pretty similar to #519, but concerns MorphToMany relations instead of BelongsToMany.

When calling `withPivot()` (or `withTimestamps()`)  on a MorphToMany relation, I have the following error :

### Laravel code where the issue was found

[code]

Am I doing something wrong, or is Larastan incorrectly detecting the return

[2020-10-23 15:19] canvural commented on #698
Hi,

That definitely looks like a bug. I'll take a look :+1:

[2020-10-24 09:05] #698 closed

[2020-10-26 14:24] danilopolani commented on #251
Idk if I'm doing something wrong here, but I have a similar behaviour and can't solve it. Below my code (using it with Larastan v0.6.8):

[code]

Error returned:

My `.neon` conf:

[code]

@nunomaduro @canvural any idea?

[2020-10-26 15:39] spaceemotion commented on #251
@danilopolani looks like a separate issue to me (has nothing to do with auth gates).

[2020-10-26 15:56] danilopolani commented on #251
The common issue here is not related to Auth gates themselves but with Facades and their returns

[2020-10-26 20:40] canvural commented on #251
@danilopolani Hi, that looks like a bug indeed. You can open a new issue if you want. I'll try to fix it tomorrow :+1:

[2020-10-27 07:22] gitetsu opened #700 "lockForUpdate() is not supported in Query Builder"
- Larastan Version: v0.6.8
- `--level` used: 2

### Description

When I call `firstOrFail()` after `lockForUpdate()`, I get the error.

Neither `first()` nor `get()` occurs the problem.

### Laravel code where the issue was found

[code]

Last but not least, thank you very much for creating this product!

[2020-10-27 08:14] szepeviktor commented on #700
What is the situation when you remove `lockForUpdate`?

[2020-10-27 08:20] gitetsu commented on #700
Thank you for quick response.

Error has gone.

[2020-10-27 08:26] szepeviktor commented on #700
Maybe related: https://github.com/nunomaduro/larastan/issues/487#issuecomment-598030138

[2020-10-27 08:31] canvural commented on #700
Hi,

Thank you for reporting. This looks like a false positive. I'll check it :+1:

[2020-10-28 07:12] #700 closed

[2020-10-30 11:12] #687 closed

[2020-10-31 20:47] fabioi opened #706 "PHPStan: Undefined variable: $this in Pest test clousure"
- Larastan Version: 0.6.0

### Description

PHPStan complains $this variable is undefined in a Pest test.

### Laravel code where the issue was found

[code]
Not sure if it's related to #42, wanted to ask if there is a way to fix this in PHPStan, thank you

[2020-10-31 20:52] szepeviktor commented on #706
Yes, Larastan is not *yet*  able to `$this` in closures.

Please add `/** @var \Fully\Qualified\Class\Name $this */` and an empty line in top of the closure.

[2020-10-31 20:52] #706 closed

[2020-10-31 21:59] nunomaduro commented on #706
@fabioi You can always use the Laravel plugin.

[2020-11-01 12:58] fabioi commented on #706
Thanks a lot for the feedback / information

[2020-11-02 11:33] TheOddler opened #707 "Larastan not callig initialize{Trait}?"
- Larastan Version: v0.6.9
- `--level` used: 5

### Description

We have a trait that, for each attribute on a model, adds the `camelCase` version of it to the `fillable` list and overwrite `get`- and `setAttribute` so they work too (code below).

However, Larastan now complains the camelCase versions of the attributes don't exist.

When putting a `dd` in the `initializeCamelAttributes` of the tra

[2020-11-02 11:38] szepeviktor commented on #707
PHPStan analyzes only used traits. Unused trait do not get analyzed 😿

[2020-11-02 11:41] TheOddler commented on #707
But it is used, because it overwrites `getAttribute`, and thus is used a lot really. But I guess it's not directly obvious to larastan that it's used.

Is there a way to force it to check it too?

[2020-11-02 11:45] TheOddler commented on #707
I tried "using" the trait, by just calling `getAttribute` somewhere directly in the code. But doesn't seem to trigger it either.

[2020-11-02 11:47] szepeviktor commented on #707
"used" means you hav `use CamelAttributes;` in another class.

[2020-11-02 11:49] TheOddler commented on #707
Ah ok, I wasn't clear then, I do do that.

[code]

Larastan complains the attribute `materialCost` doesn't exist, but does know `material_cost`.

It makes sense it knows about `material_cost`. Because it's in the `fillable` list.

However, `materialCost` is also in there, but only after the trait adds it in `initializeCamelAttributes`. Which isn't being called it seems.

[2020-11-02 11:52] szepeviktor commented on #707
Yes, Larastan does static analysis thus methods in `CamelAttributes` are ignored when detecting properties.
You have to write a PHPStan extension (a single class) to support that.

[2020-11-02 11:53] canvural commented on #707
Hi,

Larastan and PHPStan statically analyze your code. We don't execute your code to understand it. (except a couple of situations)

If it was working in previous versions, I'd guess it was by "mistake" and actual type was not inferred.

For this situation I advise you to use `@property` above the class like you mentioned.

[2020-11-02 11:53] #707 closed

[2020-11-02 12:06] szepeviktor commented on #707
# 🤣

[2020-11-02 15:09] nelson6e65 opened #708 "Call to an undefined method Illuminate\Support\Fluent::onDelete()"
- Larastan Version: 0.6.9
- `--level` 5:
- Laravel: 8.12.3
### Description

### Laravel code where the issue was found

[code]

Result of runing `./vendor/bin/phpstan analyse`:
[code]

**How can I override that the return type of method [`foreignId()->constrained()`](https://laravel.com/api/8.x/Illuminate/Database/Schema/ForeignIdColumnDefinition.html#method_constrained) is not `Fluent`, but `Fore

[2020-11-02 15:13] szepeviktor commented on #708
Yes, this is a known thing.

[2020-11-02 15:19] szepeviktor commented on #708
[code]

[2020-11-03 15:27] nelson6e65 commented on #708
Thanks!

[2020-11-03 15:28] szepeviktor commented on #708
You're welcome.

[2020-11-03 15:29] szepeviktor commented on #708
@canvural Do we plan to support the `constrained()` method?

[2020-11-03 15:37] canvural commented on #708
I think it's more about adding support for `Illuminate\Support\Fluent`

I don't have any plans, but if someone wants to implement it I will accept a PR! :+1:

[2020-11-04 17:12] MatanYadaev opened #709 "Process [id] not found"
# Bug report

Hi, I'm using the latest version of Larastan (v0.6.9), and Laravel.
`phpstan analyse` works fine when my `.env` is configured correctly, but when I clear this file, I receive this issue:
[code]

When I execute `phpstan analyse --debug`:
[code]

This is the code:
[code]

This is my config file:
[code]

As you can see, `User::find` is a method that sends a query to the DB, and since `.

[2020-11-04 17:29] canvural commented on #709
Hi,

I can't reproduce this with the code example you gave. Are you sure that is the code that throws the error? If you have XDebug installed you can run phpstan with `--debug --xdebug` and that should give you a full stack trace of the error.

Maybe you have some code that tries to reach to db in one of your service providers?

[2020-11-04 18:21] MatanYadaev commented on #709
@canvural Thanks for your reply. I appreciate it.
I turned XDebug on and executed the same command with `--debug --xdebug` but it doesn't provide me any stack trace, I receive the exact same response. Any idea why?

I do have code in one of my service providers that reaches the DB, but what's the problem with that?
Anyway, this code is inside a closure:
[code]

[2020-11-04 18:40] szepeviktor commented on #709
Larastan should be ran with only Composer packages, no other dependency it necessary.
Maybe some db migrations: `cp -a database/migrations/* vendor/orchestra/testbench-core/laravel/database/migrations/`

Ans of course you  have to write testable code, that might be the most important.

[2020-11-04 18:42] szepeviktor commented on #709
Do you have xdebug enabled? `php --ri xdebug`

[2020-11-04 18:42] MatanYadaev commented on #709
@szepeviktor Any idea what might lead Larastan to execute a DB query?

[2020-11-04 18:42] szepeviktor commented on #709
That we boot up Laravel 😿 it makes me sad.

[2020-11-04 18:48] canvural commented on #709
There is not a problem with that, code looks ok.

Can you pinpoint the error to a exact file? Because I can't reproduce it with the original code snippet you gave in the issue.

You should have the same `.env` file as your project uses. But values are not actually used. So something like `.env.testing` should also work.

I never see Larastan tried to make an actual database request. So that is a l

[2020-11-04 19:22] MatanYadaev commented on #709
I still can't pinpoint the error, but I have this log file. I'm still checking it, let me know if you find something useful:

[code]

[2020-11-04 19:46] MatanYadaev commented on #709
@szepeviktor @canvural The issue got fixed when I delete `use Illuminate\Database\Eloquent\SoftDeletes` from the models.

For some reason, Laravel's soft delete trait leads to this issue.
I can't reproduce it with a new Laravel project.
It means, the soft delete itself doesn't break anything, but maybe, combined with some other package I use, it breaks it all.

[2020-11-04 19:55] canvural commented on #709
I saw https://github.com/grimzy/laravel-mysql-spatial pakcage in the error log, and it seems they are [overriding](https://github.com/grimzy/laravel-mysql-spatial/blob/master/src/SpatialServiceProvider.php#L33) the connection factory, and I think that causes the issue.

But I think we need to find another solution [here,](https://github.com/nunomaduro/larastan/blob/master/src/Methods/Pipes/Builder

[2020-11-08 08:44] MatanYadaev commented on #709
@canvural There's something I could help with? Do you have an approach on how to fix this issue?

Meantime, do you have a workaround suggestion in order to use this package without a DB connection?

[2020-11-08 08:58] szepeviktor commented on #709
That would be something ugly.
e.g. `if (class_exists(\NunoMaduro\Larastan\ApplicationResolver::class, false)) { ...`

[2020-11-08 09:45] canvural commented on #709
@MatanYadaev I think I have all the information I need to fix this. The issue is I don't have much free time these days. So I'll do it once I've got some time.

(If you want to motivate me you can consider [sponsoring](https://github.com/sponsors/canvural) me :blush: )

[2020-11-08 23:23] WillyReyno opened #711 ""Access to an undefined property" errors after pruning migrations"
- Larastan Version: 0.6.9
- `--level` used:7

### Description

After upgrading to Laravel 8 I wanted to clean my migrations with `php artisan schema:dump --prune` but now Larastan returns hundreds of `Access to an undefined property` errors due to all migrations being removed.

Is there a way to avoid that like ignoring migration scan?

[2020-11-09 00:50] szepeviktor commented on #711
Larastan knows model properties from migrations. Without those you may get that error.

[2020-11-09 00:51] szepeviktor commented on #711
On a second thought, you may add `/** @property ... */` to all models.

[2020-11-09 06:51] canvural commented on #711
Hi,

You can,
- Add `@property` to your model files. https://github.com/barryvdh/laravel-ide-helper can help you with that.
- Again using https://github.com/barryvdh/laravel-ide-helper you can generate `_ide_helper_models.php` and then add that to PHPStan stubs.
- [Ignore](https://phpstan.org/user-guide/ignoring-errors) the error. But you will lose the benefit of analysis.

[2020-11-09 06:51] #711 closed

[2020-11-13 09:24] kvas-damian opened #712 "Error when passing array<string, Closure> to Model::with()"
- Larastan Version: 0.6.9
- `--level` used: 5

### Description
According to docs Laravel it's possible to pass Closure in array of params for `Model::with()`: https://laravel.com/docs/8.x/eloquent-relationships#constraining-eager-loads

Larastan reports the following error:
`Parameter #1 $relations of static method Illuminate\Database\Eloquent\Model::with() expects array<string>|string, array<int|

[2020-11-13 10:37] canvural commented on #712
Hi,

Thanks for reporting. Looks like or stub [here](https://github.com/nunomaduro/larastan/blob/master/stubs/Model.stub#L22) is wrong. I'd accept a PR changing this and adding a test for this case [here.](https://github.com/nunomaduro/larastan/blob/master/tests/Features/Methods/ModelExtension.php)

[2020-11-13 11:31] szepeviktor commented on #712
`     * @param  string|array<int|string, (Closure(mixed): mixed)|string>  $relations`

[2020-11-17 15:38] szepeviktor opened #714 "Support contract binding in a Laravel ecommerce package"
- Larastan Version: 0.6.9
- `--level` used: 2

### Description

Contracts are bound to actual Models.
https://github.com/conedevelopment/bazar/blob/master/src/BazarServiceProvider.php#L26-L38
but Larastan keeps complaining about missing properties and methods of Contracts.

[code]

### Laravel code where the issue was found

https://github.com/conedevelopment/bazar/blob/8e00660fa9579d4ec0459848b88

[2020-11-17 15:39] szepeviktor commented on #714
Do I fail to configure something?

[2020-11-19 19:59] szepeviktor commented on #714
@nunomaduro Could you help with some directions?

[2020-11-19 20:32] nunomaduro commented on #714
Abstracts or interfaces in PHP can't have properties.

[2020-11-19 20:32] #714 closed

[2020-11-22 16:34] tiagof opened #715 "Multiple databaseMigrationsPath"
- Larastan Version: 0.6.1
- `--level` used: 5

### Description
In a project that follows DDD, there are usually multiple directories where migration files exist:

`database/migrations/*`
`domains/<domain>/Database/Migrations/*`

In these cases it is not possible to configure larastan to scan all the migrations, since the databaseMigrationsPath only accepts a string.

Is there any way to achieve th

[2020-11-22 17:28] szepeviktor commented on #715
Thank you for your report!
Currently not.
You have to place/copy all of them to one directory.

[2020-11-23 15:27] #712 closed

[2020-11-25 22:50] #709 closed

[2020-11-25 23:01] canvural commented on #712
Released: https://github.com/nunomaduro/larastan/releases/tag/v0.6.10

[2020-11-25 23:01] canvural commented on #709
Released: https://github.com/nunomaduro/larastan/releases/tag/v0.6.10

[2020-11-27 12:34] cweiske commented on #436
When calling a method on that custom collection class that has been returned by `newCollection()`, I still got an error:

The solution was to define a "property-read" for the HasMany-property:
[code]

This was with phpstan 0.12.57, larastan v0.6.10

----

Full code:

AccountCollection.php:
[code]

Account.php:
[code]

User.php:
[code]

[2020-11-27 12:46] szepeviktor commented on #436
Very nice tutorial.
Thank you!

[2020-11-27 12:47] canvural commented on #436
@cweiske Can you show the code that produces that error?

[2020-11-27 12:49] cweiske commented on #436
Yes, that's the one :)

[2020-11-28 11:49] canvural commented on #436
@cweiske It's fixed by https://github.com/nunomaduro/larastan/pull/719 You can try it on the `master` branch

[2020-11-28 12:47] MatanYadaev opened #720 "PHPStan assumes that model's relation is nullable"
- Larastan Version: 0.6.10
- `--level` used: max

### Description
PHPStan assumes that a model's relation is nullable but it's not.

Code example:
[code]

[code]

[code]

It happens in many places in the app. Any idea why it happens? How to fix it?

[2020-11-28 12:56] canvural commented on #720
Hi,

`BelongsTo` relationship does not guarantee that there will be a related model. If the foreign key is null there is no relation.

You can override this in `Post` model by putting `@property-read \App\Models\User $user`

[2020-11-28 12:56] #720 closed

[2020-11-28 13:39] MatanYadaev commented on #720
@canvural Thanks for the comment. The foreign key column is not nullable, it should always have a relation. As you can see, `laravel-ide-helper` marked this property as `User` and not `User|null`. I mean, the override you suggested me, is already implemented, and still PHPStan assumes the relation might be null.
Any idea why it assumes that?

[2020-11-28 13:44] canvural commented on #720
How is my suggested fix is already implemented? Did you add it on top of the `Post` model?

[2020-11-28 13:50] MatanYadaev commented on #720
@canvural I found the cause for the issue. I'm using `laravel-ide-helper` feature: `--write-mixin` (instead of `--write`) https://github.com/barryvdh/laravel-ide-helper#automatic-phpdocs-for-models

This doesn't work as expected.
[code]
[code]

This works:
[code]

I prefer these phpDocs to remain in the `_ide_helper_models.php`. Any idea why Larastan doesn't read the `IdeHelperPost` mixin correctl

[2020-11-28 13:57] canvural commented on #720
Try putting `_ide_helper_models.php` to the [`scanFiles` array](https://phpstan.org/user-guide/discovering-symbols#third-party-code-outside-of-composer-dependencies) in your PHPStan config

[2020-11-28 14:08] MatanYadaev commented on #720
Amazing! Thanks

[2020-11-28 16:25] stancl opened #724 "Doesn't work when autoloading multiple directories into a single namespace"
- Larastan Version: Latest
- `--level` used: any

### Description

When you use:
[code]

Larastan will try to get all files in that namespace.

However, it won't loop through the `["tests/"]` array, so it will pass `["tests/"]` as a path to `ClassMapGenerator::createMap()`, when the method expects a string.

![Screen Shot 2020-11-28 at 17 24 10](https://user-images.githubusercontent.com/33033094/1

[2020-11-28 16:37] szepeviktor commented on #724
Would you send a one-liner PR?

[2020-11-28 16:38] szepeviktor commented on #724
BTW Using the same namespace in two different paths is risky.

[2020-11-28 16:53] stancl commented on #724
Yup, I just had the array syntax for a single path by default because my VSCode plugin generated it.

Will send a bug fix shortly.

[2020-11-28 18:20] #724 closed

[2020-12-02 22:18] mfn opened #726 "Property check on dynamic wheres not entirely working"
- Larastan Version: 0.6.10
- `--level` used: 6

### Description
Replicating what I wrote in https://github.com/nunomaduro/larastan/pull/686#issuecomment-737501518

✔️ This works / no error, because there is a column `profiles.type`:
[code]
✔️ This generates an error now in *stan (correctly 👍 ) because there's no `profiles.yolo`:
[code]
produces
[code]

❌ But this does not generate an error (althou

[2020-12-03 10:40] canvural commented on #726
Tried something here https://github.com/nunomaduro/larastan/commit/2581f3b255a6ad3f38301d088557a0ddc598dbf8 Can you test again with `master` branch? It should give you the error now.

[2020-12-03 12:46] mfn commented on #726
It works 🎉
[code]
(btw, is there a way to not make phpstan wrap the lines in the terminal ? This drives me crazy)

Ran it over my whole (private) code base, found one other error but that was because I override the return result of a builder (for unknown reason) and thus lost the generics information of the model => removed the superfluous typehint => worked as expected.

Thank you!

[2020-12-03 12:47] mfn commented on #726
(not sure if you want to close it now or when released, I'm fine with closing)

[2020-12-03 12:50] canvural commented on #726
PHPStan uses Symfony Console for commands, outputs and stuff I believe. So if you can do it with Symfony Console, you can do it with PHPStan :smile:

If it's fixed I will close it now, and release a new version.

[2020-12-03 12:50] #726 closed

[2020-12-07 11:18] trancongminh132 opened #728 "Can not install nunomaduro/larastan"
- Larastan Version: nunomaduro/larastan": "^0.6.10
- `--level` used:

### Description
Hello, I just run this command `composer require --dev nunomaduro/larastan` but I don't see any folder like `./vendor/nunomaduro/larastan` or `./vendor/bin/phpstan`.
Could you help me check it? Thank you!

[2020-12-07 11:25] szepeviktor commented on #728
In Composer the vendor-dir can be customized.
Try adding `-vvv`

[2020-12-07 11:25] #728 closed

[2020-12-07 11:28] trancongminh132 commented on #728
Hello @szepeviktor Could you help me write more detail about how to do that? Thank you!

[2020-12-07 11:47] szepeviktor commented on #728
Issue this command and you will what is installed where
`composer require -vvv --dev nunomaduro/larastan`

[2020-12-08 02:03] trancongminh132 commented on #728
@szepeviktor it doesn't show anything.
[code]

[2020-12-08 02:12] szepeviktor commented on #728
Is it the last line for you too? Or are there too many debug lines for a comment?

(try never running Composer as root)

[2020-12-08 02:18] trancongminh132 commented on #728
@szepeviktor Yes, that is the last line.

[2020-12-08 02:22] szepeviktor commented on #728
No.
Please try to repair your OS/PHP/Composer/home directory/etc.

[2020-12-08 02:24] szepeviktor commented on #728
Maybe your disk is full...
I do not know. Keeping a Computer in good shape may not fit into a GitHub issue...

[2020-12-08 03:00] trancongminh132 commented on #728
@szepeviktor even delete vendor folder and run `composer install`, it still doesn't know the package `"nunomaduro/larastan": "^0.6.11"`

[2020-12-08 03:09] szepeviktor commented on #728
Please understand that I'm not able to repair your computer in a GitHub issue.
I'm sorry.

[2020-12-08 03:11] trancongminh132 commented on #728
@szepeviktor ah, I can install `"phpstan/phpstan": "^0.12.59"`. So, I don't think that relate to computer issue. But thanks to support quickly.

[2020-12-08 11:51] MatanYadaev opened #729 "PHPStan is trying to access the DB"
- Larastan Version: 0.6.11
- `--level` used: 0

### Description
PHPStan is trying to access the Database.
Locally the static code analysis works great because I have a DB connection configured well, but on my CI I don't even have a `.env` file so it fails.

[code]

**The issue occurs only with PHPStan's new version 0.12.59**
With PHPStan v0.12.58 no issue occurs.

### Laravel code where the issue

[2020-12-08 11:53] szepeviktor commented on #729
Really? :)

[2020-12-08 12:14] MatanYadaev commented on #729
@szepeviktor Sorry, I meant v0.6.11

I want to correct myself: The issue isn't started on PHPStan v0.12.59, the issue started on Larastan v0.6.11.

Workaround: Remain using Larastan v0.6.10

[2020-12-08 15:35] MJTheOne opened #730 "Throwing errors on Facade that previously worked fine"
- Larastan Version: 0.6.11
- `--level` used: 5

### Description
Before the update to 0.6.11 (0.6.10) I had no issues with (for example) Cache::delete() (Cache being the Facade class).
Since updating this throws an error.
Is this supposed to be like this (larastan is being more strict) or is something broken?

### Laravel code where the issue was found

[code]

[2020-12-08 15:45] szepeviktor commented on #730
Could you share the error message with us?

[2020-12-08 18:55] MJTheOne commented on #730
[code]

[2020-12-08 19:46] nunomaduro commented on #730
@MJTheOne Shouldn't you be using "forget" instead?

[2020-12-08 19:47] szepeviktor commented on #730
I've read about it in Laravel Docs but my developer routine is _near_ 0️⃣

[2020-12-08 19:56] #730 closed

[2020-12-09 07:36] MJTheOne commented on #730
"delete" can be used just as well. Looking at the `laravel/framework/src/Illuminate/Cache/Repository.php` you see there is a public function that's called "delete". (which calls forget, so yes it would be better to use "forget", but laravel *does* support "delete")

[2020-12-09 07:48] szepeviktor commented on #730
What does Larastan say about `forget`?

[2020-12-09 11:11] MJTheOne commented on #730
No errors. Still feels like 0.6.11 has made *something* more strict because on 0.6.10 the entire application passed on level 5. Since 0.6.11 it doesn't pass. The error's I'm getting are very logical and I know a lot needs to be fixed because eventually I want to pass level 8, but doing a minor update and having to start fixing again is a bit weird imo.

[2020-12-09 13:30] szepeviktor commented on #730
Everyone agrees with you providing Larastan v1.0.0 is released :)

[2020-12-09 15:34] nunomaduro commented on #730
@MJTheOne I don't think we should release a new major version every time we improve this tool to detect new bugs. You can always pin this dependency to a specific version.

[2020-12-09 16:26] szepeviktor commented on #730
... improve your code.

The doctor advises to spend 5% of your resource on [technical debt](https://www.monkeyuser.com/2018/tech-debt/).

[2020-12-10 06:38] paras-malhotra opened #732 "Fatal error on Laravel 6 - seems to be related to orchestra testbench update"
- Larastan Version: 6.20.7
- `--level` used: Any level

### Description
I'm getting this error when running Larastan on my code. It was working prior to an update:

### Temporary Solution
If I restrict orchestra/testbench-core to 4.10.0 it works again. An update to testbench-core 4.11.0 breaks it.

[2020-12-10 06:47] szepeviktor commented on #732
Thank you for your report.
Resolved in here https://github.com/nunomaduro/larastan/pull/731/files

Does it work for you?

[2020-12-10 06:47] #732 closed

[2020-12-10 10:30] szepeviktor commented on #732
Please also so https://github.com/orchestral/testbench-core/compare/v4.11.0...v4.11.1

[2020-12-10 10:39] paras-malhotra commented on #732
Thanks so much! 👍

[2020-12-10 11:09] szepeviktor opened #733 "->where()->withTrashed() throws Call to an undefined method"
- Larastan Version: https://github.com/nunomaduro/larastan/compare/v0.6.10...v0.6.11#diff-3109910cd674cea144c1c7aee5a0cb8de4197b417c9ac1b2e739a60586508391
- `--level` used: **5**

### Description

After upgrading to 0.6.11 I get `Call to an undefined method Eloquent\Builder<App\Models\User>::withTrashed()`

### Laravel code where the issue was found

![kép](https://user-images.githubusercontent.co

[2020-12-10 11:23] szepeviktor commented on #733
Thank you for your report, Viktor, but I cannot help you!

[2020-12-10 11:55] mgkimsal commented on #733
I was noticing this last night, upgrading to 0.6.11.  I *think* the issue may stem from https://github.com/nunomaduro/larastan/commit/2581f3b255a6ad3f38301d088557a0ddc598dbf8 in the getMethod() call changes, but that's just a first reading.

[2020-12-11 18:48] szepeviktor opened #734 "Recognize forceDeleting property on models with SoftDeletes"
This is a feature request.

[code]

[code]

[2020-12-12 00:19] MJTheOne commented on #730
I get that. And I know I need to fix the code base I'm working on. Just wanted to give my two cents on semver.

Really like this package because one of the first things I demanded when I joined this project was: I want static analysis. Then I discovered all the Laravel magic stuff and was getting worried until I found this.

Keep up the good work!

[2020-12-12 16:54] szepeviktor opened #735 "Support custom Contracts"
I've found `Illuminate\Contracts` hardcoded in

https://github.com/nunomaduro/larastan/blob/ca98347313e20fe84daf22c08a31a550153f3be9/src/Methods/Pipes/Contracts.php#L47

What should I do to support a [Laravel package's own contracts](https://github.com/conedevelopment/bazar/tree/master/src/Contracts)?

Modifying Contracts.php works but touching a file is for script-kiddies :)

[code]

Please advis

[2020-12-12 19:34] szepeviktor commented on #733
@canvural Could you look around? What went wrong?

[2020-12-15 02:45] manuelmaceira opened #737 "Access to undefined constant all over the proyect"
- Larastan Version: 0.6.11
- `--level` used: 0

### Description
Just installed larastan in a just upgraded proyect (was laravel 7 but now it's laravel 8) and phpstan is giving me errors about undefined class constants that are already defined.

[In phpstan playground it's working as it should.](https://phpstan.org/r/393be5a6-c50e-44d2-868c-d728b436814e)

### Laravel code where the issue was found

[2020-12-15 05:04] szepeviktor commented on #737
Could you try v0.6.10?

[2020-12-15 10:40] canvural commented on #737
Hi,

Can you also share the code that is giving the error?

[2020-12-15 11:07] szepeviktor commented on #737
It is  up there 👆 e.g. `class TrustProxies`

[2020-12-15 11:09] canvural commented on #737
That's where the constant is defined. But I want to see how its used. For example `Http/Requests/CharLoginRequest.php` line 30 or `Http/Requests/CharNameRequest.php` line 29

[2020-12-15 11:26] szepeviktor commented on #737
It is **used** here.

`protected $headers = Request::HEADER_X_FORWARDED_ALL;`

[2020-12-15 11:29] canvural commented on #737
In that case, error is correct. [Request class](https://github.com/laravel/framework/blob/master/src/Illuminate/Http/Request.php) doesn't have that constant.

[2020-12-15 11:35] szepeviktor commented on #737
I also us `"nunomaduro/larastan": "<0.6.11"` everywhere as 0.6.11 has something in it.

[2020-12-15 11:39] canvural commented on #737
I also have `protected $headers = Request::HEADER_X_FORWARDED_FOR;` in TrustProxies.php in my projects, and PHPStan does not complain about it.

So I'm thinking this is an issue with the configuration. Can you also share your phpstan.neon file?

[2020-12-15 17:15] manuelmaceira commented on #737
phpstan.neon
[code]

and the constant being used
[code]

also im on archlinux using php 7.4.9

[2020-12-15 17:30] manuelmaceira commented on #737
Same errors on 0.6.10

[2020-12-15 17:35] manuelmaceira commented on #737
Also if i bump the level to 1 it starts erroring about undefined static methods (that are defined) and throws this error at the end (trace with --debug):

[code]

[2020-12-15 17:38] szepeviktor commented on #737
Have you tries without `scanFiles:`?

[2020-12-15 17:38] manuelmaceira commented on #737
Output with level 1 (no --debug)
[code]
I know i shouldn't be using so many static methods, im actually working on a big refactor, that's why i installed larastan in the first place.

[2020-12-15 17:42] manuelmaceira commented on #737
without scanFiles it works okay in level: 0 and does not throw the error on level: 1
but it shows every relationship as undefined property.
It also still says the <Model>::factory method is undefined (the new factories from laravel 8)

[code]

[2020-12-15 18:27] szepeviktor commented on #737
Try adding [proper migrations](https://github.com/conedevelopment/bazar/tree/master/database/migrations) that Larastan understands.

[2020-12-15 18:56] canvural commented on #737
Using

[code]

together with Larastan causes the issues I think. You have to choose one I think. Cause

About properties, you can follow the advice from @szepeviktor or write your properties into your model files with ide-helper.

[2020-12-15 18:56] #737 closed

[2020-12-15 19:03] manuelmaceira commented on #737
Should i remake my whole database schema? what about the problem with factories?
I have a lot of migrations since this project was my first laravel project and i learnt as i progressed on it.
Early migrations are kind of junky but it's not a small project and remaking the whole schema would be a big headache.

[2020-12-15 19:05] manuelmaceira commented on #737
I don't think this should be closed as the problem with factories will still persist even if i rewrite all the migrations.

[2020-12-15 19:06] canvural commented on #737
What do you mean remaking the schema? You don't have to change your schema. Do you have database migrations? Larastan will scan them automatically, if it exists.

[2020-12-15 19:07] canvural commented on #737
About factories, there is an open feature request about it: #661 They are not supported yet by Larastan

[2020-12-15 19:22] manuelmaceira commented on #737
Yes, i have database migrations but i should still rewrite every migration where there is a relationship defined right? where i should use ->foreingId().

I'll try telling ide_helper to write the docblocks inside the model files as i think that should fix the problem.

Thanks for the help!
Sorry for my bad english and greetings from Argentina!

[2020-12-15 19:25] canvural commented on #737
No, you don't need to that. Recognizing relationships as properties does not require the migration files at all. If you have a method in your model that returns a relation, it should be recognized by Larastan as a property when you try to access it.

[2020-12-15 19:49] manuelmaceira commented on #737
I have methods that return relations but larastan is not recognizing them.
[code]

[code]

If i let ide-helper write the docblocks on the model files it works fine but i would prefer it if i could keep those at _ide_helper_models.php.

[2020-12-15 19:54] canvural commented on #737
You need to define the return type. Either with `public function chars(): HasMany` or `/** @return HasMany */` above the method definition.

[2020-12-15 20:12] manuelmaceira commented on #737
Great! that fixes it! thanks for the help!

[2020-12-15 20:14] canvural commented on #737
@manuelmaceira No problem!

[2020-12-15 20:56] #733 closed

[2020-12-15 20:59] canvural commented on #735
Hi,

Can you share the piece of code you are getting an error from?

The file you mentioned is there because Laravel uses inheritance kinda wrong. Classes implementing the interface also defines custom methods on their own. And in other places interface is typehinted but that other custom methods are called on it.

[2020-12-15 21:23] canvural commented on #734
Hi,

I cannot reproduce this.

[code]

gives no errors.

Can you PR a failing test for this?

[2020-12-16 00:38] szepeviktor commented on #735
Here is the Contract https://github.com/conedevelopment/bazar/blob/master/src/Contracts/Models/Product.php

Example error No1
`Call to an undefined method Bazar\Contracts\Models\Variation::setRelation().` on line 160
https://github.com/conedevelopment/bazar/blob/e8c2ddc5ac82bbbff921bdd77d4cd30d12896aba/src/Models/Product.php#L158-L162

No2
`Call to an undefined method Bazar\Contracts\Models\Order:

[2020-12-16 00:41] szepeviktor commented on #735
After pre-loading a modified version of Larastan's Contracts.php it Works!

https://github.com/szepeviktor/bazar/blob/eb5dad895c094064740cb39206f02f95b32827d2/tests/phpstan/override-larastan-Contracts.php#L49

[2020-12-16 01:01] szepeviktor commented on #734
Thank you for your response!

This wants to be a flexible trait. It should work on models with **and** without `use SoftDeletes;`
That is why the `in_array(SoftDeletes::class, class_uses($model))` condition is there.
How is it possible to analyze it with Larastan?

[2020-12-17 20:52] carlalexander opened #740 "Issue parsing migration file with a conditional"
- Larastan Version: 0.6.10
- `--level` used: max

### Description

I initially had a migration that looked like this:

[code]

But I ran into an [issue with sqlite and adding a default null column](https://stackoverflow.com/questions/20822159/laravel-migration-with-sqlite-cannot-add-a-not-null-column-with-default-value-n). So I had to add a conditional to the migration to deal with this bug. But w

[2020-12-17 21:01] szepeviktor commented on #740
Thank you for your report.
AFAIK conditions are not supported.

[2020-12-17 21:03] szepeviktor commented on #740
Try early return.

[code]

[2020-12-17 21:09] carlalexander commented on #740
Worked like a charm. Thanks! ❤️

[2020-12-17 21:09] #740 closed

[2020-12-17 21:12] szepeviktor commented on #740
You're welcome.
We are here to help.

[2020-12-18 17:30] canvural commented on #734
Try something like `(isset($model->forceDeleting) && $model->forceDeleting === true)` This is not really related to Larastan.

[2020-12-18 17:30] #734 closed

[2020-12-18 17:34] #735 closed

[2020-12-18 17:36] szepeviktor commented on #735
@canvural Could  `Illuminate\\Contracts\\`  be moved to an option in the neon file?

[2020-12-21 11:03] nepda opened #741 "Autoload is maybe wrong: Cannot redeclare Safe\array_combine()"
- Larastan Version: v0.6.11
- `--level` used: 8

### Description

When running phpstan with larastan extension on specific functions this error happened. I created a repository to reproduce this:

https://github.com/nepda/phpstan-larastan-bug

**Without larastan, it will run perfectly.**

### Laravel code where the issue was found

[code]

[code]

If you remove those lines:
[code]

it will run wit

[2020-12-21 12:19] szepeviktor commented on #741
Try adding `, false`, see the above PR.

[2020-12-21 12:27] szepeviktor commented on #741
Want to see stange things?

Replace the contents of `vendor/thecodingmachine/safe/generated/array.php` with

[code]

[2020-12-21 14:05] nepda commented on #741
Okay, the tests seems to complain about your changes...

Will there be a new version?

[2020-12-21 14:16] szepeviktor commented on #741
@canvural Could you chime in?

[2020-12-23 14:30] shaffe-fr opened #745 "Mixin, scope detection in 0.6.11"
- Larastan Version: 0.6.11
- Phpstan Version: 0.12.64
- `--level` used: max (8)

### Description
Since version 0.6.11, some scopes and mixins are no longer recognized.
As I had no issue with 0.6.10, I forked the repo and reverted [2581f3b](https://github.com/nunomaduro/larastan/commit/2581f3b255a6ad3f38301d088557a0ddc598dbf8) and it's working again.

### Laravel code where the issue was found

[co

[2020-12-23 14:57] canvural commented on #745
Hi,

With 0.6.11 the unknown methods no longer return DummyMethodReflection. These cases weren't even working correctly on previous versions. Now we have the ability to see them.

Larastan doesn't know which model to look for. For this reason, `EloquentBuilder` is a generic class. So you can tell it which model this builder operates on. `/** @param EloquentBuilder<User> $query` above the method de

[2020-12-23 14:58] canvural commented on #745
$relation->getModel();

For this case, can you tell me how do you get the `$relation`? What is its type?

[2020-12-23 15:27] szepeviktor commented on #745
We've opened up a big Can of worms :)

[2020-12-23 15:31] canvural commented on #745
Yeah, I know. But actually a good thing. It means Larastan wasn't understanding those codes at all previously. Now we can add support for it.

[2020-12-23 16:21] shaffe-fr commented on #745
Hi,

Adding the generic on the eloquent builder did the job for the scope issues.

At the end of the day, I think it was a good idea to open the Can of worms :) Adding generic on the EloquentBuilder seems natural.

[code]
The `Relation` class has a `@mixin \Illuminate\Database\Eloquent\Builder `. The builder contains the `getModel` method.

Maybe related to this #704?

[2020-12-23 16:26] szepeviktor commented on #745
PHPStan has built-in `@mixin` support.
https://github.com/phpstan/phpstan-src/commit/b02ee1444440ed995c17171c456feec2c56e0cb2

[2020-12-23 16:31] canvural commented on #745
I think if you type hint a specific implementation of Relation it should work. Relation class is abstract, so Larastan may skip the checks on it.

[2020-12-23 16:32] shaffe-fr commented on #745
Yeah I saw that in the PR, but as the forwarding is not recognized I though that larastan' `@mixin` support was maybe better or more suitable with Laravel magic.

[2020-12-23 16:34] shaffe-fr commented on #745
Indeed, it's working with a concrete relation class.

[2020-12-28 09:18] geoff-maddock opened #746 "Access to an undefined property App\Models\User::$name."
- Larastan Version: 0.6.11
- `--level` used: 1

### Description
I recently updated to Laravel 8 and while I believe this was working after the update, I'm not sure if it was Laravel 8 or Larastan that changed between this passing and now not passing.  When I run:

[code]

 I'm getting numerous warnings for model classes such as:

[code]

Not sure how this normally checks, but I haven't changed muc

[2020-12-28 09:25] szepeviktor commented on #746
Hello Geoff! Larastan has improved :) Please make sure your migrations are correctly written.
More info: https://github.com/nunomaduro/larastan/blob/master/docs/custom-config-paramaters.md#databasemigrationspath

[2020-12-28 17:08] asbiin commented on #741
I've made a fix in `thecodingmachine/safe`, which you will find in this branch: https://github.com/asbiin/safe/tree/enclose-functions

[2020-12-28 19:11] szepeviktor commented on #741
It seems like the autoloading problem is in our side, in Larastan.

[2020-12-29 07:20] geoff-maddock commented on #746
I think I see the issue - I no longer have any migrations.   I used the new migrations squash feature in Laravel 8 to turn my initial database into database/schema/mysql-schema.dump, and eliminated the migrations in my project.

https://laravel.com/docs/8.x/migrations#squashing-migrations

[2020-12-29 08:12] canvural commented on #746
@geoff-maddock In that case there is nothing we can do. You can use `laravel-ide-helper` to generate docblock for your model properties, or write them to a file and that file as a stub.

[2020-12-29 08:12] #746 closed

[2020-12-29 08:19] geoff-maddock commented on #746
Thanks for the quick responses!  This points me in the right direction.

On Tue, Dec 29, 2020 at 3:12 AM Can Vural <notifications@github.com> wrote:

[2020-12-31 23:52] Josh-G opened #747 "Static method on model has return type signature replaced incorrectly when containing a collection"
- Larastan Version: v0.6.11
- `--level` used: 6

### Description
Defining a static method on a `Model` that contains a reference to an Eloquent `Collection` in its return type signature results in a completely different return type being parsed.

### Laravel code where the issue was found
I have a legacy method that has a slightly awkward return type that can provide either a collection of a speci

[2021-01-03 00:28] geoff-maddock opened #748 "Call to undefined method on BelongsToMany relation"
- Larastan Version: 0.6.11
- `--level` used: 2

### Description
I'm getting undefined method errors on BelongsToMany relations.  The code itself works as written.

[code]

[code]

### Laravel code where the issue was found

[code]

The thread entity has methods such as:
[code]

And an annotation:
[code]

[2021-01-03 00:47] geoff-maddock commented on #748
So I noticed that the **Thread** entity also had this annotation:
[code]

Which was added by the ide helper.  I removed that and it's no longer throwing the error.
What's that used for?

[2021-01-03 16:48] canvural commented on #747
Hello,

This looks like a bug. Will take a look.

[2021-01-03 16:49] canvural commented on #748
I don't know why ide-helper adds that. But yes, it causes issues with Larastan, it was discussed before. Like you said only way to solve is to remove it.

[2021-01-03 16:49] #748 closed

[2021-01-04 17:42] jrmajor opened #749 "PHPStan Internal error"
- Larastan Version: 0.6.11
- `--level` used: 2

### Description

[code]

I'm unable to recreate this error locally, analysis fails only in GitHub action.

`App\Services\Discogs` is registered in the service container and resolved as a real-time facade.

[code]

[(full source code)](https://github.com/jrmajor/bajki-muza/blob/ed2133b51fd8866f06cd92050744a65d8864bca3/app/Providers/ServicesServiceProv

[2021-01-04 18:31] nunomaduro commented on #749
Seems that `$app->config->get('services.discogs.token')` is returning `null` in your GitHub action.

[2021-01-04 18:31] #749 closed

[2021-01-04 19:06] canvural commented on #749
Hi,

Like @nunomaduro said your config value is returning null. This can actually be a bug in production also. Either specify a default value for the config, or make it available with .env,if your config uses env variables.

[2021-01-04 21:49] jrmajor commented on #749
Thanks, @canvural!

I thought, that the problem must be somewhere else, because after removing this value from `.env` and even from config files analysis was still passing. It turned out I had to run `clear-result-cache` to reproduce results from CI. `cp .env.example .env` fixed it.

[2021-01-05 10:39] SHELA opened #750 "Access to an undefined property REFRESH in Models"
- Larastan Version: 0.6.12
- `--level` used: dev

### Description

### Laravel code where the issue was found

[code]

[2021-01-05 11:16] szepeviktor commented on #750
Thank you for your report!
Please fix the PHPStan level and share your class with 1 method only.

[2021-01-05 11:19] szepeviktor commented on #750
Does it work without `->refresh()`?

[2021-01-06 08:26] arxeiss opened #752 "Crypt::decrypt and No application encryption key has been specified."
- Larastan Version: 0.6.11
- `--level` used: 6

### Description

In one controller I have this piece of code:

[code]
If I run phpstan on my local machine, it works. But if I run it in Gitlab CI I'm getting error below. This was not happening in previous versions of Larastan. If I remove `.env` file locally, I got the same error on my machine.

I know what is the problem, missing app key, but I do

[2021-01-06 08:30] arxeiss opened #753 "Crypt::decrypt and No application encryption key has been specified."
- Larastan Version: 0.6.11
- `--level` used: 6

### Description

In one controller I have this piece of code:

[code]
If I run phpstan on my local machine, it works. But if I run it in Gitlab CI I'm getting error below. This was not happening in previous versions of Larastan. If I remove `.env` file locally, I got the same error on my machine.

I know what is the problem, missing app key, but I do

[2021-01-06 09:36] szepeviktor commented on #752
Do you have `APP_ENV=...` in your `.env` file?

[2021-01-06 09:36] szepeviktor commented on #753
Duplicate of #752

[2021-01-06 09:36] #753 closed

[2021-01-06 09:38] szepeviktor commented on #752
Simply add `echo 'APP_ENV=testing' >>.env` to your CI.

[2021-01-06 10:01] szepeviktor commented on #752
I've just struggled with the very same problem yesterday.

[2021-01-06 10:47] arxeiss commented on #752
OK, That is not hard to add `APP_KEY` before running Larastan in CI. However

1. It wasn't needed before
2.This is written: Larastan focuses on finding errors in your code **without actually running**.

So why it needs APP_KEY when it is not executing? So maybe it is expected because of something. And you will need that. Or it is some bug in the Larastan/PHPStan which should be reported. That's wh

[2021-01-06 10:53] szepeviktor commented on #752
We boot Laravel.
We are working on replacing all Laravel convenience with static analysis.

[2021-01-06 10:53] #752 closed

[2021-01-11 13:22] mrsamse opened #754 "Call to an undefined static method Illuminate\Support\Facades\DB::query()."
Laravel version: 8.21.0
phpstan version: 0.12.65
phpstan level: 3

### Description
I have updated larastan from version 0.6.9 to version 0.6.12. Now I get the following error message in the console:

[code]

When I downgrade larastan back to version 0.6.9, everything works as usual. With version 0.6.10 everything also works, but with version 0.6.11 the same error occurs as described above. So ther

[2021-01-11 13:29] canvural commented on #754
Hi,

Thanks for the report. Will take a look.

[2021-01-11 13:56] szepeviktor commented on #754
Do you have `use Illuminate\Support\Facades\DB;` ?

[2021-01-12 10:43] nepda opened #755 "Call to undefined method PHPStan\Type\Generic\TemplateMixedType::getClassName()"
- Larastan Version: 0.6.12
- `--level` used: 6

### Description

When running with the latest version 0.6.12 I receive an error:
[code]
The Larastan file: `src/Methods/Pipes/BuilderLocalMacros.php`

### Laravel code where the issue was found

I don't know. I don't know how to find the position. Some files are green, some with this error. Please give me a hint, how to find it if you need it.

But i

[2021-01-12 10:58] canvural commented on #755
Hi,

Please try to find on which file this error happens and share the relevant code. Otherwise, I can't help.

[2021-01-12 11:12] nepda commented on #755
Thank you for reaching out!
I think it is this class:
[code]

How can I support you finding the real cause?

[2021-01-12 11:22] szepeviktor commented on #755
Try adding `--debug` to your command line.

[2021-01-12 11:26] nepda commented on #755
[code]

There is nothing directly used. It's little bit a complex setup.

[2021-01-12 11:28] canvural commented on #755
Could share some snippets from `PageController.php` where that builder is used? Or the whole file if you can.

[2021-01-12 11:32] nepda commented on #755
[code]

If I comment out the `$content` stuff, phpstan is green again.

[2021-01-12 11:38] nepda commented on #755
If I remove the `urlComponentAndClient` scope, it is green too.

[2021-01-12 11:47] szepeviktor commented on #755
What is in that scope method?

[2021-01-12 11:52] nepda commented on #755
Using the `Builder` from a few posts above.
[code]

[2021-01-12 15:14] Calinou opened #757 "PHP Fatal error: Cannot declare class Hoa\Protocol\Wrapper, because the name is already in use…"
- OS: Fedora 33
- PHP version: 7.4.13
- Larastan Version: 0.6.12
- `--level` used: 5

I'm using the ddefault configuration file from the README with the `excludes_analyse` section removed:

<details>

[code]
</details>

### Description

I get a PHP fatal error when running Larastan.

This happens when running any `vendor/bin/phpstan` command, even the ones not related to code analysis like `vendor

[2021-01-12 15:19] canvural commented on #757
Hi,

Is the same thing happens if you remove
[code]

from the config file?

[2021-01-12 15:21] Calinou commented on #757
@canvural Yes, I get the exact same error message if I remove that from `phpstan.neon`.

[2021-01-12 15:25] canvural commented on #757
So, this looks like an issue related to PHPStan. Please open an issue at https://github.com/phpstan/phpstan

[2021-01-12 15:25] #757 closed

[2021-01-14 08:57] nivv commented on #166
I'm still seeing this issue, maybe I'm doing something wrong.

[code]

Error from phpstan:

[code]

[2021-01-14 16:52] Ignas2526 opened #758 "Incorrect return type belongsTo"
- Larastan Version: 0.6.12
- phpstan version: 0.12.66
- `--level` used: 8

### Description

The return type for belongsTo is wrong.
I get following error:
[code]

### Laravel code where the issue was found

[code]
### More description

I tired to debug the code and I believe that issue is in the ModelRelationsDynamicMethodReturnTypeExtension class. It looks like it should provide type hints for Ha

[2021-01-14 17:04] canvural commented on #758
Hi,

That error message looks weird. The expected and the actual ones are the exact same.

Anyway, why do you need the `@phpstan-return`?
[code]

should work jsut fine.

[2021-01-14 17:11] Ignas2526 commented on #758
BelongsTo stub specifies two template models. The whole point of `@phpstan-return` and me writing type like that is so that I could get further hints when I call `get` for example.

[2021-01-14 17:12] canvural commented on #758
Larastan already recognizes that and returns generic return type. Just try with:
[code]

[2021-01-14 17:12] #758 closed

[2021-01-15 10:34] SlyDave opened #760 "Ternary operator condition is always true"
- Larastan Version: 0.6.12
- `--level` used: 5

### Description
Bit like https://github.com/nunomaduro/larastan/issues/150 but the short syntax, so it needs a truthy evaluation to work as expected

### Laravel code where the issue was found

`Ternary operator condition is always true.` in line `->whereDate('starts_at', '<=', $assignment->ends_at ?: Carbon::now()) `

[code]

Although I guess from P

[2021-01-15 10:38] canvural commented on #760
Hi,

I guess this happens because `$assignment->ends_at` is nullable. What is the type of `$assignment->ends_at`?

[2021-01-15 10:40] SlyDave commented on #760
That's correct.

The migration definition:
`$table->date('ends_at')->nullable();`

and it's set to auto cast to Carbon
[code]

[2021-01-15 10:46] canvural commented on #760
You can check what PHPStan thinks about its type with `\PHPStan\dumpType($assignment->ends_at)` Can you add this to `checkForCollisions` method, and see what is the type? Also please try with `ends_at` in the `$dates` cast array, and without in the array. There might be a bug in there.

[2021-01-15 10:52] SlyDave commented on #760
Dumped type: `Carbon\Carbon`

That got me going hmmmmm! So did a bit of hunting. I've found a competing phpdoc in `_ide_helper_models.php`. So stripped all the php docs, and regenerated Laravel Idea's helper file.

Error no longer appears.

Nice!. sorry for the bogus report.

[2021-01-15 10:52] #760 closed

[2021-01-15 11:01] canvural commented on #760
That's good! Are you including the `_ide_helper_models.php` file as a stub to PHPStan config?

[2021-01-15 11:02] SlyDave commented on #760
I'm not! I wasn't aware that was a thing

[code]
I do now, Thank you !

[2021-01-15 11:06] SlyDave commented on #760
That unfortunately fails with the Laravel Idea generated _ide_helper_models.php file (not tested the barryv ide-helper version of this file)

[code]

Looking into it and will report back any fixes etc.

[2021-01-15 11:20] canvural commented on #760
Sorry, I don't understand how changing `_ide_helper_models.php` helped you to fix the issue.

As a side note, although adding `_ide_helper_models.php` as a stub file will work on it's own, it might not work as expected together with Larastan. So use at your own risk.

[2021-01-15 11:35] SlyDave commented on #760
Sorry, I should have been clearer in the explanation.

There were 2 competing phpdoc definitions for the property, one was of Carbon the other of Carbon|null, removing the the incorrect definition resolved the issue.

[2021-01-15 11:48] SlyDave commented on #760
Issue with the Laravel Idea _ide_helper_models as noted above is caused by Laravel Idea wrapping phpdocs to new lines

[code]
vs
[code]

I'll log a issue with Laravel Idea

[2021-01-15 11:55] SlyDave commented on #760
Laravel Idea issue raised to address incompatibility with LaraStan https://github.com/laravel-idea/plugin/issues/181

[2021-01-18 12:33] stayallive opened #761 "Call to undefined method PHPStan\Type\MixedType::getClassName()"
- Larastan Version: 0.6.12
- `--level` used: 1

### Description

I am getting a similar error since upgrading from phpstan 0.6.11 to 0.6.12, I am running on PHP 8.

[code]

### Laravel code where the issue was found

[code]

And the relation definition from the `$entity` model:

[code]

The `\App\Models\QueryBuilders\UserBuilder` in the relation comment seems to cause the issue, replacing it with

[2021-01-18 12:40] canvural commented on #761
Hi,

You probably don't need that comment on the `authors` relationship. Just doing
[code]

should work.

[2021-01-18 13:05] stayallive commented on #761
Not if I want PhpStorm to have correct autocompletion, that is why we have that comment there.

But regardless, I would not expect a comment crashing phpstan even if it thinks it's redundant?

[2021-01-18 13:08] canvural commented on #761
That's right, it shouldn't crash. Will look into that.

But also I noticed that you are using `\App\Models\QueryBuilders\UserBuilder` in the type. That class is generic so you need something like `\App\Models\QueryBuilders\UserBuilder<User::class>` I think this should fix it.

[2021-01-18 14:04] marcospmsantos opened #762 "Conflict with deprecated excludes_analyse parameter"
- Larastan Version: 0.6.12
- `--level` used: 1

### Description
Error using the "excludePaths" parameter in phpstan.neon
In the file ./vendor/nunomaduro/larastan/extension.neon there is a use of the parameter "excludes_analyse", deprecated, that conflicts with the parameter "excludePaths".
Below is the error that appears on the console.

Configuration parameters "excludes_analyse" and "excludePath

[2021-01-18 14:17] szepeviktor commented on #762
Thank you for opening this issue.
It is resolved in #759
Not yet released.

[2021-01-18 14:17] #762 closed

[2021-01-18 14:18] szepeviktor commented on #762
You may try `composer require --dev nunomaduro/larastan:dev-master`

[2021-01-19 20:25] AdirYad opened #763 "Collection generics break as a result of using dedicated query builder"
- Larastan Version: 0.6.12
- `--level` used: max

### Description

When using [Dedicated Query Builders](https://timacdonald.me/dedicated-eloquent-model-query-builders/) the collection generics get broken.

### Laravel code where the issue was found

[code]
[code]

[code]

[code]

[2021-01-19 20:44] szepeviktor commented on #763
In one of the chained methods the specific model (Transation) is lost.
Try removing the method calls one by one and retest.

[2021-01-19 21:41] AdirYad commented on #763
@szepeviktor, I've edited the issue, you better read it again.
The issue happens because of the builder.

[2021-01-19 21:48] canvural commented on #763
@AdirYad You need docblocks to describe your custom builder correctly. You can read it [here.](https://github.com/nunomaduro/larastan/blob/master/UPGRADE.md#custom-eloquent-builders)

[2021-01-19 21:48] #763 closed

[2021-01-20 16:09] MatanYadaev commented on #729
@szepeviktor Any idea why it happens? It started only on v0.6.11, what in this release might cause this issue?
Previously this issue occurred because of using `SoftDelete` trait and `laravel-mysql-spatial` package. It got fixed in v0.6.10: https://github.com/nunomaduro/larastan/issues/709

These are the places the issue happens:
[code]

[code]

[code]

[2021-01-20 16:25] szepeviktor commented on #729
Larastan checks more and more things + we boot up Laravel.

[2021-01-20 23:38] aaronflorey opened #764 "How to correctly import ide-helper in phpstan.neon"
- Larastan Version: 0.6.12
- `--level` used: 1

### Description

I keep getting the usual errors about properties not existing on models. I'm wondering how i properly import ide-helper to remove these errors?

- phpstan.neon https://dl.dropboxusercontent.com/s/81432susubrapkr/Screenshot%20at%2010-28-55.png
- Model https://dl.dropboxusercontent.com/s/1fah1jr2rzirx1i/Screenshot%20at%2010-29-25.png
-

[2021-01-20 23:44] szepeviktor commented on #764
Larastan recognizes your migrations :)
https://github.com/nunomaduro/larastan/blob/master/docs/custom-config-paramaters.md#databasemigrationspath

[2021-01-20 23:47] canvural commented on #764
Hi,

As far as I can see, you have the migrations correctly setup. The only issue is the relationships. For that you have to define the return type for your relationship methods. For example:

[code]

You can import the generated ide helper file as a [PHPStan stub](https://phpstan.org/user-guide/stub-files), if you want. But I don't recommend doing that together with Larastan. So you have to choos